@import '../utils/variables';

.btn {
  display: inline-block;
  padding: 10px 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
  > i {
    line-height: 20px;
    &:first-child:not(:only-child) {
      margin-right: 5px;
    }
    &:last-child:not(:only-child) {
      margin-left: 5px;
    }
  }
  > input[type='file'] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 0;
    padding: 0;
    text-indent: -17px;
  }

  &-link {
    padding: 0;
    font-weight: normal;
    white-space: nowrap;
  }
  &-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &-fw {
    padding: 10px 5px; // small padding for small space. it won't affect large-space btn since it has text-align: center
    width: 100%;
    text-align: center;
  }
  &-long {
    padding: 10px 60px;
  }
  &-cta {
    position: fixed;
    bottom: 0;
    margin: 0;
  }
  &-sm {
    padding: 5px 10px;
    font-size: 0.9em;
  }

  // helper
  &-border {
    background: transparent;
    border: 1px solid $light-gray;
  }
}

// TODO: debt!!
.btn-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  font-size: 8px;
  background: $gray;
  color: $white;
  text-align: center;
  &.circle {
    border-radius: 50%;
  }
  &.bg-dark {
    background: $black;
  }
}

.btn.disabled {
  background-color: $ash-gray;
  color: $dark-gray;
}

.form {
  .btn {
    min-width: 100px;
    text-align: center;
  }
  .btn-create {
    background-color: $blue;
    color: $white;
  }
  .btn-update {
    background-color: $blue;
    color: $white;
  }
  .btn-delete {
    background-color: transparent;
    color: $dark-gray;
  }
}

.btn-create,
.btn-update {
  padding: 10px;
}

/** BUTTON - CUSTOMIZATION */
.btn-add-to-cart {
  position: absolute;
  top: 16px;
  right: 8px;
  padding: 4px 6px;
  width: 28px;
  border-radius: 4px;
  transition: all 0.3s;
  .suggest-dishes & {
    top: unset;
    bottom: 0;
    right: 0;
    padding: 4px 12px;
    width: unset;
  }
}

.btn-switch {
  border-radius: 13px;
  width: 40px;
  height: 20px;
  background-color: $gray;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  .bullet {
    margin: 2px;
    background-color: $white;
    border-radius: 13px;
    width: 16px;
    height: 16px;
    transition: all 0.2s ease-in-out;
  }
  &.active {
    background-color: $green;
    .bullet {
      margin-left: 22px;
    }
  }
  &.disactive {
    background-color: $dark-gray;
  }
}

.btn-clear-dish-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: $dark-gray;
  background-color: $white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: center;
  > i {
    line-height: 20px;
  }
}

.btn-banner {
  position: relative;
  top: 50%;
  width: 200px;
  text-transform: uppercase;
  transform: translateY(-50%);
  .mobile & {
    width: 100%;
    transform: none;
  }
}

.btn-platform {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  color: $black;
  line-height: 14px;
  vertical-align: middle;
  &:hover {
    border-color: $red;
    color: $red;
  }
}

.btn-create,
.btn-update {
  padding: 10px;
}

.btn-upload-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  input[type='file'] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 0;
    padding: 0;
    text-indent: -17px;
  }
}

.btn-attach-photo {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  i {
    margin-right: 8px;
    color: $black;
  }
  &.uploaded {
    color: $blue;
  }
}

.btn-search {
  margin: 5px -5px 5px 5px;
  padding: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: $black !important;
  .mobile .search-loship &,
  .mobile .search-lomart &,
  .partner & {
    margin: 0;
    background: transparent !important;
    color: $dark-gray !important;
  }
  .input-country-code-popup &,
  .select-payment & {
    position: absolute;
    top: 16px;
    margin: 4px;
  }
}

.btn-cancel-order {
  margin-top: 8px;
  padding: 8px;
  color: $black !important;
}

.btn-menu {
  padding: 0 4px;
  font-size: 1.5em;
}

.btn-login {
  .mobile & {
    padding: 8px;
    white-space: nowrap;
  }
}

.btn-back {
  cursor: pointer;
  .gmap-popup &,
  .map & {
    position: absolute;
    top: 24px;
    left: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background: $white;
    color: $black;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .payment-page-process & {
    margin-top: 16px;
    padding: 16px;
    background: transparent !important;
    color: $blue !important;
    border: 2px solid $blue;
  }
  .banner-popup & {
    padding: 4px 8px !important;
  }
}

.btn-refresh {
  .gmap-popup & {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background: $white;
    color: $black;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.btn-mc-avatar {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  color: $black;
  line-height: 25px;
  text-align: center;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
  .lz {
    line-height: inherit !important;
  }
}

.btn-camera {
  .user-profile-update & {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(calc(-50% + 32px));
    padding: 6px;
    border-radius: 50%;
    > i {
      margin: 0 !important;
    }
  }
  .profile-card & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 36px), -50%);
    padding: 6px;
    border-radius: 50%;
    > i {
      margin: 0;
    }
  }
}

.btn-city {
  .user-profile-page & {
    margin-top: 8px;
    font-size: 0.9em;
    white-space: nowrap;
  }
}

.btn-verify-code {
  .profile-popup & {
    margin: 16px 0;
    width: 224px;
    border-radius: 5px;
  }
}

.btn-expand {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 4px;
  width: 100%;
  color: $black;
  text-align: center;
}

.btn-facebook {
  color: $facebook !important;
  font-weight: bold;
  > i {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 4px 0 0 2px;
    border-radius: 50%;
    background: $facebook;
    color: $white;
  }
}

.btn-send {
  .topbar & {
    padding: 0 4px;
    color: $black !important;
    border: 1px solid $black;
    border-radius: 6px;
  }
}

.btn-promo {
  .order-step-confirm & {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 8px;
    padding: 0 8px;
    line-height: 14px;
    font-size: $fz-xs;
    background: transparent;
    border: 1px solid $black;
    &.applied {
      color: $green !important;
      border-color: $green;
      > i {
        border-color: $green;
      }
    }
    > i {
      padding-right: 8px;
      border-right: 1px dashed $black;
    }
    > span {
      min-width: 50px;
    }
    > .lz-close {
      position: absolute;
      top: -8px;
      left: -10px;
      padding: 0px 5px;
      background: $dark-gray;
      color: $white;
      border: none;
      border-radius: 50%;
      font-size: 10px;
    }
  }
}

.btn-filter {
  margin-left: 8px;
  padding: 8px 10px;
}

.btn-denied {
  .generic-popup & {
    align-self: flex-start;
    margin-top: -16px;
    padding: 16px;
    > i {
      left: 16px;
    }
    > span {
      color: $dark-gray;
    }
  }
}

.btn-view-merchant {
  .eatery-ratings & {
    padding: 5px 10px;
    background: transparent !important;
    color: $blue !important;
    border: 2px solid $blue;
  }
}

.btn-re-center {
  position: absolute;
  top: 24px;
  right: 16px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $white;
  color: $black;
  font-size: 20px;
  text-align: center;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  >i {
    line-height: 32px;
  }
}
