@import '../utils/variables';

.carousel {
  &-paging {
    &-bar {
      padding: 0 15px;
      text-align: left;
      z-index: 1;
      > li {
        width: auto;
        &.slick-active button {
          background: $red;
        }
        button {
          padding: 0;
          width: 10px;
          height: 3px;
          background: $gray;
          border-radius: 10px;
          &:before {
            content: '';
          }
        }
      }
    }
  }
  &-slide-link {
    display: block;
    height: 100%;
    cursor: zoom-in;
  }
  .desktop & {
    .slick-track {
      margin: 0;
    }
  }
}

.banner-list {
  margin: 16px auto;
  .banner-item {
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 8px;
    }
  }
  .slick-arrow {
    &:before {
      content: '';
      display: block !important;
      position: absolute;
      top: 50%;
      transform: translate(10px, -50%);
      width: 40px;
      height: 40px;
      background: $black;
      border-radius: 50%;
    }
    > i {
      height: 40px;
      width: 40px;
      line-height: 40px;
    }
  }
}

.slick-slider {
  .slick-list {
    border-radius: 8px;
  }
  .slick-arrow {
    width: 60px;
    height: 100%;
    z-index: 1;
    &.slick-next {
      transform: translate(30px, -50%);
    }
    &.slick-prev {
      transform: translate(-30px, -50%);
    }
    > i {
      position: relative;
      font-size: 24px;
      color: white;
    }
    &:before {
      display: none;
    }
  }
}
