@import '../utils/_variables';

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: $black;
  cursor: pointer;
  &.active {
    > .icon-checkbox {
      color: $red;
      border-color: $red;
    }
  }
  &.reverse {
    > .icon-checkbox {
      order: -1;
      margin-left: 0;
      margin-right: 8px;
    }
  }
  &.disabled {
    color: $dark-gray !important;
    cursor: not-allowed;
  }
  &.radio {
    > .icon-checkbox {
      position: relative;
      border-radius: 50%;
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
    &.active {
      > i {
        border-color: $red;
        &:after {
          background-color: $red;
        }
      }
    }
  }
  > .icon-checkbox {
    position: relative;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    border: 1px solid $dark-gray;
    border-radius: $radius-sm;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
