@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';

.screen .group-control-center {
  @extend %TEXT;
  margin-bottom: 8px;
  padding: 15px;
  line-height: 21px;
  .lz {
    line-height: 21px;
  }
  background: $white;
  .fa-chevron-right {
    float: right;
  }

  .group {
    &-title {
      @extend %text-trimmed;
      position: relative;
      font-weight: bold;
      padding-right: 52px;
      margin: 8px 0;
      .btn-leave-group {
        position: absolute;
        right: 0;
        color: $dark-gray;
        font-size: 10px;
        font-weight: normal;
      }
    }
    &-members {
      float: right;
      .member-avatar {
        display: inline-block;
        margin-left: 4px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $gray;
        background-size: cover;
      }
      span {
        float: right;
        margin-left: 4px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        background-color: $black;
        color: $white;
        text-align: center;
        font-size: 12px;
      }
    }
    &-action {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      > .action {
        padding-bottom: 4px;
        line-height: 20px;
        color: $blue;
        font-weight: bold;
        > i {
          margin-right: 8px;
        }
      }
    }
  }
}

// TODO: move code into .mobile and apply correct style for desktop
