/** LZ ICON STYLING HELPER */

.lz {
  &-spin {
    display: inline-block !important;
    animation: spin 1s linear infinite;
  }
  &-bold {
    -webkit-text-stroke: 1px !important;
  }
  &-2d {
    font-size: 0.7em !important;
  }
  &-2x {
    font-size: 2em !important;
  }
  &-3x {
    font-size: 3em !important;
  }
  &-4x {
    font-size: 4em !important;
  }
  &-fw {
    display: inline-block !important;
    width: 1.25rem !important;
    text-align: center !important;
  }
}

.icon-header-popup {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 32px;
  color: $red;
}
