.input-group {
  display: flex;
  background-color: $ash-gray;
  border-radius: 3px;
  position: relative;
  line-height: 20px;
  border: 1px solid transparent;
  > span {
    padding: 10px;
    color: $dark-gray;
  }
  > input {
    background-color: transparent;
    outline: none;
  }
}

.input-phone-number {
  display: flex;
  font-size: 20px;
  > .btn {
    display: flex;
    justify-content: center;
    margin-right: 8px;
    padding: 16px 10px;
    > img {
      height: 28px;
      margin: -4px 8px -4px 0;
    }
    > i {
      margin-left: 4px;
      font-size: 10px;
      color: $dark-gray;
    }
  }
  > input {
    padding: 0 10px;
    width: 100%;
    line-height: 20px;
    font-weight: bold;
    border: 2px solid $blue;
    border-radius: 8px;
  }
}

.input-auto-grow {
  padding: 0;
  line-height: 24px;
  resize: none;
  background: none;
  border: none;
  border-bottom: 1px solid $light-gray;
  border-radius: 0;
  &:focus {
    border-color: $blue;
  }
}
