@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';
.language-switcher {
  position: relative;
  display: inline-block;
  .selected {
    padding-right: 15px;
    > a {
      color: $black;
      cursor: pointer;
      display: block;
      line-height: 20px;
      padding-left: 22px;
      position: relative;
      > .icon {
        border-radius: 3px;
        left: 0;
        position: absolute;
        top: 5px;
        width: 15px !important;
      }
    }
    > i {
      font-size: 8px;
      position: absolute;
      right: 4px;
      top: calc(50% - 4px);
    }
  }
}
