@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.list {
  &-view {
    background: $white;
    .title {
      @extend %headline;
      padding: 8px;
      > small {
        font-weight: normal;
        color: $gray;
      }
    }
  }
  &-item {
    display: flex;
    position: relative;
    .figure {
      flex-basis: 64px;
    }
    .content {
      flex: 1;
      height: 100%;
      &:not(:first-child) {
        padding-left: 8px;
      }
    }
  }
}

.flex {
  &-view {
    background: $white;
    .title {
      @extend %headline;
      padding: 8px;
    }
  }
  &-item {
    display: flex;
    position: relative;
    padding: 8px;
    &.center {
      align-items: center;
    }
    .flex-view {
      flex-basis: 100%;
    }
    > i {
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

.dish-item {
  padding: 16px 12px;

  .img-lazy {
    width: 120px;
  }
  .content {
    .name {
      @extend %title;
      @include expander($line: 2);
      margin-bottom: 5px;
      .desktop & {
        padding-right: 32px;
      }
    }
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: right;
      margin-bottom: 5px;
      .old {
        margin-left: 4px;
        color: $dark-gray;
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    .selected-count {
      .desktop & {
        margin-top: 8px;
        color: $blue;
        font-size: 14px;
      }
      .mobile & {
        position: absolute;
        right: 8px;
        bottom: 8px;
        padding: 0 6px;
        line-height: 22px;
        background: $red;
        color: $white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        z-index: 1;
      }
    }
    .description {
      position: relative;
      background: $white;
      color: $dark-gray;
      overflow: hidden;
      &.show-read-more {
        max-height: 60px;
        .read-more {
          position: absolute;
          left: 0;
          right: 0;
          top: 40px;
          line-height: 20px;
          text-align: right;
          > a {
            padding-left: 12px;
            background: $white;
          }
        }
      }
      &.full {
        max-height: unset;
        overflow: initial;
        .read-more {
          position: static;
          top: 100%;
        }
      }
      p {
        line-height: 20px;
        margin: 0;
        word-break: break-word;
      }
    }
  }
}

.img-lazy {
  margin: 0 auto;
  width: 50px;
  cursor: pointer;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  &.hover-mode {
    &:hover {
      .big-avatar {
        top: -100px;
        left: 72px;
        transform: translateY(0);
        &-wrapper {
          position: absolute;
          width: 0;
          visibility: visible;
          &:before {
            content: unset;
          }
        }
      }
    }
  }
  &.round-square {
    border-radius: 8px;
    > .img,
    .placeholder {
      border-radius: 8px;
    }
  }
  &.square {
    border-radius: 0;
    > .img,
    .placeholder {
      border-radius: 0;
    }
  }
  &.loaded {
    height: unset;
  }
  .placeholder {
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  > .img {
    padding-bottom: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.15s linear;
    // &[data-src] {
    //   position: fixed !important;
    //   opacity: 0;
    //   z-index: -1;
    // }
  }
  .big-avatar {
    @extend %module;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: 3px solid $white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    transition: filter 0.5s;
    &[data-src] {
      filter: blur(4px);
    }
    &-wrapper {
      @extend %layer-popup;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &:before {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $bg-popup;
      }
      &.hidden {
        visibility: hidden;
      }
    }
  }
}

.card {
  background: $white;
  border-radius: 8px;
  &-heading {
    @extend %title;
    padding: 16px;
    border-bottom: 1px solid $light-gray;
  }
  &-content {
    padding: 0 16px;
    .card-item {
      padding: 16px 0;
      & + .card-item {
        border-top: 1px solid $light-gray;
      }
      > i {
        margin-top: 3px;
        &:first-child {
          margin-right: 5px;
        }
        &:last-child {
          margin-left: 8px;
        }
      }
    }
  }
}
