@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.section-newsfeed {
  position: relative;
  margin-bottom: 10px;
  padding: 15px 0;
  width: 100%;
  background: $white;
  &.horizontal {
    > .content {
      overflow-x: auto;
      .list-view {
        flex-wrap: nowrap !important;
      }
      .list-item {
        &+ .list-item {
          margin-left: 15px;
        }
      }
    }
  }
  &.dish,
  &.eatery-ratings {
    padding-top: 10px;
    background: inherit;
    .list-view {
      background: inherit;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    h2 {
      @extend %HEADING;
      @extend %text-trimmed;
      text-transform: uppercase;
    }
    a {
      @extend %TEXT;
      font-weight: bold;
      text-decoration: none;
      white-space: nowrap;
    }
    .action {
      color: $dark-gray;
      font-weight: normal;
      font-style: italic;
    }
  }
  > .content {
    .list-view {
      display: flex;
    }
    .list-item {
      flex-direction: column;
      background: $white;
      color: $black;
      overflow: hidden;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      .spinner-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
      }
      .content {
        min-width: 0;
      }
    }
    .view-all {
      > .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 10px;
        width: 100%;
        color: $red;
        border: 1px solid $red;
        border-radius: 12px;
        text-align: center;
        > i {
          margin-top: 16px;
          font-size: 20px;
        }
      }
    }
    .category-item {
      margin: 8px;
      width: 100px;
      height: 150px;
      background: transparent;
      border: none;
      text-align: center;
      .figure {
        flex-basis: 100px;
        width: 100%;
        border-radius: 12px;
      }
      .content {
        padding: 8px 0 0;
        .metadata {
          @include expander($line: 2);
        }
      }
    }
    .eatery-item-landing,
    .eatery-item {
      border: 1px solid $light-gray;
      border-radius: 12px;
      .img-lazy {
        flex-basis: 130px;
        width: 100%;
        height: 130px;
        object-fit: cover;
      }
      .content {
        padding: 5px 10px;
        .metadata {
          @extend %TEXT;
          @include expander($line: 2);
          position: relative;
          line-height: 21px;
          margin-bottom: 4px;
        }
        .distance {
          display: inline-flex;
          margin-bottom: 4px;
          > i {
            margin-right: 5px;
            line-height: 22px;
            font-size: 14px;
          }
          + .distance {
            margin-left: 10px;
          }
        }
        .merchant-tag {
          white-space: nowrap;
          .sponsored {
            @extend %sponsored;
            margin-right: 8px;
          }

        }
        .merchant-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .main {
            @extend %text-trimmed;
            flex: 1;
            padding-right: 8px;
            color: $blue;
            > i {
              margin-right: 5px;
              line-height: inherit;
              color: $black;
            }
          }
        }
        .merchant-thoughtful {
          position: absolute;
          right: 5px;
          bottom: 114px;
          background-color: $white;
          border-radius: 6px;
          padding: 2px 4px;
        }
      }
      .promotion {
        @extend %TEXT;
        @extend %text-trimmed;
        display: inline-block;
        line-height: 21px;
        max-width: 100%;
        border-radius: 8px;
        > i {
          margin-right: 5px;
          line-height: inherit;
          color: $red;
        }
      }
    }
    .eatery-item {
      .eatery-chain {
        > i {
          margin-right: 5px;
          line-height: 22px;
          font-size: 14px;
        }
      }
    }
    .eatery-rating-item {
      margin-bottom: 10px;
      padding: 15px;
      width: 100%;
      > .content {
        flex: unset;
        display: flex;
        padding: 0 0 15px;
        height: unset;
        border-bottom: 1px solid $light-gray;
        &.rating-item {
          flex-direction: column;
          align-items: flex-start;
        }
        .img-lazy {
          width: 40px;
          height: 40px;
        }
        .metadata {
          flex: 1;
          padding: 0 5px 0 10px;
          min-width: 0;
          .name {
            @extend %text-trimmed;
            > i {
              margin-right: 5px
            }
          }
          .eatery-name {
            color: $blue;
          }
        }
        .btn-view-merchant {
          border-width: 1px;
        }
        .expand-container {
          width: 100%;
          background: $white;
          .view-more {
            width: 100%;
            text-align: center;
            color: $dark-gray;
          }
        }
        .rating-photos-list {
          display: flex;
          &-wrapper {
            width: 100%;
            overflow: auto;
          }
          .img-lazy {
            width: 120px;
            height: 120px;
            + .img-lazy {
              margin-left: 15px;
            }
          }
        }
      }
      > .action {
        display: flex;
        align-items: center;
        margin-bottom: -15px;
        .img-lazy {
          width: 16px;
          height: 16px;
          margin: 0 5px 0 0;
        }
        .btn-like {
          display: flex;
          align-items: center;
          justify-content: center;
          @keyframes anim-like {
            0%, 100% {
              transform: scale(1);
              opacity: 1;
            }
            30% {
              transform: scale(1.1);
              opacity: 0.8;
            }
          }
          &.active {
            font-weight: bold;
            animation: anim-like 0.2s linear;
          }
        }
        .btn {
          padding: 15px 0;
          flex: 1;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 32px;
    background: $white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  }
}

.desktop {
  .section-newsfeed {
    background: transparent;
    &.horizontal {
      > .content {
        .list-item {
          flex: 1;
        }
      }
    }
    > .content {
      .list-view {
        flex-wrap: wrap;
        margin: 0 -8px;
        background: transparent;
      }
      .btn-view-all {
        @extend %TEXT;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        color: inherit;
        cursor: pointer;
        > i {
          line-height: 22px;
        }
      }
      .category-item {
        flex-basis: calc(10% - 16px);
      }
      .view-all,
      .eatery-item-landing,
      .eatery-item {
        margin: 8px;
        width: calc(100% / 6 - 16px);
        .img-lazy {
          flex-basis: 170px;
          height: 170px;
        }
        .content {
          .merchant-name {
            height: 42px;
          }
        }
      }
      .eatery-rating-item {
        border: 1px solid $light-gray;
        border-radius: 12px;
      }
    }
  }
}

.mobile {
  .section-newsfeed {
    &.horizontal {
      > .content {
        padding: 0 15px;
      }
    }
    .title {
      margin: 0 15px 10px;
      &.with-action {
        margin-bottom: 35px;
      }
      .action {
        position: absolute;
        top: 100%;
      }
    }
    > .content {
      .list-view {
        flex-wrap: wrap;
      }
      .view-all,
      .eatery-item-landing {
        width: 132px;
        .merchant-name {
          height: 42px;
        }
      }
      .eatery-item {
        flex-direction: row;
        padding: 10px;
        width: 100%;
        height: unset;
        border: none;
        .img-lazy {
          flex-basis: 120px;
          width: 120px;
          height: 120px;
        }
        .content {
          flex: 1;
          margin-left: 10px;
          padding: 0;
        }
      }
      .eatery-chain-eatery-item,
      .eatery-dish-item {
        margin: 0 0 10px;
        padding: 10px;
        width: 100%;
        > .content {
          padding: 0 0 10px;
          border-bottom: 1px solid $light-gray;
          .metadata {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > .name {
              @extend %text-trimmed;
            }
          }
          .info {
            display: flex;
            .distance {
              > i {
                margin-right: 5px;
                line-height: 22px;
                font-size: 14px;
              }
              + .distance,
              + .loship-partner-icon {
                margin-left: 10px;
              }
            }
            .loship-partner-icon {
              @extend %text-trimmed;
              flex: 1;
              display: block;
            }
          }
        }
        .dish-item {
          flex-direction: row;
          padding: 15px 0 0;
          width: 100%;
        }
      }
      .eatery-chain-eatery-item {
        margin: 0;
        padding: 15px 10px;
        + .eatery-chain-eatery-item {
          border-top: 1px solid $light-gray;
        }
        > .content {
          padding: 0;
          border: none;
        }
      }
    }
  }
}
