@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';

.top-banner {
  position: relative;
  width: 100%;
  min-height: 265px;
  background-size: auto 265px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;

  &.loship,
  &.search-loship,
  &.partner {
    background-color: #f0f0f0;
    .wrapper {
      max-width: 550px;
    }
  }

  &.lomart,
  &.search-lomart {
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 350px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
      z-index: 0;
    }
    h1 {
      padding: 20px;
      color: $white;
      font-weight: normal;
      text-transform: uppercase;
    }
    .wrapper {
      margin-top: 10px;
      .search-box {
        margin-top: 0;
      }
    }
  }

  .search-box {
    display: flex;
    background: $white;
    border-radius: 26px;
    overflow: hidden;
    margin-top: 150px;
    &-input {
      flex: 1;
      padding: 10px;
      background: inherit;
      border: none;
    }
  }
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(100% - 24px);
    max-width: 700px;
  }
}

.mobile {
  .top-banner {
    background-size: auto 132px;
    &.loship {
      min-height: 265px;
      background-size: 100% 265px;
      .wrapper {
        top: 85px;
      }
      .search-box {
        .lz-close {
          margin: 15px 10px 15px 0;
        }
      }
    }
    &.lomart {
      background-size: auto 350px;
      h1 {
        margin-bottom: 15px;
        padding: 0;
        font-size: 1.5em;
      }
      .search-box {
        .lz-close {
          margin: 15px 10px 15px 0;
        }
      }
    }
    &.search-loship,
    &.search-lomart,
    &.partner {
      position: sticky;
      top: 0;
      min-height: 60px;
      background: $white;
      z-index: 1;
      &:before {
        background: none;
      }
      .search-box {
        margin-top: 0;
        height: 40px;
        border: 1px solid $light-gray;
        border-radius: 8px;
        &-input {
          padding: 5px 10px 5px 0;
        }
      }
    }
  }
  .search-box {
    .lz-close {
      margin: 10px 10px 10px 0;
      padding: 4px;
      width: 20px;
      height: 20px;
      line-height: 12px;
      background: $gray;
      color: $white;
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
      cursor: pointer;
    }
  }
}
