@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.list-alert {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
  width: 320px;
  > li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.alert {
  @include box-shadow(0, 2px, 2px, 0, rgba(226, 137, 137, 0.07));
  background-color: $white;
  border-radius: $radius-sm;
  border: 1px solid $blue;
  opacity: 1;
  position: relative;
  width: 100%;
  transition: opacity 0.5s ease;
  padding-right: 25px;
  padding-left: 10px;
  z-index: 9999;
  &.expired {
    opacity: 0;

    &.aaa {
      display: none;
    }
  }
  .btn-close-alert {
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: $dark-gray;
    border: 0;
    background-color: transparent;
  }

  .alert-image {
  }

  .alert-content {
    padding: 10px;
    min-height: 50px;
    position: relative;
    > a {
      font-size: 14px;
      color: $blue;
      position: absolute;
      bottom: 5px;
      left: 10px;
    }
  }
  > div {
    position: relative;
    display: inline-block;
    width: 100%;
    background-size: 50px 50px;
    background-position: bottom left;
    background-repeat: no-repeat;
  }
  .alert-success {
    background-image: url('/dist/images/vector/flash-upload.svg');
    padding-left: 50px;
  }
  .alert-error {
    padding-left: 50px;
    background-image: url('/dist/images/vector/flash-error.svg');
  }
}
