@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.app-banner {
  width: 100%;
  background-color: $red;
  color: $white;
  margin-top: 150px;
  .app-banner-wrapper {
    max-width: 1180px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    padding: 30px 0 0 400px;
  }
  .promo-text {
    text-align: left;
  }
  .hand-phone {
    background-image: url('/dist/images/hand-phone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px 0;
    display: block;
    width: 180px;
    height: 228px;
    position: absolute;
    bottom: 0;
    left: 150px;
  }
  .app-img {
    position: absolute;
    top: 36px;
    img {
      height: 43px;
      width: auto;
    }
    &.app-ios {
      right: 147px;
    }
    &.app-android {
      right: 0;
    }
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }
  p {
    font-size: 16px;
    margin: 0;
    img {
      width: 45px;
    }
  }

  .order-suspended &,
  .order-failed & {
    margin-bottom: 0;
    margin-top: 0;
    border-bottom-left-radius: $radius-md;
    border-bottom-right-radius: $radius-md;
    .app-banner-wrapper {
      padding: 5px 0 0 112px;
    }
    .hand-phone {
      width: 120px;
      height: 126px;
      left: 0;
    }
    .app-img {
      top: 66px;
      img {
        height: 38px;
        backface-visibility: visible;
      }
      &.app-ios {
        right: 188px;
      }
      &.app-android {
        right: 52px;
      }
    }
  }
}

.banner-footer {
  background: $white;
  color: $black;
  margin-top: 32px;
  .app-banner-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1180px;
    border-bottom: 1px solid $light-gray;
    text-align: center;
    h3 {
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    .app-list {
      .app-img {
        & + .app-img {
          margin-left: 16px;
        }
        img {
          height: 48px;
          width: auto;
        }
      }
    }
    .app-input {
      display: flex;
      align-items: stretch;
      .input-phone-number {
        font-size: 16px;
        .btn {
          position: relative;
          margin-right: 0;
          background: transparent;
          border-width: 1px 0 1px 1px;
          border-radius: 8px 0 0 8px;
          border-style: solid;
          border-color: $light-gray;
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 8px;
            bottom: 8px;
            border-right: 1px solid $light-gray;
          }
          > i {
            margin-left: 24px;
          }
        }
        input {
          min-width: 250px;
          background: transparent;
          border-width: 1px 1px 1px 0;
          border-radius: 0 8px 8px 0;
          border-style: solid;
          border-color: $light-gray;
          font-weight: normal;
        }
      }
      > .btn {
        line-height: 32px;
      }
    }
    .app-privacy {
      padding: 8px 16px;
      max-width: 430px;
      font-size: 12px;
      color: $dark-gray;
      a {
        display: block;
        color: $dark-gray;
        text-decoration: underline;
      }
    }
  }
}

.banner-sticky {
  @extend %layer-toaa;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(0, 0, 0, 0.65);
  background-color: $white;
  // border-top: 1px solid $gray-d8;
  box-shadow: $shadow-hi;
  color: $black;
  padding: 10px;
  .viewer-title {
    text-align: center;
    padding: 10px 0;
    font-size: $fz-xl;
  }
  .btn {
    position: relative;
    position: relative;
    padding: 20px 20px 20px 80px;
    text-transform: uppercase;
    font-size: $fz-xl;
    text-align: left;
    line-height: 1.3;
  }
  .btn img {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 12px;
    color: $black;
  }
}

.merchant-manager-banner {
  @extend %module;
  position: relative;
  background-color: $red;
  padding: 10px 10px 10px 150px;
  color: $white;
  width: 100%;
  margin-bottom: 15px;

  .promo-image {
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .promo-text {
    padding: 10px;
    position: relative;
    z-index: 1;
    background: linear-gradient(
      to right,
      rgba(237, 52, 69, 0) 0%,
      rgba(237, 52, 69, 0.9) 1%,
      rgba(237, 52, 69, 0.9) 99%,
      rgba(237, 52, 69, 0) 100%
    );
    h1 {
      font-size: 20px;
    }
    .cta-button {
      position: absolute;
      background-color: $white;
      color: $red;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  p {
    margin: 0;
  }
}

.lomart-banner {
  background-color: $red;
  border-radius: $radius-lg;
  padding: 20px 20px 20px 180px;
  position: relative;
  margin-top: 64px;
  margin-bottom: 40px;
  margin-right: -15px;
  display: flex;
  color: $white;
  .bg {
    position: absolute;
    border-radius: $radius-lg;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    .bg-shade {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .bg-image {
      background-image: url(~assets/images/lomart/cover.jpg);
      position: absolute;
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
      background-color: #e4e4e4;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      filter: blur(20px);
      z-index: 0;
    }
  }
  > img {
    position: absolute;
    width: 240px;
    bottom: 0;
    left: 0;
  }
  > div {
    position: relative;
  }
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  p {
    margin: 0 0 5px;
  }
  .content {
    padding: 0 20px;
    font-size: 18px;
  }
}

.mobile {
  .merchant-manager-banner {
    margin: 8px;
    padding: 8px;
    width: unset;
    overflow: hidden;
    .promo-image {
      right: 0;
      left: auto;
      transform: scaleX(-1);
      height: auto;
      width: 100%;
    }
    .promo-text {
      padding: 5px;
      .cta-button {
        display: inline-block;
        position: relative;
        margin-top: 20px;
      }
    }
  }

  .app-banner {
    margin-top: 0;
    .app-banner-wrapper {
      height: auto;
      padding: 15px 140px 15px 15px;
    }
    .hand-phone {
      background-image: url('/dist/images/hand-phone.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 20px 0;
      display: block;
      width: 104px;
      height: 123px;
      position: absolute;
      bottom: 0;
      left: inherit;
      right: 15px;
    }
    .promo-btns {
      margin-top: 10px;
    }
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      img {
        width: 45px;
      }
    }
    .app-img,
    .app-img.app-ios,
    .app-img.app-android {
      right: initial;
      left: initial;
      top: initial;
      position: relative;
    }
  }

  .lomart-banner {
    flex-direction: column;
    padding: 10px;
    padding-top: 100px;
    display: inline-block;
    border-radius: 0;
    margin-right: 0;
    > img {
      position: absolute;
      width: auto;
      height: 180px;
      top: 16px;
      bottom: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    > div {
    }

    h3 {
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 0 10px;
    }
    p {
      margin: 0 0 5px;
    }
    .content {
      padding: 0;
      // font-size: 18px;
    }
  }
}
