@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.order-cart {
  @extend %layer-nav;
  width: 350px;
  overflow: auto;
  .mc-cart {
    @extend %module;
    position: relative;
    padding: 15px;
    .cart-header {
      border-bottom: 1px solid $gray;
      padding-bottom: 5px;
      h3 {
        margin: 0 0 10px;
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: 400;
        display: inline;
        line-height: 32px;
      }
      .group-order-box {
        float: right;
        position: relative;
        .btn-group-order {
          color: $white;
          background-color: $blue;
          .hint-icon .question {
            color: $white;
            border-color: $white;
          }
        }
      }
    }
    .cart-group-action {
      padding: 10px 0;
      .btn {
        font-size: 14px;
        color: $black;
      }
      .btn-view-group {
        padding-left: 0;
        font-size: 16px;
        background-color: transparent;
        color: $blue;
      }
      .btn-group-order {
        background-color: $blue;
        color: $white;
        float: right;
        .hint-icon .question {
          color: $white;
        }
      }
    }
  }
  .hint-popup {
    position: relative;
    margin-bottom: 5px;
    padding: 10px 20px 10px 10px;
    border-radius: $radius-md;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    color: $white;
    .close {
      position: absolute;
      top: 4px;
      right: 4px;
      width: 16px;
      height: 16px;
      color: $white;
      font-size: 8px;
      i {
        line-height: 16px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      right: 20px;
      width: 0;
      height: 0;
      border-top: 15px solid rgba(0, 0, 0, 0.4);
      border-left: 0px solid transparent;
      border-right: 15px solid transparent;
    }
  }

  > .action {
    margin-top: 8px;
    .action-info {
      color: $dark-gray;
      text-align: center;
      display: block;
      margin: 0px;
      padding: 10px;
      &.dark {
        color: $black;
      }
    }
  }

  .content {
    padding: 0;
  }

  .order-item {
    .quantity {
      &.hidden {
        display: none;
      }
    }
    .price {
      order: 3;
      flex-basis: 76px;
      text-align: right;
    }
  }

  .mqtt-status {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    background-color: $orange;
    color: $white;
    font-weight: bold;
    text-align: center;
    border-radius: $radius-md;
    z-index: 1;
  }

  .btn-cart-next {
    width: 100%;
  }
}

.order-cart-lines {
  background: $white;
  text-align: left;
  .list-view {
    &.cart-user {
      width: 100%;
      > :not(:last-child) {
        border-bottom: 1px solid $light-gray;
      }
      .title {
        display: flex;
        align-items: center;
        padding: 8px 0;
        .img-lazy {
          width: 36px;
        }
        .status {
          font-weight: bold;
          color: $dark-gray;
          &.locked {
            color: $green;
          }
        }
      }
      .list-item {
        display: flex;
        align-items: center;
        .main {
          flex: 1;
          .sub {
            color: $dark-gray;
            font-size: 14px;
            white-space: pre-wrap;
          }
        }
        .quantity {
          align-self: flex-start;
          margin: 2px 8px 0 0;
          width: 28px;
          background: $red;
          color: $white;
          font-size: 12px;
          font-weight: bold;
          border-radius: 12px;
          text-align: center;
        }
      }
    }
  }
  .list-item {
    padding: 8px 0;
    &.empty {
      padding: 16px;
      color: $gray;
      text-align: center;
    }
    &.deleted {
      text-decoration: line-through;
    }
    &.fee {
      justify-content: space-between;
      padding: 12px 0;
      border-top: 1px solid $light-gray;

      .price {
        .old {
          color: $red;
        }
      }
    }
    &.cta {
      justify-content: space-between;
      padding: 12px 0;
      .estimated {
        margin-left: 5px;
        color: $dark-gray;
      }
    }
    &.brief-users {
      flex-wrap: wrap;
      padding: 16px 0;
      .title {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        font-weight: normal;
        color: $dark-gray;
      }
      > .img-lazy {
        margin: 0 6px 0 0;
        width: 28px;
      }
    }
    &.code-box {
      &.bg-error {
        margin: 0 -16px;
        padding: 16px;
        .desktop & {
          border-radius: 8px;
        }
      }
    }
    .price {
      min-width: 76px;
      text-align: right;
      > .lz-discount {
        margin-right: 3px;
        color: $green;
        font-size: 20px;
      }
      .old {
        display: block;
        margin-left: 4px;
        color: $dark-gray;
        font-size: 14px;
        text-decoration: line-through;
        text-align: right;
      }
    }
  }
  .suggest-dishes-wrapper {
    margin-top: 16px;
    overflow: auto;
    .title {
      position: sticky;
      left: 0;
    }
    .suggest-dishes {
      display: flex;
      margin: 16px 0;
      .dish-item {
        padding: 0;
        width: 288px;
        & + .dish-item {
          margin-left: 12px;
          padding-left: 12px;
          border-left: 1px solid $light-gray;
        }
        .img-lazy {
          width: 80px;
        }
      }
    }
  }
}

.popup.order-cart-popup {
  width: 400px;
  max-height: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  .desktop & {
    top: unset;
    bottom: 100px;
    left: unset;
    right: 48px;
    transform: none;
    & + .popup-bg {
      background: transparent;
    }
    > .content {
      max-height: 460px;
    }
  }
  > .content {
    background: $ash-gray;
    padding: 0;
    .merchant-info {
      display: flex;
      align-items: center;
      margin: 12px 0;
      padding: 16px;
      background: $white;
      color: $black;
      text-align: left;
      .content {
        @extend %text-trimmed;
        margin-right: 8px;
        p {
          margin: 0;
        }
      }
    }
    .order-cart-lines {
      padding: 0 16px;
    }
    .btn-cart-next {
      margin: 8px 16px;
      width: calc(100% - 32px);
    }
  }
}

.order-cart-icon {
  position: fixed;
  bottom: 32px;
  right: 48px;
  transition: all 0.2s;
  &:not(.layer-lv0) {
    @extend %layer-lv3;
  }
  & + .order-debt-icon {
    right: 130px;
  }
  .btn-cart {
    padding: 0;
    width: 56px;
    height: 56px;
    background: $white !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    .lz-cart {
      margin: 0 !important;
      line-height: 56px;
      font-size: 32px;
    }
    .quantity {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
      line-height: 16px;
      text-align: center;
      background: $red;
      color: $white;
      font-weight: bold;
      font-size: 12px;
      border-radius: 5px;
    }
  }
}

.mobile {
  .order-cart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $white;
    box-shadow: $shadow-hi;
    z-index: 101;
    &.fullscreen {
      @extend %layer-popup;
      height: 100%;
    }
    > .action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 12px 8px 8px;
      .cart-summary {
        display: inline-flex;
        .btn-cart {
          position: relative;
          margin-right: 12px;
          padding: 8px;
          width: 40px;
          font-size: 24px;
          > .quantity {
            position: absolute;
            top: -8px;
            right: -8px;
            padding: 0 4px;
            line-height: 22px;
            background: $red;
            color: $white;
            font-size: 16px;
            border-radius: 4px;
          }
        }
        .total {
          color: $dark-gray;
          > b {
            color: $black;
          }
        }
      }
    }
  }

  .order-cart-lines {
    padding: 16px;
    background-color: $white;
    .summary {
      margin-bottom: 8px;
    }
    .hint {
      display: flex;
      color: $dark-gray;
      border: 1px solid $light-gray;
      border-left: none;
      border-right: none;
      padding: 16px;
      > i {
        margin-right: 8px;
      }
    }
    .list-item {
      &.order-line {
        flex-wrap: wrap;
        align-items: flex-start;
        .action {
          order: 3;
          flex-basis: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 4px;
        }
      }
      &.fee {
        .price {
          .old {
            font-size: 12px;
          }
        }
      }
      &.cta {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px 16px 60px;
        background: $white;
        box-shadow: $shadow-hi;
      }
    }
  }

  .order-cart-popup {
    .content {
      .order-cart-lines {
        margin-bottom: 96px;
        padding: 0 16px;
      }
      .btn-cart-next {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  .order-cart-icon {
    bottom: 15px;
    right: 15px;
  }
}
