@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';
.code-box {
  &.order-item {
    .desktop & {
      margin: 0 -8px;
      padding: 8px !important;
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    > :first-child {
      margin-right: 4px;
    }
    input {
      flex: 1;
      width: 100%;
      max-width: 200px;
      height: 30px;
      line-height: 30px;
      font-size: 13px;
      font-weight: bold;
      & + i {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 20px;
        height: 100%;
        line-height: 30px;
        color: $green;
        font-size: 8px;
        text-align: center;
        &.pending {
          color: $dark-gray;
          font-size: 12px;
        }
        &.error {
          color: $red;
        }
      }
    }
    .lz-close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px;
      min-width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $gray;
      color: $white;
      font-size: 8px;
      cursor: pointer;
    }
    .code-main {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      .code {
        @extend %text-trimmed;
        font-weight: bold;
      }
    }
    .notice {
      flex-basis: 100%;
      margin-top: 8px;
    }
  }
}

.mobile {
  .code-box {
    .code-value {
      font-size: 0.9rem;
    }
  }
}
