@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.footer {
  background-color: $white;
  width: 100%;
  .footer-wraper {
    padding: 30px 0px 48px;
    max-width: 1180px;
    margin: 0px auto;
    display: flex;
    .col {
      flex-basis: 190px;
      &.main {
        flex: 1;
      }
      + .col {
        padding-left: 15px;
      }
      > * {
        margin: 10px 0 0;
        .fanpage {
          margin: 20px 0 0;
          width: 100%;
        }
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        &:not(.support-loship) {
          color: $dark-gray;
          &:hover {
            color: $red;
          }
        }
      }
      .icon-app {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 118px;
        height: 35px;
        display: block;
        &.apple {
          background-image: url('/dist/images/apple.png');
        }
        &.android {
          background-image: url('/dist/images/chplay.png');
        }
      }
      .item-social {
        margin-left: 35px;
        .social {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          display: inline-block;
          &.link-fb {
            background-image: url('/dist/images/link-fb.png');
            width: 17px;
            height: 30px;
          }
          &.link-ins {
            background-image: url('/dist/images/link-ins.png');
            width: 30px;
            height: 30px;
            margin-left: 15px;
          }
        }
      }
      .special-info {
        margin: 0;
        color: $dark-gray;
        font-size: 12px;
      }
    }
    .logo-loship {
      height: 20px;
    }
    .lbl-social {
      font-size: 16px;
      color: $dark-gray;
      margin-top: 10px;
      font-weight: bold;
      display: block;
    }
    .list-social {
      display: inline-block;
      width: 100%;
      list-style: none;
      margin-top: 15px;
      padding: 0;
      li {
        float: left;
        margin-right: 15px;
        img {
          width: 40px;
        }
      }
    }
    h3 {
      display: flex;
      align-items: center;
      img {
        padding-left: 8px;
        height: 32px;
      }
    }
  }
  &-language-menu {
    background: white;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 10px 0 50px 0 !important;
    .dropdown-menu {
      bottom: 100%;
      left: 0;
      > ul {
        &:before {
          border-style: hidden;
        }
      }
    }
  }
  hr {
    border: 1px solid $gray;
    &.bottom {
      width: 1180px;
    }
  }
}

.mobile {
  .footer {
    margin: 0px;
    .footer-wraper {
      padding: 10px;
      padding-bottom: 50px;
      max-width: unset;
      flex-direction: column;
      .col + .col {
        padding-left: 0;
      }
      .col {
        margin: 20px 0 0;
      }
      .fanpage {
        width: 100%;
      }
      .col + .col {
        padding-top: 10px;
        padding-left: 0px;
      }
    }
  }
}
