.form {
  .form-group {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    &.with-upper-separator {
      border-top: 1px solid $gray;
      padding-top: 10px;
    }
    &:first-child {
      margin-top: 0;
    }
    > * {
      display: inline-block;
      vertical-align: top;
    }
    > label {
      width: 140px;
      padding: 5px 5px 5px 0;
      line-height: 20px;
      > .required {
        color: $red;
      }
    }
    .input {
      flex: 1;
      > select,
      > input,
      > textarea {
        display: block;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 5px;
        outline: none;
        line-height: 20px;
        font-size: 14px;
        padding: 5px 10px;
        width: 100%;
        &:focus {
          border-color: $blue;
        }
        &:disabled {
          background-color: $light-gray;
        }
      }
      > textarea {
        resize: vertical;
      }
      > div {
        padding: 5px 0;
      }
      .input-note {
        // margin-top: 5px;
        font-size: 14px;
        color: $dark-gray;
      }
    }
  }
  .form-text {
    margin-top: 10px;
    padding: 5px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  .form-message {
    color: $red;
    padding: 10px 0;
  }
  .form-action {
    text-align: right;
    margin-top: 10px;
    border-top: 1px solid $gray;
    padding-top: 10px;
    > .btn {
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }
    }
    .history {
      float: left;
      text-align: left;
      max-width: 300px;
      padding-bottom: 8px;
      font-size: 12px;
      font-style: italic;
      color: $dark-gray;
      a {
        color: inherit;
      }
    }
  }
  .form-field {
    &.w50p {
      display: inline-block;
      width: 50%;
    }
  }
}

.form.inline {
  display: flex;
  .form-group {
    width: auto;
    display: flex;
    margin-top: 0;
    > label,
    > .input {
      width: auto;
    }
  }
  .form-group + .form-group {
    margin-left: 10px;
  }
}

.form-v2 {
  padding: 8px 0;
  background: $white;
  .form-item {
    padding: 12px 16px;
    font-size: 14px;
    &.required {
      > label:after {
        content: ' (*)';
      }
    }
    &.half {
      display: inline-block;
      width: 50%;
    }
    > label {
      font-weight: bold;
    }
    input,
    select {
      width: 100%;
    }
    input {
      padding: 8px 0 4px;
      line-height: 20px;
      background: transparent;
      border: none;
      border-bottom: 1px solid $light-gray;
      border-radius: 0;
      &:hover {
        border-color: $gray;
      }
      &:focus {
        border-color: $blue;
      }
    }
    select {
      padding: 0;
      background: transparent;
      border: none;
      border-bottom: 1px solid $light-gray;
      border-radius: 0;
    }
    &-content {
      position: relative;
      > i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        &.prefix {
          left: 0;
          + input {
            padding-left: 20px;
          }
        }
        &.postfix {
          right: 0;
          + input {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .form-annotate {
    padding: 8px 16px;
    color: $dark-gray;
  }
  .form-validation {
    padding: 16px 16px 8px;
    color: $red;
    p {
      margin: 0 0 4px;
    }
  }
}

.react-datepicker {
  &__navigation {
    height: 16px;
    background: transparent;
    color: transparent;
  }
  &-wrapper,
  &__input-container {
    display: block !important;
  }
  &__month-dropdown-container,
  &__year-dropdown-container {
    margin: 8px 8px 0 !important;
    background: $white;
    text-align: left;
    border: 1px solid $gray;
    select {
      height: 24px;
      line-height: 24px;
    }
  }
}
