@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.map-container {
  width: 100%;
  height: 100%;
  min-height: 310px;
  .gm-style-iw {
    margin-top: 20px;
    padding: 5px 10px !important;
    background: $black;
    color: $white;
    z-index: 1;
  }
  .gm-style-iw-d {
    overflow: hidden !important;
  }
}
