@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.hint-icon {
  position: relative;
  cursor: pointer;

  .question {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 13px;
    border-radius: 50%;
    border: 1px solid $dark-gray;
    color: $dark-gray;
    text-align: center;
  }
  .hint-content {
    display: none;
    position: absolute;
    border-radius: $radius-md;
    background-color: $black;
    color: $white;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    bottom: 100%;
    width: 250px;
    left: 50%;
    transform: translateX(-20%);
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400;
    > p {
      margin: 0 0 5px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 20%;
      transform: translateX(-50%);
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: $black transparent transparent transparent;
    }
  }
  &:hover .hint-content {
    display: block;
    z-index: 10;
  }
  .mobile & {
    .hint-content {
      display: none;
    }
  }
}

.hint-icon.loship-partner-icon {
  display: inline-flex;
  align-items: center;
  color: $black;
  font-size: 16px;
  > i {
    margin-right: 4px;
    line-height: 20px;
  }
}
