@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.list {
  @extend %list-default;
}

.list-alert {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
  width: 320px;
  > li {
    width: 100%;
    margin-bottom: 10px;
  }
}