@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.mobile {
  .mobile-nav-wrapper {
    @extend %layer-nav;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    color: $black;
    box-shadow: 0 0px 8px -4px rgba(0, 0, 0, 0.4);
    &.red {
      background-color: $red;
      color: $white;
      box-shadow: none;
      .mobile-navbar {
        .nav-action {
          top: 40px;
          color: $dark-gray;
        }
      }
    }
    .mobile-navbar {
      padding: 8px;
      text-align: center;
      font-weight: bold;
      .back-arrow {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 8px;
        color: inherit;
        i {
          line-height: 30px;
        }
      }
      .nav-action {
        position: absolute;
        right: 8px;
        color: inherit;
        line-height: 20px;
        font-size: 12px;
        font-weight: normal;
      }

      .information-code {
        display: inline-grid;
        float: right;
        margin: -4px 0 4px;
        font-size: 12px;
        font-weight: normal;
        text-align: right;
      }
      .logo-loship {
        position: absolute;
        left: 8px;
        width: 52px;
        height: 10px;
        margin: 6px 0;
        background-image: url(/dist/images/lg-loship-mb.png);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}
