@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.mobile {
  .navbar {
    z-index: 99;
    .logo {
      margin-left: 8px;
      width: 80px;
    }
    .city-selector {
      color: $black;
      padding: 10px 5px;
      display: inline-block;
      height: 44px;
      line-height: 24px;
      text-align: center;
      width: 100px;
      .value {
        @extend %text-trimmed;
        line-height: 24px;
        font-weight: 700;
      }
      > i {
        font-size: 8px;
        line-height: 24px;
        margin-left: 3px;
      }
    }
  }
  .drop-down-menu {
    right: 10px !important;
    padding-top: 15px !important;
    > ul {
      > li {
        > a {
          line-height: 20px !important;
        }
      }
    }
  }
  .navbar .user-nav-menu {
    -webkit-tap-highlight-color: transparent;
    .notifier-content {
      left: 10px;
      top: 70px;
      width: calc(100% - 20px);
      max-height: calc(100% - 80px);
      > h3 {
        position: relative;
        padding: 0 30px;
        line-height: 35px;
        > .btn-close-popup {
          position: absolute;
          right: 10px;
          top: 0;
          font-size: 20px;
          line-height: 35px;
          > i {
            line-height: 35px;
          }
          color: $black;
        }
      }
      > div {
        max-height: calc(100vh - 150px);
        .order-detail {
          display: flex;
          flex-wrap: wrap;
          .od-row {
            .od-col {
              &.left {
                width: calc(100vw - 180px);
              }
              &.right {
                flex-grow: 1;
                width: 80px;
                text-align: center;
              }
            }
          }
        }
      }
      > a {
        font-size: 16px;
        line-height: 34px;
      }
    }
    .feature-introducer-wrapper {
      .feature-introducer {
        top: 6px;
        right: 8px;
      }
    }
    .notifier {
      .feature-introducer {
        top: 4px;
        right: -6px;
      }
    }
  }
}

.navbar {
  @extend %module;
  border-radius: 0;
  width: 100%;
  padding: 0;
  &.navbar-app {
    display: flex;
    > .container {
      justify-content: center;
      align-items: center;
      height: 40px;
      position: relative;
    }
    .back-arrow {
      position: absolute;
      left: 16px;
      top: 15px;
      color: $black;
    }
    .logo {
      width: 80px;
    }
    .nav-icon {
      position: absolute;
      right: 10px;
      &+ .user-nav-menu {
        right: 40px;
      }
    }
    .user-nav-menu {
      position: absolute;
      right: 10px;
    }
  }
  > .container {
    display: flex;
    padding: 5px 0;
    .blank {
      flex-grow: 1;
    }
  }
  > .topbar-wrapper {
    padding: 5px 0 0;
    .topbar {
      display: flex;
      padding-left: 133px;
      line-height: 20px;
      font-size: 12px;
      color: $black;
      > * {
        margin-right: 48px;
      }
      .input-phone-number {
        font-size: 14px;
        span {
          padding: 0;
          border: none;
          font-size: 14px;
          font-weight: normal;
          > img {
            display: none;
          }
        }
        input {
          padding: 0 5px;
          background: transparent;
          border: 1px solid $gray;
          border-radius: 6px;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    @media (max-width: 767px) {
      display: none !important;
    }
  }
  .logo {
    margin-right: 10px;
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .user-nav-menu {
    display: flex;
    align-items: center;
    line-height: 40px;
    i {
      line-height: 40px;
    }
    .nav-option {
      display: inline-block;
      padding: 0px 10px;
      background-color: $ash-gray;
      color: $black;
      border-radius: $radius-sm;
      height: 40px;
      .placeholder {
        color: $dark-gray;
        display: inline-block;
        padding-right: 5px;
      }
      .value {
        display: inline-block;
        min-width: 100px;
      }
      i {
        padding: 0px;
        font-size: 10px;
      }
    }
    .btn-nav-link {
      border: 0;
      color: $black;
      padding: 0 10px;
      .hot {
        margin-left: 4px;
        padding: 0 5px;
        line-height: 14px;
        background: $red;
        color: $white;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
      }
    }
    .nav-item {
      vertical-align: top;
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding: 0 8px;
      &:last-child {
        border-right: 0;
        margin-right: 0;
      }
      .drop-down-menu {
        display: none;
        position: absolute;
        z-index: 10;
        top: 100%;
        min-width: 180px;
        width: 100%;
        padding-top: 20px;
        right: 0;
        > ul {
          @extend %module;
          padding: 5px 10px;
          position: relative;
          &:after {
            right: 15px;
            top: -5px;
            position: absolute;
            content: ' ';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $white;
          }
          :last-child {
            border-bottom: 0px;
          }
          > li {
            position: relative;
            border-bottom: 1px solid $gray;
            padding: 10px 5px;
            a {
              color: $black;
              display: block;
              line-height: 24px;
              .feature-introducer {
                display: inline-block;
                position: unset;
                margin-left: 4px;
              }
            }
          }
        }
      }
      &:focus .drop-down-menu,
      &:hover .drop-down-menu,
      .drop-down-menu.active {
        display: block;
      }
      >.feature-introducer {
        top: -2px;
        right: 6px;
      }
    }
    .img-lazy {
      width: 30px;
      margin-left: 16px;
    }
    .notifier {
      padding: 0;
      font-size: 20px;
      color: $dark-gray;
      position: relative;
      .feature-introducer {
        top: 4px;
        right: -6px;
      }
      .badge {
        position: absolute;
        top: 4px;
        right: -4px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
        color: $white;
        background-color: $red;
        border-radius: 50%;
      }
    }
    .notifier-backdrop {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      cursor: default;
      background-color: rgba($color: $black, $alpha: 0.2);
    }
    .notifier-content {
      > h3 {
        background-color: $ash-gray;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        line-height: 29px;
        border-bottom: 1px solid $gray;
      }
      > a {
        line-height: 29px;
        display: block;
        text-align: center;
        color: $blue;
        background-color: $white;
        border-top: 1px solid $gray;
        font-size: 14px;
      }
      @extend %module;
      padding: 0px;
      z-index: 100;
      position: fixed;
      top: 90px;
      right: 0px;
      width: 400px;
      overflow: hidden;
      max-height: 380px;
      > div {
        overflow: auto;
        max-height: 320px;
        > ul > li {
          border-top: 1px solid $gray;
          &:first-child {
            border-width: 0;
          }
        }
      }
      .nt-order-item,
      .nt-notification-item {
        // display: flex;
        // margin: 10px 0;
        padding: 10px 10px 10px 60px;
        position: relative;
        min-height: 60px;
        &.new {
          background-color: #ffffef;
        }
        &:hover {
          background-color: $ash-gray;
        }
        .eatery-avatar,
        .noti-avatar {
          width: 40px;
          height: 40px;
          position: absolute;
          border-radius: 3px;
          overflow: hidden;
          top: 10px;
          left: 10px;
          > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .order-detail,
        .notification-detail {
          font-size: 14px;
          * {
            line-height: 20px;
          }
          .label {
            color: $dark-gray;
            margin-right: 5px;
          }
          .od-row {
            display: flex;
            flex-direction: row;
          }
          .od-col {
            > div {
              @extend %text-trimmed;
            }
            &.left {
              width: 250px;
            }
            &.right {
              width: 80px;
              text-align: right;
            }
          }
          .order-status {
            display: inline-block;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 5px;
            color: $dark-gray;
            &.pre_order {
              color: $dark-gray;
            }
            &.purchasing,
            &.deliverying {
              color: $orange;
            }
            &.cancelled {
              color: $dark-gray;
            }
            &.done {
              color: $green;
            }
          }
          .time {
            font-size: 12px;
            color: $dark-gray;
          }
        }
      }
      .rating-shipper-wrapper {
        text-align: center;
        margin-top: 5px;
        padding: 10px;
        border: 1px dashed $blue;
        > p {
          margin: 0 0 5px;
        }
      }
      .btn-rating-shipper {
        display: inline-block;
        color: $white;
        background-color: $blue;
        padding: 4px 10px;
        font-size: 14px;
      }
    }
  }
  .nav-icon {
    position: relative;
    padding: 0 8px;
    color: $black;
    > i {
      line-height: 40px;
    }
    .hot {
      position: absolute;
      top: 4px;
      right: 0;
      padding: 0 5px;
      line-height: 14px;
      background: $red;
      color: $white;
      border-radius: 4px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .user-card {
    > a {
      display: flex !important;
      .img-lazy {
        margin: 4px 4px 0 0;
      }
      .name {
        @extend %text-trimmed;
        line-height: 20px;
        flex: 1;
        .username {
          @extend %text-trimmed;
          font-size: 14px;
          line-height: 20px;
          color: $dark-gray;
        }
      }
    }
  }
}
