@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.number-input-up-down {
  display: inline-flex;
  height: 30px;
  input {
    &[type='number'] {
      -moz-appearance: textfield;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    width: 32px;
    padding: 0px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    border: none;
  }
  a {
    width: 32px;
    padding: 10px 0px;
    margin: 0px 4px;
    user-select: none;
    color: $red;
    background: $ash-gray;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: $radius-md;
    cursor: pointer;
    &.trash {
      // HACK!!
      padding: 7px 0;
      font-size: 14px;
    }
    &.disabled {
      background: transparent;
      color: $dark-gray !important;
      border: 1px solid $light-gray;
      cursor: not-allowed;
    }
  }
}
