@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';

.paginator {
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  > a {
    min-width: auto;
    padding: 5px 10px;
    font-size: 14px;
    color: $gray-42;
    border: 1px solid $gray-e4;
    background-color: $gray-e4;
    &.active {
      border-color: $gray-d8;
      background-color: $white;
      // color: $blue-sky;
    }
  }

  .total {
    padding: 5px 0;
    font-size: 14px;
    display: inline-block;
  }

  .page-numbers {
    display: inline-block;
  }
}
