@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';

.payment-method {
  &-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    &.extra {
      padding-top: 0 !important;
      > img {
        margin-right: 8px;
        width: 32px;
      }
      > i {
        margin-right: 8px;
        padding: 4px;
        width: 20px;
        font-size: 12px;
      }
    }
    > img {
      width: 20px;
    }
    .title {
      flex: 1;
      padding: 0 8px;
    }
    > i {
      padding: 8px;
    }
    .mobile & {
      padding: 16px;
    }
  }
}

.order-debt {
  &-container {
    background: $light-red;
    color: $red;
    padding: 0 16px;
    .title {
      display: flex;
      align-items: center;
      > i {
        margin-right: 10px;
      }
    }
  }
  &-icon {
    @extend %layer-lv3;
    position: fixed;
    bottom: 32px;
    right: 48px;
    transition: all 0.2s;
    .btn-order-debt {
      padding: 0;
      width: 56px;
      height: 56px;
      background: $light-red !important;
      color: $red !important;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      .fa-exclamation-triangle {
        margin: 0 !important;
        line-height: 56px;
        font-size: 24px;
      }
    }
  }
}
