@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';

.popup-wrapper {
  @extend %popup-fullscreen;
  @extend %layer-popup;
  .popup-bg {
    @extend %popup-fullscreen;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .popup {
    @extend %layer-popup;
    @extend %popup-center;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    background: $white;
    box-shadow: $shadow-hi;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    &-header {
      padding: 10px 40px;
      line-height: 20px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid $ash-gray;
      transition: all 0.3s;
      &.dynamic-height {
        height: unset;
      }
      &:not(.dynamic-height) {
        @extend %text-trimmed;
        height: 40px;
      }
      .btn-back {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        width: 40px;
        font-size: 12px;
        &.left {
          left: 0 !important;
          right: unset !important;
        }
        &.right {
          left: unset !important;
          right: 0 !important;
        }
        > i {
          line-height: 30px;
        }
      }
    }
    &-footer {
      padding: 12px 16px;
    }
    .content {
      flex: 1;
      max-height: calc(80vh - 40px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    // HELPER
    &.fullscreen {
      @extend %popup-fullscreen;
    }

    .content-left {
      > p {
        text-align: left;
      }
    }

    // ANIMATION
    // translateZ: use hardware acceleration
    &.fly-up {
      top: unset;
      bottom: -100%;
      width: 100% !important;
      min-height: 0;
      border-radius: 0;
      transform: translate(-50%) translateZ(0);
      &.active {
        bottom: 0;
      }
    }
    &.zoom-in {
      transform: translate(-50%, -50%) translateZ(0) scale(0);
      &.active {
        transform: translate(-50%, -50%) translateZ(0) scale(1);
      }
    }
    &.fade-in {
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
    &.slide-rtl {
      left: unset !important;
      right: -100%;
      border-radius: 0;
      transform: translateZ(0);
      &.active {
        right: 0;
      }
    }
  }
}

.popup.dish-select {
  width: 610px;
  .popup-header {
    border: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    .dish-item {
      padding: 16px;
      .desktop & {
        box-shadow: $shadow-low;
        .name {
          padding-right: 110px;
        }
        .number-input-up-down {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
      .description {
        max-height: 80px;
        white-space: pre-wrap;
        overflow: auto;
        &.expand-container {
          margin-bottom: -20px;
          padding-top: 0 !important;
        }
      }
      .lz-arrow-head-right {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .dish-custom {
      flex: 1;
      overflow: hidden auto;
      max-height: calc(80vh - 256px); // #hackforsafari
      .col {
        display: inline-block;
        vertical-align: top;
        width: 50%;
          .desktop & {
            border-right: 1px solid $light-gray;
          }
      }
      .flex-view {
        background: $white;
        margin-top: 10px;
        .desktop & {
          margin: 0 16px;
        }
        .title {
          padding: 16px 0 6px;
          > .note {
            font-weight: normal;
            font-size: 14px;
            color: $dark-gray;
          }
        }
        .flex-item {
          padding: 10px 0;
          .name {
            .price {
              color: $dark-gray;
              font-size: 14px;
              .desktop & {
                display: inline-block;
                margin-left: 4px;
              }
            }
          }
          .number-input-up-down {
            margin-right: 4px;
            height: 20px;
            a {
              margin: 0;
              width: 20px;
              padding: 5px;
              font-size: 8px;
            }
          }
        }
        .custom-option-item {
          justify-content: space-between;
          cursor: pointer;
        }
      }
    }
  }
  .popup-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    box-shadow: $shadow-hi;
    > :last-child {
      margin-left: 16px;
    }
  }
  textarea.note {
    flex: 1;
    width: 100%;
  }
}

.popup.order-suspended,
.popup.order-failed,
.popup.popup-custom,
.popup.confirm-popup {
  text-align: center;
  > .content {
    padding: 16px;
    &:not(:last-child) {
      padding-bottom: 0;
    }
  }
}

.popup.confirm-popup {
  .popup-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-confirm {
      margin: 0 0 0 8px;
    }
    &.flex-row-reverse .btn-confirm {
      margin: 0 8px 0 0;
    }
    &.flex-column .btn-confirm {
      margin: 8px 0 0 0;
    }
    &.flex-column-reverse .btn-confirm {
      margin: 0 0 8px 0;
    }
  }
}

.popup.generic-popup {
  &.search {
    > .popup-header {
      display: flex;
      align-items: center;
      padding: 8px 8px 8px 40px;
      height: 56px;
      .btn-back {
        margin-top: 8px;
      }
      .action {
        position: absolute;
        right: 16px;
        color: $dark-gray;
        cursor: pointer;
        &.lz-close {
          padding: 4px;
          background: $dark-gray;
          color: $white;
          border-radius: 50%;
          font-size: 8px;
        }
      }
    }
    .search-box-input {
      width: 100%;
      background: transparent;
      border: 1px solid $light-gray;
      border-radius: 8px;
    }
  }
}

.popup.login-form {
  border-radius: $radius-md;
  background-color: $white;
  width: 610px;
  padding: 35px;
  text-align: center;
  .form {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
  }
  .form-field {
    margin: 10px 0px;
    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
      text-align: left;
    }
    input {
      width: 100%;
    }
    &.flex {
      display: flex;
    }
    .form-select {
      padding: 8px 0;
      border: 1px solid $gray;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        border: 1px solid $dark-gray;
        color: $red;
      }
    }
  }
  h3 {
    font-size: 24px;
    margin: 0px;
    padding-bottom: 10px;
  }
  .btn-login-form {
    background-color: $green;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    flex-basis: 130px;
    margin-left: 12px;
    line-height: 30px;
  }
  .col-left {
    padding: 10px;
    padding-right: 20px;
    float: left;
    width: 50%;
  }
  .col-right {
    padding: 10px;
    padding-left: 20px;
    float: right;
    width: 50%;
  }
  .fail-msg {
    color: $red;
    display: none;
  }
  &.fail {
    .fail-msg {
      display: block;
    }
  }
  .verify-information {
    .wrap-avatar {
      img {
        margin: 0 auto;
        border-radius: 50%;
      }
    }
  }
}

.create-group-popup {
  @extend %module;
  max-width: 700px;
  padding: 0px;
  width: 100%;
  .title {
    background-color: $red;
    padding: 10px;
    font-size: 16px;
    color: $white;
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
  }
  .body {
    padding: 20px;
  }
  p {
    margin: 0 0 10px;
  }
  .input-box {
    margin: 20px auto;
    position: relative;
    display: flex;
    width: 400px;
    > input {
      flex-grow: 1;
      resize: none;
      font-size: 14px;
      line-height: 20px;
      color: $dark-gray;
      padding: 10px;
      margin-right: 5px;
    }
  }
  .note {
    display: block;
    margin: 5px 0; // color: $red;
    // font-style: italic;
  }
  .popup-footer {
    padding-top: 10px;
    text-align: center;
    > a + a {
      margin-left: 8px;
    }
  }
}

.popup.popup-group-member {
  @extend %module;
  padding: 0px;
  width: 610px;
  max-height: 610px;
  .title {
    background-color: $red;
    padding: 10px;
    font-size: 16px;
    color: $white;
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
  }
  .member-list-wrapper {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 10px;
  }
  .member-list {
    padding: 15px 15px 0;
    width: 100%;
    td {
      border-top: 1px solid $gray;
      padding: 10px 0px;
    }
    .avatar {
      width: 50px;
    }
    .name {
      text-align: left;
      font-weight: bold;
      padding-left: 20px;
    }
    .count {
      position: relative;
      text-align: center;
    }
    .status {
      text-transform: uppercase;
      margin-left: 5px;
      font-size: 14px;
      text-align: left;
      color: $dark-gray;
      &.ordering {
        color: $orange;
      }
      &.done {
        color: $green;
      }
    }
    .red {
      color: $red;
    }
    .green {
      color: $green;
    }
    .status i {
      width: 30px;
      font-size: 14px;
      line-height: 16px;
      padding: 0 5px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .btn-member-action {
      font-size: 14px; // font-weight: bold;
      width: 85px;
    }
  }
  .note {
    padding: 0 15px;
  }
  .popup-footer {
    text-align: right;
    padding: 15px;
    > * {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    .btn {
      font-size: 16px;
    }
    .btn-close {
      line-height: 28px;
    }
    .btn.disabled {
      cursor: not-allowed;
    }
  }
}

.popup.invite-popup {
  width: 450px;
  z-index: 1000;
  .popup-header {
    padding: 10px 40px 10px 10px;
    height: unset;
    font-weight: normal;
    text-align: left;
    white-space: normal;
  }
  .content {
    .share-items {
      display: flex;
      flex-wrap: wrap;
      padding: 16px 24px;
      .share-item {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        margin: 12px 0;
        text-align: center;
        .SocialMediaShareButton--facebook,
        .SocialMediaShareButton--linkedin {
          overflow: hidden;
          width: 60px;
          height: 60px;
          border-radius: 10px;
          > div {
            margin: -10px;
          }
        }
      }
    }
  }
  .popup-footer {
    border-top: 1px solid $light-gray;
    text-align: center;
    > .action {
      padding: 8px;
      color: $dark-gray;
      line-height: 20px;
    }
  }
}

.popup.select-payment {
  width: 100%;
  max-width: 480px;
  height: 640px;
  > .content {
    background: $ash-gray;
    &.add-card {
      flex: unset;
    }
  }
  .title {
    padding: 16px 16px 8px;
    font-weight: bold;
  }
  .note {
    padding: 0 16px 16px;
    color: $dark-gray;
  }
  .search-box {
    position: sticky;
    top: 0;
    padding: 16px;
    background: $white;
    z-index: 1;
    > input {
      padding-left: 36px;
      width: 100%;
      background: transparent;
      border: 1px solid $light-gray;
      border-radius: 8px;
    }
  }
  .checkbox-saved {
    padding: 16px;
  }
  .list-payment-method,
  .list-bank {
    .list-item {
      padding: 16px;
      cursor: pointer;
      > span {
        flex: 1;
        display: flex;
        align-items: center;
      }
      img {
        width: 32px;
        height: 24px;
      }
    }
    .card,
    .bank {
      img {
        margin-right: 8px;
      }
    }
  }
}

.group-order-invite-popup {
  width: 520px;
  padding: 16px;
  font-size: 14px;
  .popup {
    &-inner {
      margin: -16px;
    }
    &-header {
      margin-bottom: 16px;
      line-height: 20px;
      text-align: center;
      font-weight: bold;
      .back-btn {
        position: absolute;
        left: 16px;
        color: $red;
      }
    }
    &-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      width: 100%;
      height: 116px;
      border-top: 1px solid $gray;
      text-align: center;
      &.short {
        padding: 8px;
        height: unset;
      }
      > .action {
        padding: 8px;
        font-weight: bold;
        color: $dark-gray;
        line-height: 20px;
        &.primary {
          width: 100%;
          background: $red;
          color: $white;
          border-radius: 8px;
        }
      }
    }
  }
  .content {
    padding: 16px;
    .shortlink {
      padding: 8px;
      border: 1px solid $gray;
      border-radius: 8px;
      text-align: center;
      color: $dark-gray;
    }
    &.actions {
      display: flex;
      justify-content: center;
      > .action {
        align-self: flex-start;
        display: inline-block;
        margin: 0 8px;
        padding: 10px;
        width: calc(50% - 8px);
        max-width: 175px;
        line-height: 20px;
        background: $ash-gray;
        border-radius: 8px;
        color: $black;
        text-align: center;
        > i {
          margin-right: 8px;
        }
      }
    }
  }
}

.group-order-member-list-popup {
  display: flex;
  flex-direction: column;
  .popup {
    &-header {
      margin-bottom: 16px;
      .btn-back {
        padding: 5px 10px;
        width: unset;
        line-height: 28px;
        color: $red;
        font-size: 14px;
        font-weight: normal;
      }
    }
    &-footer {
      box-shadow: $shadow-hi;
    }
  }
  .content {
    flex: 1;
    overflow: auto;
    .hint {
      display: flex;
      color: $dark-gray;
      border-left: none;
      border-right: none;
      padding: 16px;
      > i {
        margin-right: 8px;
      }
    }
    .members {
      margin: 8px 0;
      .member {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        border-top: 1px solid $light-gray;
        &-avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: $gray;
          background-size: cover;
        }
        > * {
          margin-right: 4px;
        }
        > .lz-crown {
          margin-left: 4px;
        }
        > .name {
          flex: 1;
        }
        .status {
          text-align: right;
          font-weight: bold;
          color: $dark-gray;
          cursor: pointer;
          &.locked {
            color: $green;
            .icon-check {
              background: $green;
              color: $white;
            }
          }
          .icon-check {
            display: inline-block;
            margin-left: 16px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            border-radius: 50%;
            text-align: center;
            background: $ash-gray;
          }
        }
      }
    }
  }
}

.popup.popup-update-avatar {
  text-align: center;
  .content {
    padding: 0 16px;
  }
  .uploader {
    margin: 16px 0;
    padding: 32px 16px;
    color: $dark-gray;
    border: 2px dashed $dark-gray;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $blue;
      border-color: $blue;
    }
    > i {
      font-size: 40px;
    }
  }
  .avatar {
    align-self: center;
    position: relative;
    margin: 16px 0;
    img {
      width: 156px;
      height: 156px;
      object-fit: cover;
      border-radius: 8px;
    }
    .close {
      position: absolute;
      right: -4px;
      top: -4px;
      padding: 0px 2px 2px;
      background: $white;
      border-radius: 50%;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}

.popup.popup-photo {
  @extend %module;
  padding: 0;
  max-width: calc(100% - 32px);
  max-height: 65vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .close-btn {
    position: absolute;
    right: 6px;
    top: 8px;
    color: $dark-gray;
    font-size: 12px;
    cursor: pointer;
  }
}

.operating-time-table {
  width: 360px;
  max-width: 100%;
  .operating-time {
    &-row {
      display: flex;
      text-align: left;
      + .operating-time-row {
        border-top: 1px dashed $dark-gray;
      }
    }
    &-column {
      flex-basis: 70%;
      display: flex;
      padding: 8px 0;
      &.header {
        font-weight: bold;
        flex: unset;
        flex-basis: 30%;
      }
      &-item {
        flex: 1;
        line-height: 24px;
        padding: 0 4px;
        + .operating-time-column-item {
          border-left: 1px solid $dark-gray;
          text-align: right;
        }
      }
    }
  }
}

.popup-group-info {
  .lz-info-square {
    font-size: 36px;
    color: $red;
    + p {
      margin-top: 16px;
    }
  }
  .btn.transparent {
    margin-top: 10px;
  }
}

.popup.rating-popup {
  width: 480px;
  background: $ash-gray;
  .popup-header,
  .popup-footer {
    background: $white;
  }
  .content {
    margin: 10px 0;
  }
  .section-newsfeed {
    margin-bottom: 0;
    .title {
      margin-bottom: 0;
    }
    .content {
      .eatery-item {
        margin-top: 0;
        padding: 0 10px;
      }
    }
  }
  .shipper-item {
    display: flex;
    flex-wrap: wrap;
    background: $white;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    > p {
      flex-basis: 100%;
      margin: 0;
      color: $dark-gray;
      margin-bottom: 5px;
      font-size: 14px;
    }
    .avatar {
      display: inline-block;
      width: 44px;
      height: 44px;
      border-radius: $radius-lg;
      overflow: hidden;
      &.circle {
        border-radius: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .detail {
      flex: 1;
      padding: 0 8px;
      max-width: calc(100% - 50px);
      p {
        @extend %text-trimmed;
        margin: 0;
        color: $dark-gray;
        font-size: 14px;
        &.title {
          color: $black;
        }
      }
    }
  }
  .merchant-item {
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    background: $white;
    &-header {
      margin: 0;
      padding: 15px 15px 0;
      background: $white;
      color: $dark-gray;
    }
    .avatar {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: $radius-lg;
      overflow: hidden;
      &.circle {
        border-radius: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .detail {
      flex: 1;
      padding-left: 10px;
      width: calc(100% - 70px);
      p {
        margin: 0;
        &.title {
          @include expander($line: 2);
          color: $black;
          margin-bottom: 5px;
        }
        &.address {
          color: $dark-gray;
          @extend %text-trimmed;
        }
      }
    }
  }
  .review-description-wrapper {
    padding: 0 15px;
    background: $white;
    .review-description {
      width: 100%;
      &:not(.input) {
        padding-bottom: 10px;
        border-bottom: 1px solid $light-gray;
      }
    }
  }
  .review-count {
    padding: 10px 0;
    text-align: right;
    color: $dark-gray;
  }
  .review-tip {
    margin: 10px 0;
    padding: 15px;
    background: $white;
  }
  .rating-wrapper {
    padding: 10px 0;
    background: $white;
    &.readonly {
      padding: 0;
      .rating {
        background: transparent;
      }
    }
    .rating {
      display: flex;
      margin: 0 15px;
      background: $ash-gray;
      border-radius: 8px;
      &-item {
        flex: 1;
        position: relative;
        margin: 6px;
        padding: 8px;
        text-align: center;
        color: $dark-gray;
        font-size: 12px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        > i {
          font-size: 28px;
        }
        & + .rating-item:before {
          content: '';
          position: absolute;
          left: -7px;
          top: 0;
          bottom: 0;
          width: 2px;
          background: $white;
        }
        &.active {
          background: $white;
        }
        &.recommended,
        &.good {
          color: $orange;
        }
        &.not_recommended,
        &.bad {
          color: $purple;
        }
      }
    }
  }
  .photos {
    padding: 15px;
    overflow: auto;
    background: $white;
    .photos-wrapper {
      display: flex;
      height: 120px;
    }
    .photo-upload,
    .photo-uploaded {
      position: relative;
      flex-basis: 120px;
      width: 120px;
      height: 120px;
      cursor: pointer;
      + .photo-uploaded {
        margin-left: 15px;
      }
      > .lz-close {
        position: absolute;
        top: 0;
        right: -5px;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
    .photo-upload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 24px;
      font-size: 14px;
      text-align: center;
      border: 2px dashed $light-gray;
      border-radius: 12px;
      &.full {
        flex: 1;
        flex-basis: unset;
      }
      > i {
        font-size: 28px;
      }
    }
  }
  hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid $light-gray;
  }
  ._error {
    padding: 10px 0;
    text-align: left;
    font-size: 14px;
  }
  #sharing-content {
    position: fixed;
    bottom: -100%;
    opacity: 0;
  }
}

.popup.gmap-popup {
  width: 800px !important;
  max-width: 100vw;
  &.shipping-process {
    .map-container {
      min-height: 600px;
      max-height: 80vh;
    }
  }
}

.profile-popup {
  width: 400px;
  &.visible {
    overflow: visible !important;
  }
  @include pulse(16);
  .lz-eye,
  .lz-eye-o,
  .lz-eye-close {
    position: relative;
    padding: 8px 4px;
    border-radius: 50%;
    cursor: pointer;
    &.animate:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 1px;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      animation: pulse-16 0.5s;
    }
  }
  .lz-eye-close {
    margin-top: 2px;
    margin-left: -2px;
    font-size: 9px;
  }
  .input-phone-number {
    font-size: inherit !important;
    > .btn {
      padding: 8px 4px;
      border: none;
      border-bottom: 1px solid $light-gray;
      border-radius: 0;
      font-size: 17px;
    }
    > input {
      font-weight: normal;
    }
  }
}

.update-franchised-popup {
  width: 800px;
  max-width: 100%;
  max-height: 90vh !important;
  background-color: $white;
  border-radius: $radius-md;
  .heading {
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
    background-color: $blue;
    color: $white;
    padding: 10px;
    > h3 {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .input {
    display: flex;
    justify-content: center;
  }
  .step-pre {
    text-align: center;
  }
  .update-franchised-content {
    display: flex;
    flex-direction: column;
    max-height: calc(90vh - 45px);
    .diff-editor {
      margin: 16px 16px 0;
      border: 1px solid $gray;
      border-radius: 4px 4px 0 0;
      overflow: auto;
      .diff-line {
        display: flex;
        color: $dark-gray;
        &-item {
          flex: 1;
          padding: 4px 8px;
          word-break: break-word;
          &:last-child {
            border-left: 2px dotted $light-gray;
          }
          &-content {
            position: relative;
            z-index: 1;
          }
          &.empty {
            // Not showing |_
            &:after {
              display: none;
            }
          }
          &.new {
            &.PUT {
              background: lighten($green, 45%);
            }
            &.DELETE {
              text-decoration: line-through;
            }
            .extra {
              color: $green;
            }
          }
          &.POST {
            background: lighten($green, 45%);
          }
          &.DELETE:not(.new) {
            background: lighten($red, 45%);
          }
          .extra {
            float: right;
            color: $red;
            font-size: 0.9em;
          }
          small {
            margin-left: 4px;
            color: $dark-gray;
            font-weight: normal;
          }
          .fa-star {
            display: none;
            &.isPinned {
              display: block;
              margin-top: 4px;
              color: $orange;
              font-size: 10px;
            }
          }
          .fa-caret-square-down,
          .fa-caret-square-up {
            margin-left: 4px;
            padding: 4px;
            cursor: pointer;
          }
        }
        &.diff-title {
          position: sticky;
          top: 0;
          color: $black;
          font-weight: bold;
          background: $light-gray;
          padding: 4px 0;
          z-index: 2;
        }
        &.group {
          position: sticky;
          top: 36px;
          color: $black;
          font-weight: bold;
          text-transform: uppercase;
          border-top: 1px dashed $gray;
          border-bottom: 1px solid $gray;
          background: $white;
          z-index: 2;
          .diff-line-item {
            padding: 8px;
          }
        }
        &.dish {
          .diff-line-item {
            position: relative;
            &:after {
              content: '';
              position: absolute;
              bottom: calc(50% + 4px);
              left: 13px;
              width: 0;
              height: calc(100% - 8px);
              border-left: 2px dotted $gray;
            }
          }
        }
        &.custom {
          .diff-line-item {
            position: relative;
            padding-left: 44px;
            &:before {
              content: '';
              position: absolute;
              bottom: 50%;
              left: 13px;
              width: 18px;
              height: calc(100% - 8px);
              border-left: 2px dotted $gray;
              border-right: 2px dotted $gray;
            }
            &:after {
              content: '';
              position: absolute;
              bottom: 50%;
              left: 33px;
              width: 12px;
              height: calc(100% - 8px);
              border-bottom: 2px dotted $gray;
            }
          }
          & + .customOption {
            .diff-line-item {
              &:after {
                height: calc(100% - 8px);
              }
            }
          }
        }
        &.customOption {
          .diff-line-item {
            position: relative;
            padding-left: 60px;
            font-size: 0.9em;
            &:before {
              content: '';
              position: absolute;
              bottom: 50%;
              left: 13px;
              width: 18px;
              height: calc(100% - 2px);
              border-left: 2px dotted $gray;
              border-right: 2px dotted $gray;
            }
            &:after {
              content: '';
              position: absolute;
              bottom: 50%;
              left: 46px;
              width: 14px;
              height: calc(100% - 2px);
              border-left: 2px dotted $gray;
              border-bottom: 2px dotted $gray;
            }
          }
          & + .custom {
            // Better UI
            .diff-line-item {
              &:before,
              &:after {
                height: calc(100% - 2px);
              }
            }
          }
        }
      }
    }
    .diff-progress {
      position: relative;
      margin: 0 16px;
      background: $light-gray;
      &-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &-resolved {
        width: 0;
        height: 16px;
        background: linear-gradient(90deg, $blue 0%, $green 100%);
        transition: all 0.3s;
      }
    }
    .status-indicator {
      display: inline-block;
      margin-right: 8px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $gray;
      &.active {
        background: $green;
      }
    }
    .action {
      text-align: right;
      margin: 16px;
      a + a {
        margin-left: 8px;
      }
    }
    .checkbox {
      display: inline-flex;
    }
  }
}

.popup.search-franchised-popup {
  width: 520px;
  height: calc(100vh - 54px - 60px - 46px);
  background: $white;
  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .section-newsfeed {
    overflow: auto;
    .content {
      overflow: visible;
    }
    .list-view {
      margin: 0 !important;
    }
    .eatery-chain-heading {
      margin: 0 !important;
    }
  }
}

.popup.input-country-code-popup {
  width: 480px;
  .content {
    text-align: left;
    .country-code-content {
      position: relative;
      margin: -16px;
      height: 72vh; // Need it for position: sticky worked
      overflow-x: hidden;
      overflow-y: auto;
      .search-box {
        position: sticky;
        top: 0;
        padding: 16px;
        background: $white;
        z-index: 1;
        > input {
          padding-left: 36px;
          width: 100%;
          background: transparent;
          border: 1px solid $light-gray;
          border-radius: 8px;
        }
      }
      .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        color: $black;
        cursor: pointer;
        &:not(:last-child) {
          border-bottom: 1px solid $light-gray;
        }
        > span {
          flex: 1;
          padding: 8px;
        }
        > img {
          width: 40px;
          border-radius: 4px;
        }
      }
    }
  }
}

.popup.sharing-popup {
  width: 480px;
  .content {
    .sharing-content {
      &-data {
        padding: 10px;
        margin-bottom: 16px;
        width: 100%;
        line-height: 24px;
        background: transparent;
        border: 1px solid $light-gray;
        border-radius: 8px;
        text-align: left;
        resize: none;
      }
    }
    .actions {
      display: flex;
      justify-content: center;
      > .action {
        display: inline-block;
        padding: 10px;
        width: 50%;
        max-width: 175px;
        line-height: 20px;
        background: $ash-gray;
        border-radius: 8px;
        color: $black;
        text-align: center;
        > i {
          margin-right: 8px;
        }
        + .action {
          margin-left: 16px;
        }
      }
    }
  }
}

.popup.banner-popup {
  width: 600px;
  background: $ash-gray;
  .content {
    text-align: left;
    .banner-popup-content {
      margin: -16px;
      max-height: calc(80vh - 40px);
      .banner-image {
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      .banner-content {
        padding: 16px;
        background: $white;
        .title {
          font-size: 20px;
        }
      }
      .section-cta {
        position: absolute;
      }
      .section-newsfeed {
        background: $white;
        >.content {
          overflow: visible;
        }
        .list-view {
          background: $white;
        }
        h2 {
          margin: 0;
          padding-bottom: 16px;
          width: 100%;
          border-bottom: 1px solid $light-gray;
          font-size: 16px;
        }
      }
    }
  }
}

.merchant-ratings-popup {
  width: 480px;
  background: $ash-gray !important;
  .content {
    padding: 0 !important;
    text-align: left;
    .merchant-ratings-list {
      .merchant-rating-header {
        margin-bottom: 8px;
        padding: 16px;
        background: $white;
        > h1 {
          font-size: 20px;
          margin-bottom: 8px;
        }
      }
      .merchant-rating-item {
        margin-bottom: 8px;
        padding: 16px;
        background: $white;
        .rating-header {
          display: flex;
          &-title {
            flex: 1;
            padding: 0 8px;
            line-height: 25px;
            font-weight: bold;
          }
          &-badge {
            line-height: 25px;
            text-align: right;
            font-size: 14px;
            > i {
              margin-right: 4px;
              font-size: 10px;
              line-height: 16px;
            }
          }
        }
        .rating {
          display: flex;
          background: transparent;
          &-item {
            flex: 1;
            position: relative;
            color: $dark-gray;
            font-size: 14px;
            font-weight: bold;
            > i {
              margin-right: 6px;
              line-height: 20px;
              font-size: 16px;
            }
            & + .rating-item:before {
              content: '';
              position: absolute;
              left: -7px;
              top: 0;
              bottom: 0;
              width: 2px;
              background: $white;
            }
            &.active {
              background: $white;
            }
            &.recommended,
            &.good {
              color: $orange;
            }
            &.not_recommended,
            &.bad {
              color: $dark-gray;
            }
          }
        }
        .rating-content {
          padding-top: 0 !important;
          padding-left: 58px;
          &:last-child {
            margin-bottom: -16px;
          }
          .view-more {
            left: unset;
            right: 0;
          }
        }
        .rating-photos-list {
          margin: 0 -5px;
          padding-left: 58px;
          display: flex;
          .img-lazy {
            flex-basis: 25%;
            margin: 0;
            padding: 0 5px;
          }
        }
      }
    }
  }
}

.mc-photos-popup {
  width: 480px;
  overflow: visible !important;
  &.slider {
    width: 800px;
    .content {
      padding: 0;
      overflow: visible;
      p {
        margin: 0;
      }
      .slick-slider {
        .slick-slide {
          margin-bottom: -4px;
        }
        .slick-arrow {
          height: 100%;
          width: 80px;
          &.slick-next {
            transform: translate(55px, -50%);
          }
          &.slick-prev {
            transform: translate(-55px, -50%);
          }
          > i {
            font-size: 36px;
          }
        }
      }
    }
    .popup-footer {
      display: none;
    }
  }
  .mc-photos-not-found {
    p {
      margin: 8px 0;
    }
  }
  .mc-photos-list {
    display: flex;
    flex-wrap: wrap;
    .mc-photo {
      flex-basis: 25%;
      padding: 8px;
      > img {
        width: 100%;
        vertical-align: middle;
        border-radius: 5px;
      }
    }
  }
  .mc-photos-slider {
    width: 100%;
    .mc-photo-item {
      outline: none;
      > div {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $gray;
      }
    }
  }
}

.popup.login-popup {
  width: 600px;
  .desktop &.login-popup-child {
    width: 520px;
    > .content {
      padding: 24px 64px;
    }
  }
  > .content {
    display: flex;
    flex-direction: column;
    padding: 24px 96px;
    .desktop & {
      text-align: center;
    }
    .title {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: bold;
    }
    .input-phone-number {
      margin: 16px 0;
    }
    .login-facebook {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-top: 40px;
      > .separator {
        margin-bottom: -12px;
        width: 100%;
        border-top: 1px solid $light-gray;
        color: $dark-gray;
      }
    }
  }
}

.merchant-item-popup {
  width: 600px;
  .popup-header {
    position: relative;
    background: $white;
    color: $black;
    box-shadow: $shadow-low;
    border: none;
    z-index: 1;
    > a {
      color: $black !important;
    }
  }
  .content {
    max-height: unset !important;
    text-align: left;
    .merchant-item {
      > .img-lazy {
        display: inline-block;
        width: 80px;
      }
      .name {
        @extend %title-large;
        padding: 16px;
        .desktop & {
          position: absolute;
          top: 48px;
          left: 96px;
        }
        .price {
          @extend %headline;
          position: relative;
          font-weight: normal;
          .old {
            margin-left: 4px;
            color: $dark-gray;
            font-size: 14px;
            text-decoration: line-through;
          }
        }
        .address {
          @extend %headline;
          font-weight: normal;
        }
      }
      .description {
        margin-top: 8px;
        padding: 16px 16px 32px !important;
        background: $white;
        .btn-expand {
          line-height: 28px;
          background: inherit;
          color: $blue;
          &.has-shadow {
            box-shadow: 0px -10px 15px $white;
          }
          > i {
            margin-left: 4px;
          }
        }
      }
      .merchant-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 8px;
        padding: 16px;
        background: $white;
        &-title {
          @extend %headline;
          flex-basis: 100%;
          margin-bottom: 8px;
        }
        .detail {
          flex: 1;
          display: inline-grid;
          padding: 0 8px;
          p {
            @extend %text-trimmed;
            margin: 0;
            color: $dark-gray;
            &.title {
              color: $black;
            }
          }
        }
        > .action {
          padding: 4px 8px;
          background: transparent !important;
          color: $red !important;
          border: 1px solid $red;
          white-space: nowrap;
        }
      }

      .merchant-item-list {
        display: flex;
        &-wrapper {
          padding: 16px;
          width: 100%;
          background: $white;
          overflow-x: auto;
        }
        .merchant-item-detail {
          & + .merchant-item-detail {
            margin-left: 16px;
          }
          width: 100px;
          > .img-lazy {
            width: 100%;
          }
          .name {
            padding: 0;
            font-weight: normal;
            font-size: 16px;
            .expand-container {
              margin-bottom: -20px;
              padding-top: 8px !important;
            }
          }
        }
      }
    }
  }
}

.order-price-detail {
  max-width: 400px;
  > .content {
    padding: 0 !important;
    background: $ash-gray !important;
    .order-price-detail-content {
      text-align: left;
      .heading {
        padding: 16px;
        background: $white;
        h4 {
          margin-bottom: 8px;
        }
      }
      .section-money-user {
        margin-top: 10px;
        background: $white;
        padding: 0 10px;
        .line-money-user {
          border-bottom: 1px solid $light-gray;
          display: flex;
          align-items: center;
          position: relative;
          padding: 15px 5px;
          &:last-child {
            border-bottom: none;
            padding-bottom:15px !important;
          }
          .img-lazy {
            width: 32px;
            margin: 0;
          }
          .line-user-content {
            flex: 1;
            padding-left: 8px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .line-user-money {
            margin-left: auto;
          }
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.order-cancel-popup {
  width: 480px;
  > .content {
    padding: 0 !important;
    background: $ash-gray !important;
    .order-cancel-popup-content {
      .heading {
        padding: 16px;
        background: $white;
        h3 {
          margin-bottom: 8px;
          text-transform: uppercase;
        }
      }
      .cancel-list {
        margin: 10px 0 84px;
        background: $white;
        .cancel-item {
          padding: 16px;
        }
      }
    }
  }
}

.share-referral-popup {
  width: 500px;
  > .content {
    padding: 0 !important;
    background: $ash-gray !important;
    text-align: left;
    .img-lazy {
      width: 100%;
      > .img {
        padding-bottom: calc(100% / 16 * 9);
      }
    }
    > h3 {
      text-align: center;
    }
    ol {
      padding: 0 16px;
    }
    .referral-code {
      display: flex;
      > input {
        flex: 1;
        margin-right: 10px;
        min-width: 100px;
        background: transparent;
        border: 1px solid $light-gray;
        border-radius: 10px;
        font-weight: bold;
      }
      > .btn {
        width: 145px;
      }
    }
    .coupon-container {
      margin: 10px 0;
      padding: 10px 16px;
      background: $white;
      .coupon-banner {
        display: flex;
        align-items: center;
        position: relative;
        padding: 8px 8px 40px;
        background: $light-gray;
        border-radius: 10px;
        > .content {
          padding-top: 16px;
        }
        > img {
          width: 40%;
        }
        > .btn {
          position: absolute;
          bottom: 12px;
          right: 12px;
        }
      }
    }
    .referees {
      .img-lazy {
        position: relative;
      }
      .title {
        padding: 12px 16px;
      }
      .list-item {
        align-items: center;
        padding: 16px;
        border-top: 1px solid $light-gray;
        &.empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $dark-gray;
          text-align: center;
          > img {
            height: 100px;
          }
          .content {
            margin: 8px 0;
          }
        }
      }
    }
  }
}

.popup.mc-promo-popup {
  width: 600px;
  overflow: unset;
  > .content {
    padding: 0;
    background: $ash-gray;
    text-align: left;
    border-radius: 0 0 8px 8px;
    &.action {
      padding-bottom: 84px;
    }
    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      padding: 16px;
      background: $white;
      > img {
        align-self: center;
      }
      .promotion-item {
        padding: 0;
        & + .promotion-item {
          margin-top: 16px;
          padding-top: 16px;
          border-top: 1px solid $light-gray;
        }
        .action {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .promotion-info {
        margin-top: 16px;
      }
      .promotion-condition,
      .contact-info {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid $light-gray;
      }
    }
    .section-cta {
      border-radius: 0 0 8px 8px;
    }
    .not-found {
      text-align: center;
      > img {
        width: 150px;
      }
      > h3 {
        margin: 16px 0;
      }
    }
    .code {
      margin-top: 16px;
      width: 100%;
      border: 1px solid $light-gray;
      border-radius: 8px;
      text-align: center;
      font-weight: bold;
      background: inherit;
    }
    ul {
      padding-left: 16px;
      &.group {
        > div {
          margin: 12px 0 0 -16px;
        }
        > li {
          margin: 0;
          & + div {
            margin-top: 16px;
          }
        }
      }
      > li {
        margin: 12px 0;
        &:before {
          content: '-';
          display: inline-block;
          text-indent: -12px;
        }
      }
    }
  }
}

.popup.search-filter-popup {
  width: 480px;
  > .content {
    padding: 0 0 74px;
    background: $ash-gray;
    .flex-view {
      margin: 10px 0;
      background: $white;
    }
    .filter-item {
      padding: 16px;
      text-align: left;
      > span {
        display: flex;
        align-items: center;
        > i {
          margin-right: 8px;
        }
      }
    }
  }
}

// .popup.merchant-thoughtful-mobile {
//     right: 0;
//     top: 0;
//     left: 0;
//     width: 100% !important;
//     height: 100%;
//     max-height: 100vh;
//     border-radius: 0;
//     transform: none !important;
//     .content {
//       background: $light-gray;
//       .losupply-merchant-cover {
//         margin-top: 10px;
//         height: 100%;
//         .title {
//           padding: 15px 15px 0 15px;
//         }
//         .losupply-merchant {
//           border-bottom: 1px solid $light-gray;
//           .losupply-merchant-list {
//             padding: 15px;
//             .name-list-losupply {
//               margin-bottom: 0;
//             }
//             .img-list-losupply {
//               display: flex;
//               img {
//                 margin-left: 15px;
//                 height: 60px;
//               }
//             }
//           }
//           &:last-child {
//             border-bottom: none;
//           }
          
//         }
//       }
//     }
//     .popup-footer {
//       text-align: center;
//       padding: 15px;
//       .footer-wraper {
//         border-top: 1px solid $light-gray;
//         .title-footer {
//           margin-top: 10px;
//         }
//         img {
//           height: 20px;
//         }
//       }
//     }
// }

.popup.merchant-thoughtful {
  width: 400px;
  .losupply-merchant-cover {
    .title {
      padding: 15px 15px 0 15px;
    }
    .losupply-merchant {
      border-bottom: 1px solid $light-gray;
      .losupply-merchant-list {
        padding: 15px;
        .name-list-losupply {
          margin-bottom: 0;
        }
        .img-list-losupply {
          display: flex;
          img {
            margin-left: 15px;
            height: 60px;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .popup-footer {
    text-align: center;
    padding: 15px;
    .footer-wraper {
      border-top: 1px solid $light-gray;
      .title-footer {
        margin-top: 10px;
      }
      img {
        height: 20px;
      }
    }
  }
}

.popup.view-merchant-info-popup {
  text-align: left;
  > .content {
    .merchant-info {
      @include expander($line: 2);
      margin-bottom: 10px;
      &.link {
        display: flex;
        align-items: center;
        margin: 0;
        padding-top: 10px;
        border-top: 1px solid $light-gray;
        .main {
          @extend %text-trimmed;
          flex: 1;
          > i {
            margin-right: 5px;
            color: $black;
          }
        }
      }
    }
    .merchant-thoughtful {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 10px 0;
      border-top: 1px solid $light-gray;
      cursor: pointer;
      .merchant-cover {
        padding: 0 5px 0 10px;
        flex: 1;
        min-width: 0;
        flex-direction: column;
        .title {
          font-weight: bold;
        }
        > p {
          @extend %text-trimmed;
          margin: 0 !important;
        }
      }
    }
  }
}

.popup.order-debt-popup {
  width: 400px;
  max-height: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  .desktop & {
    top: unset;
    bottom: 100px;
    left: unset;
    right: 48px;
    transform: none;
    & + .popup-bg {
      background: transparent;
    }
    > .content {
      max-height: 460px;
    }
  }
  > .content {
    background: $ash-gray;
    padding: 0;
  }
  .btn-back {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    font-size: 12px;
    z-index: 1;
  }
}

.popup.favorite-eateries-action-popup {
  width: 400px;
  text-align: left;
  > .content {
    padding: 0;
    .section-newsfeed {
      margin: 0;
      padding: 0;
    }
    .action {
      flex-direction: row;
      width: 100%;
      border-top: 1px solid $light-gray;
      padding: 15px 22px;
      cursor: pointer;
      > i {
        margin-right: 5px;
      }
    }
  }
}

.popup.request-global-address-popup {
  width: 600px;
  max-height: 400px;
  text-align: left;
  .header {
    background: $light-gray;
  }
  >.content {
    display: flex;
    padding: 0;
  }
  .address-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 10px 10px;
    background: $white;
    h2 {
      padding: 15px;
      text-transform: uppercase;
    }
    &-input-wrapper {
      display: flex;
      position: relative;
      padding: 15px;
      background: $white;
      .lz-marker {
        margin-top: 8px;
      }
      .lz-close {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 10px;
        padding: 10px;
        color: $gray;
        font-size: 0.8em;
      }
    }
    &-input {
      @extend %HEADING;
      margin-left: 10px;
      padding: 5px 25px 5px 0;
      width: 100%;
      line-height: 25px;
      background: transparent;
      color: $dark-gray;
      border: none;
      border-bottom: 2px solid $light-gray;
      border-radius: 0;
      &:focus {
        border-color: $blue;
      }
    }
    &-result {
      display: flex;
      padding: 15px;
      cursor: pointer;
      &.separated {
        margin-bottom: 10px;
      }
      &.address-request-gps {
        flex-wrap: wrap;
        > .lz-gps {
          margin-top: 2px;
        }
        .content {
          margin-left: 10px;
          text-align: right;
          .desktop & {
            display: flex;
            align-items: flex-start;
          }
          .address {
            flex-basis: 100%;
            text-align: left;
          }
          .btn {
            margin-left: 10px;
            white-space: nowrap;
          }
        }
      }
      &:not(.address-request-gps) {
        .content {
          .address {
            @include expander($line: 2);
          }
        }
      }
      .lz {
        display: inline-block;
        margin-top: 2px;
      }
      .content {
        flex: 1;
        margin-left: 15px;
        color: $black;
      }
      &.trimmed .content {
        @extend %text-trimmed;
      }
    }
    .scroll-container {
      flex: 1;
    }
  }
}

.popup.search-global-address-popup {
  width: 600px;
  min-height: 400px;
  text-align: left;
  .content {
    padding: 0;
    max-height: unset;
  }
}
