@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.mobile {
  .popup-wrapper {
    .popup {
      width: calc(100% - 10px);
      &-header {
        .btn-back {
          left: 0;
          right: unset;
        }
      }
      .content {
        max-height: unset;
      }
      // *TODO: consider to use it
      // &-footer {
      //   box-shadow: $shadow-hi;
      // }
    }
  }

  .profile-popup,
  .banner-popup,
  .merchant-ratings-popup {
    @extend %popup-fullscreen;
  }

  .login-popup {
    @extend %popup-fullscreen;
    &.login-popup-child {
      > .content {
        padding: 24px 0;
      }
    }
    > .content {
      padding: 24px 16px;
    }
  }

  .popup.dish-select {
    height: 100%;
    &.focus {
      @media (max-height: 500px) {
        max-height: 450px;
      }
    }
    .content {
      .dish-item {
        padding: 16px 24px 16px 16px;
      }
      .dish-custom {
        height: calc(80vh - 40px - 120px - 64px);
        background: $ash-gray;
        .col {
          width: 100%;
        }
        .flex-view {
          .title {
            padding: 16px 16px 0;
          }
          .flex-item {
            padding: 16px;
            & + .flex-item {
              border-top: 1px solid $light-gray;
            }
          }
        }
      }
    }
  }

  .login-form {
    padding: 10px 5px;
    h3 {
      padding-bottom: 5px;
      margin-bottom: 0px;
    }
    .col-left {
      width: 100%;
      border-bottom: 1px solid $gray;
    }
    .col-right {
      width: 100%;
    }
  }

  .invite-popup {
    font-size: 14px;
    .content {
      overflow: auto;
      .share-items {
        flex-wrap: nowrap;
        width: 230%;
        padding: 8px 0;
      }
    }
  }

  .select-payment {
    @extend %popup-fullscreen;
  }

  .group-order-invite-popup {
    padding: 16px;
    font-size: 14px;
    &.fullscreen {
      @extend %popup-fullscreen;
      padding: 0;
      .popup {
        &-inner {
          margin: 0;
        }
        &-footer {
          position: absolute;
          bottom: 0;
        }
      }
    }
    .content {
      &.actions {
        justify-content: space-between;
        > .action {
          margin: 0;
        }
      }
    }
  }

  .group-order-member-list-popup {
    @extend %popup-fullscreen;
  }

  .rating-popup {
    @extend %popup-fullscreen;
  }

  .gmap-popup {
    &.shipping-process {
      @extend %popup-fullscreen;
      .map-container {
        min-height: calc(100vh - 92px);
      }
    }
  }

  .merchant-thoughtful-mobile {
    @extend %popup-fullscreen;
    max-height: 100vh;
    border-radius: 0;
    transform: none !important;
    .content {
      background: $light-gray;
      .losupply-merchant-cover {
        margin-top: 10px;
        .title {
          padding: 15px 15px 0 15px;
        }
        .losupply-merchant {
          border-bottom: 1px solid $light-gray;
          .losupply-merchant-list {
            padding: 15px;
            .name-list-losupply {
              margin-bottom: 0;
            }
            .img-list-losupply {
              display: flex;
              img {
                margin-left: 15px;
                height: 60px;
              }
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    .popup-footer {
      text-align: center;
      padding: 15px;
      .footer-wraper {
        border-top: 1px solid $light-gray;
        .title-footer {
          margin-top: 10px;
        }
        img {
          height: 20px;
        }
      }
    }
}

  .popup-operating-time-table {
    .operating-time {
      &-column {
        flex-basis: 60%;
        display: block;
        &.header {
          flex-basis: 40%;
        }
        &-item {
          + .operating-time-column-item {
            border-left: none;
            text-align: left;
          }
        }
      }
    }
  }

  .popup.search-franchised-popup {
    .popup-header {
      border: none;
      .btn-back {
        top: 8px;
        left: unset;
        right: 0;
      }
    }
  }

  .merchant-item-popup {
    @extend %popup-fullscreen;
    &.inverted {
      .popup-header {
        background: $text-bg-gradient;
        color: transparent;
        box-shadow: none;
        > a {
          color: $white !important;
        }
      }
    }
    .content {
      margin-top: -40px;
      padding: 0 0 60px !important;
      background: $ash-gray;
      .merchant-item {
        > .img-lazy {
          width: 100%;
        }
        .name {
          background: $white;
        }
      }
    }
  }

  .order-cancel-popup,
  .order-price-detail,
  .mc-promo-popup {
    @extend %popup-fullscreen;
  }

  .share-referral-popup {
    @extend %popup-fullscreen;
    > .content {
      .img-lazy {
        > .img {
          padding-bottom: calc(100vw / 16 * 9);
        }
      }
    }
  }

  .search-filter-popup {
    height: 80vh;
  }

  .popup.favorite-eateries-action-popup {
    > .content {
      .action {
        padding: 15px;
      }
    }
  }

  .popup.request-global-address-popup {
    height: 70vh;
    border-radius: 10px 10px 0 0;
  }

  .popup.search-global-address-popup {
    @extend %popup-fullscreen;
  }
}
