@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.ratting-star {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 14px;

  .star {
    position: relative;
    display: inline-block;
    .lz {
      margin: 0px 3px;
    }

    .gray {
      color: $gray;
    }
  }
  .rating {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;

    @each $value in $rating-list {
      &.rating#{nth($value, 1)} {
        .lz {
          color: #{nth($value, 2)};
        }
      }
    }
  }
}
