@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

$grey-background: #f5f5f5;
$grey-border: #ddd;
$grey-text: #898989;
$main-light: #d9f2fb;

svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.select {
  position: relative;
  display: block;

  &:focus {
    outline: 0;
    & .selection {
      box-shadow: 0 0 1px 1px $blue;
    }
  }

  .selection {
    position: relative;
    border: 1px solid $grey-border;
    border-radius: 5px;
  }

  .value {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
  }

  .multiple {
    padding-right: 30px;
    margin-right: 5px;
    background: $main-light;
    color: $blue;
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
  }

  .arrow {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    padding: 10px;
    font-size: 10px;
    color: $grey-text;
    .fa-caret-down,
    .fa-caret-up {
      &:before {
        font-size: 14px;
        top: 7px;
        position: absolute;
      }
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid $grey-border;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    background: $white;
    z-index: 9999;
    overflow-y: scroll;
    max-height: 180px;
  }

  .option {
    padding: 6px 8px;
    border-bottom: 1px solid $grey-border;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    width: 100%;
    &.selected {
      border-bottom: 1px solid $blue;
      background: $main-light;
    }
    // &.focused {
    //   background: $grey-background;
    // }
    &:hover {
      background: $grey-background;
    }
    .status {
      &.active {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: $green;
        border-radius: 50%;
        top: 15px;
        left: 5px;
      }
    }
  }
}
