@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.detail-history-stock {
    margin: 0;
    padding: 0;
    border: none;
    max-height: 400px;
    .wrapper-table {
      table {
        width: 100%;
        border-spacing: 0;
        tr, td {
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        th, td {
          padding: 10px 10px;
        }
        td {
          border-bottom: 1px solid #d8d8d8;
        }
        .history-item {
          line-height: 20px;
          padding: 0;
          .created-at, .stock-id {
            width: 50px;
          }
          .stock-count {
            width: 100px;
          }
          .created-by {
            max-width: 100px;
            font-size: 15px;
          }
          .note {
            max-width: 270px;
            min-width: 100px;
            white-space: pre-wrap;
          }
        }
        .right {
          text-align: right;
        }
      }
    }
  }