@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.wrap-section-chien-binh-loship {
  h2 {
    white-space: normal !important;
  }
}

.section-chien-binh-loship {
  display: flex;
  background-image: url(~assets/images/cover-chienbinhloship.jpg);
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  padding: 15px 25px;
  border-radius: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  .mobile & {
    flex-direction: column;
  }

  .content {
    flex: 1;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0px;
    color: $white;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    color: $white;
    position: relative;
    z-index: 1;
  }
  .linear-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 0;
  }
  &.square {
    background-image: url(~assets/images/cover-chienbinhloship-square.jpg);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 250px;
    border: 1px solid $white;
    border-radius: 0;
    z-index: 1000;
    padding: 15px 0;
    overflow: visible;
    h3 {
      text-align: center;
      color: $white;
      font-size: 28px;
    }
  }
}

.mobile {
  .section-chien-binh-loship {
    width: 90%;
    margin: 20px auto;
    background-size: cover;
    background-position: center center;
  }
}
