@import '../utils/placeholders';
@import '../utils/variables.scss';
@import '../utils/mixins';

.verify-code-box {
  text-align: center;
  .verify-code {
    display: inline-block;
    margin: 0px 4px;
    width: 50px;
    height: 50px;
    background: $light-gray;
    text-align: center;
    font-weight: bold;
    &:focus {
      border: 2px solid $blue;
    }
  }
}
