@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';
@import 'global';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=vietnamese');
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: $ash-gray;
  color: $black;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: $fz-lg;
  line-height: 1.3;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /** Scrollbar */
  @media screen and (min-width: 768px) {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $dark-gray;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $blue;
  @include on-event {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@for $i from 1 through 6 {
  h#{7 - $i} {
    padding: 0;
    margin: 0;
  }
}

button {
  outline: none;
  cursor: pointer;
  font-size: inherit;
}

input,
textarea,
select {
  background-color: $ash-gray;
  border-radius: $radius-sm;
  outline: none;
  position: relative;
  line-height: 30px;
  display: block;
  border: 1px solid transparent;
  font-size: inherit;
  &:focus {
    border-color: $blue;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

input,
textarea {
  padding: 5px;
}

select {
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}
