@import '../utils/variables';
@import '../utils/placeholders';
@import '../utils/mixins';
@import '../utils/helpers';
@import '../components/icon';
@import '../components/layout';

@keyframes shimmer-animation {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

.shimmer-animation {
  position: relative;
  &:after {
    content: ' ';
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 49%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 51%,
      rgba(255, 255, 255, 0) 52%,
      rgba(255, 255, 255, 0) 100%
    );
    background-position: 0%;
    background-size: 400%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: shimmer-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .shimmer-icon {
    width: 16px;
    height: 16px;
    background-color: $light-gray;
    border-radius: 50%;
  }
  .shimmer-text {
    height: 14px;
    margin: 4px;
    background-color: $light-gray;
    &.w-60 {
      width: 60%;
    }
    &.w-40 {
      width: 40%;
    }
    &.w-20 {
      width: 20%;
    }
    &.round {
      border-radius: 8px;
    }
    &.bigger {
      margin: 6px 4px;
      height: 17px;
    }
  }
}

.screen {
  width: 100vw;
  // height: 100vh;
  overflow-x: hidden;
  // overflow-y: auto;
}

.clear {
  clear: both;
}

._error {
  padding: 0 50px;
  color: $red;
  margin-bottom: 10px;
  text-align: right;
}

.file-uploader {
  cursor: pointer;
  input.file-upload-js {
    display: none;
  }
}

.scroll-nice {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: $gray;
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $ash-gray;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

// HACK FOR USE IN SHIPPING ADDRESS MODAL
.pac-container {
  z-index: 10000;
}
