<!DOCTYPE html>
<html lang="{{{lang}}}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="revisit-after" content="1 days">
    <meta name="google-site-verification" content="dkw9HP-JxXjN9cPbTsewSOmDH6lLke4gOevyc89M-Sg" />
    {{{title}}}
    {{{meta}}}
    {{{link}}}
    <link rel="icon" type="image/png" href="/dist/images/ic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/dist/images/ic/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{{assets "styles/use-app.css"}}?v={{{version}}}">
  </head>

  <body>
    <div id="body">{{{body}}}</div>
    <script>
      function openApp() {
        if (navigator) {
          var platform = 'pc';
          if (navigator.userAgent.match(/iPod|iPhone|iPad/) && !navigator.userAgent.match(/IEMobile/)) {
            platform = 'ios';
          }
          if (navigator.userAgent.match(/Android/)) {
            platform = 'android';
          }
        }

        var appStoreUrl = (platform === 'ios') ? 'https://goo.gl/CDFMhZ' : 'https://goo.gl/N5Vs4V';
        switch (platform) {
          case 'ios':
            openIOSApp(appStoreUrl);
            break;
          case 'android':
            openAndroidApp(appStoreUrl);
            break;
          default:
            window.location.href = 'https://loship.vn'
            break;
        }
      }

      iOSVersion = (index) => {
        if (/iP(hone|od|ad)/.test(navigator.platform)) {
          let v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
          let versionArr = [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)];
          return versionArr[index ? index % 3 : 0];
        }
        return null;
      }

      openIOSApp = (appStoreUrl) => {
        window.location.href = '{{{iosUrl}}}'
        return true;
      }

      openAndroidApp = (appStoreUrl) => {
        window.location.href = '{{{androidUrl}}}'
      }

      var elem = document.querySelector('.cashbash-btn ');
      elem.onclick = function () {
        openApp();
      }
    </script>
  </body>

</html>
