<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hang động số 503</title>
</head>
<body class="fainted">
  <h3>Hự, cửa hang đang bị đá lấp!</h3>
  <a href="javascript:window.location.reload(true)">Click để dọn đá</a>
</body>
</html>
