<!DOCTYPE html>
<html lang="{{{lang}}}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="revisit-after" content="1 days">
    <meta name="google-site-verification" content="dkw9HP-JxXjN9cPbTsewSOmDH6lLke4gOevyc89M-Sg" />

    {{{title}}}
    {{{meta}}}
    {{{link}}}

    <link rel="icon" type="image/png" href="/dist/images/ic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/dist/images/ic/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{{assets "styles/normalize.css"}}">
    <link rel="stylesheet" href="/dist/styles/landing-internal.min.css?v={{{version}}}">
  </head>

  <body>
    <div id=" body">{{{body}}}</div>
    <script type="application/javascript">
      window.__CUSTOM_DATA__ = '{{{customData}}}';
    </script>
    <script src="/dist/landing-internal.min.js?v={{{version}}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    {{#if gtagId}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{{gtagId}}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '{{{gtagId}}}');
    </script>
    {{/if}}
  </body>

</html>
