<!DOCTYPE html>
<html lang="{{{lang}}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="revisit-after" content="1 days">
  <meta name="google-site-verification" content="dkw9HP-JxXjN9cPbTsewSOmDH6lLke4gOevyc89M-Sg"/>

  {{{title}}}
  {{{meta}}}
  {{{link}}}

  <link rel="icon" type="image/png" href="/dist/images/ic/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/dist/images/ic/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="{{assets "styles/normalize.css"}}">
  {{#ifEq env "production"}}
  <link rel="stylesheet" href="/dist/{{{resourceStats.style}}}">
  {{/ifEq}}
</head>
<body>
  <img class="cover-loship" src="/dist/images/cover-loship-14052020.jpg" alt="cover-loship" />
  <div id="body">{{{body}}}</div>
  <script type="application/javascript">
    window.__INITIAL_STATE__ = {{{state}}};
    window.__AVAILABLE_AREAS__ = {{{availableAreas}}};
    window.__MAP_KEY__ = "{{{mapKey}}}";
    window.__LOAD_SDK__ = {{{shouldLoadSDK}}};
    window.__GEO_COUNTRY__ = "{{{userCountry}}}";
    window.__IGNORE_GEOIP__ = {{{ignoreGeoIp}}};
  </script>

  {{#ifEq env "production"}}
  <script type="application/javascript" src="/dist/{{{resourceStats.core}}}" defer></script>
  <script type="application/javascript" src="/dist/{{{resourceStats.vendor}}}" defer></script>
  {{/ifEq}}
  <script type="application/javascript" src="/dist/{{{resourceStats.bundle}}}" defer></script>

  {{#ifEq shouldLoadSDK true}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109902111-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-109902111-1');
  </script>

   <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "Website",
      "name" : "Loship",
      "alternateName": "LoShip",
      "url" : "https://loship.vn",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://loship.vn/ho-chi-minh/danh-sach-dia-diem-giao-tan-noi?q={search_term_string}"
        },
        "query-input": {
          "@type": "PropertyValueSpecification",
          "valueName": "search_term_string",
          "valueRequired": "http://schema.org/True"
        }
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "Organization",
      "url": "https://loship.vn/",
      "logo": "https://loship.vn/dist/logo@2x.png",
      "sameAs": [
        "https://www.facebook.com/LoshipVN/",
        "https://www.youtube.com/channel/UCnj9NZaNJe3kAeQTVEGpAdA"
      ]
    }
  </script>
  {{/ifEq}}

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '573823580022844');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=573823580022844&ev=PageView&noscript=1"
  /></noscript>
<!-- End Facebook Pixel Code -->
</body>
</html>
