<!DOCTYPE html>
<html lang="{{{lang}}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  {{#if fallbackUrl}}
  <meta http-equiv="Refresh" content="0; URL={{{fallbackUrl}}}">
  {{/if}}

  <link rel="icon" type="image/png" href="/dist/images/ic/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/dist/images/ic/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body>
  <div id="body">{{{body}}}</div>
</body>
</html>
