@import '../utils/variables';
@import '../utils/placeholders';

/** SPACING HELPER */
$spacing-list: 0 4 8 16 24 32 48 64;
@each $x in $spacing-list {
  .mt-#{$x} {
    margin-top: #{$x}px !important;
  }
  .mb-#{$x} {
    margin-bottom: #{$x}px !important;
  }
  .ml-#{$x} {
    margin-left: #{$x}px !important;
  }
  .mr-#{$x} {
    margin-right: #{$x}px !important;
  }
  .mx-#{$x} {
    margin-left: #{$x}px !important;
    margin-right: #{$x}px !important;
  }
  .my-#{$x} {
    margin-top: #{$x}px !important;
    margin-bottom: #{$x}px !important;
  }
  .pt-#{$x} {
    padding-top: #{$x}px !important;
  }
  .pb-#{$x} {
    padding-bottom: #{$x}px !important;
  }
  .pl-#{$x} {
    padding-left: #{$x}px !important;
  }
  .pr-#{$x} {
    padding-right: #{$x}px !important;
  }
  .px-#{$x} {
    padding-left: #{$x}px !important;
    padding-right: #{$x}px !important;
  }
  .py-#{$x} {
    padding-top: #{$x}px !important;
    padding-bottom: #{$x}px !important;
  }
}

@mixin p($x, $y) {
  .p#{$x}_#{$y} {
    padding: #{$x}px #{$y}px !important;
    box-sizing: border-box;
  }
}
@mixin m($x, $y) {
  .m#{$x}_#{$y} {
    margin: #{$x}px #{$y}px !important;
  }
}
@each $x in $spacing-list {
  @each $y in $spacing-list {
    @include p($x, $y);
    @include m($x, $y);
  }
}

/** COLORIZE HELPER */
@each $value in $color-list {
  .bg-#{nth($value, 1)} {
    background-color: #{nth($value, 2)} !important;
  }
  .text-#{nth($value, 1)} {
    color: #{nth($value, 2)} !important;
  }
  .outline-#{nth($value, 1)} {
    border: 1px solid #{nth($value, 2)} !important;
    &.dashed {
      border-style: dashed !important;
    }
  }
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-error {
  background-color: #ffecec !important;
}
.text-error {
  color: $red !important;
}
.text-warning {
  color: $orange !important;
}
.highlight {
  color: $red;
}

/** */
.circle {
  border-radius: 50% !important;
  overflow: hidden;
}

.flex {
  display: flex !important;
  &-wrap {
    flex-wrap: wrap !important;
  }
  &-no-wrap {
    flex-wrap: nowrap !important;
  }
  &-row-reverse {
    flex-direction: row-reverse !important;
  }
  &-column {
    flex-direction: column !important;
  }
  &-column-reverse {
    flex-direction: column-reverse !important;
  }
  &-1 {
    flex: 1 !important;
  }
}
.justify {
  &-center {
    justify-content: center !important;
  }
  &-start {
    justify-content: flex-start !important;
  }
  &-end {
    justify-content: flex-end !important;
  }
  &-between {
    justify-content: space-between !important;
  }
}
.align {
  &-center {
    align-items: center !important;
  }
  &-start {
    align-items: flex-start !important;
  }
  &-end {
    align-items: flex-end !important;
  }
}

.text {
  &-normal {
    font-weight: initial !important;
    font-style: initial !important;
    text-transform: initial !important;
    text-align: initial !important;
  }
  &-italic {
    font-style: italic !important;
  }
  &-bold {
    font-weight: bold !important;
  }
  &-uppercase {
    text-transform: uppercase !important;
  }
  &-trimmed {
    @extend %text-trimmed;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
  &-center {
    text-align: center !important;
  }
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.font {
  &-title-large {
    @extend %title-large;
  }
  &-headline {
    @extend %headline;
  }
  &-title {
    @extend %title;
  }
  &-content {
    @extend %content;
  }
  &-title-1 {
    @extend %title-1;
  }
  &-content-1 {
    @extend %content-1;
  }
  &-content-2 {
    @extend %content-2;
  }
}

.border {
  &-top {
    border-top: 1px solid $light-gray;
  }
  &-bottom {
    border-bottom: 1px solid $light-gray;
  }
}

.section {
  &-cta {
    @extend %layer-nav;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px !important;
    background: $white;
    border-top: 2px solid $light-gray;
    &.sm {
      padding: 8px !important;
    }
  }
}

.mw {
  &-540 {
    max-width: 540px !important;
  }
  &-400 {
    max-width: 400px !important;
  }
  &-320 {
    max-width: 320px !important;
  }
}

.miw {
  &-540 {
    min-width: 540px !important;
  }
  &-400 {
    min-width: 400px !important;
  }
  &-320 {
    min-width: 320px !important;
  }
}

.d {
  &-none {
    display: none !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-flex {
    display: flex !important;
  }
  &-inline-flex {
    display: inline-flex !important;
  }
}

/** LAYER */
.layer {
  &-toaa {
    @extend %layer-toaa;
  }
  &-lv4 {
    @extend %layer-lv4;
  }
  &-lv3 {
    @extend %layer-lv3;
  }
  &-lv2 {
    @extend %layer-lv2;
  }
  &-lv1 {
    @extend %layer-lv1;
  }
  &-lv0 {
    z-index: 0 !important;
  }
}
