// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin link {
  &:link,
  &:visited {
    @content;
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Border Radius
@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow($hLen, $vLen, $blur, $spread, $color) {
  box-shadow: $hLen $vLen $blur $spread $color;
}

@mixin spinner-size($size) {
  width: $size;
  height: $size;
  border-width: $size / 6;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  vertical-align: middle;
  display: inline-block;
  > img {
    width: 100%;
    border-radius: 50%;
  }
}

@mixin pulse($radius) {
  @keyframes pulse-#{$radius} {
    to {
      box-shadow: 0 0 0 #{$radius}px transparent;
    }
  }
}

/** 8px: title margin-bottom
    36px: total container padding */
@mixin expander($line, $lineHeight: 1.3) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
