@import '../utils/variables';

%module {
  border-radius: $radius-lg;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  background-color: $white;
  padding: 20px;
}

%position-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%text-trimmed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%popup-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  max-height: 100vh;
  border-radius: 0;
  transform: none !important;
}

%popup-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

%sponsored {
  line-height: 16px;
    background-color: #f5a623;
    color: #ffffff;
    border-radius: 6px;
    font-weight: bold;
    padding: 2px 5px;
    height: 20px;
    font-size: 14px;
}
