@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=vietnamese');

/** FONT - START */
$font-stack: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
%TITLE {
  font-size: 24px;
  font-weight: bold;
}
%HEADING {
  font-size: 20px;
  font-weight: bold;
}
%TEXT {
  font-size: 16px;
}

%title-large {
  font-size: 20px;
  font-weight: bold;
}
%headline,
%title {
  font-size: 16px;
  font-weight: bold;
}
%content {
  font-size: 14px;
}

%title-1 {
  font-size: 14px;
  font-weight: bold;
}
%content-1 {
  font-size: 14px;
}
%content-2 {
  font-size: 12px;
}

/** -- NON SEMANTIC FONTSIZE -- */
$fz-xxl: 24px;
$fz-xl: 20px;
$fz-lg: 16px;
$fz-sm: 14px;
$fz-xs: 12px;
$fz-xxs: 8px;
/** FONT - END */

/** COLOR - START */
$red: #f7001e;
$light-red: #ffe0e0;
$blue: #0897ee;
$green: #7ed321;
$orange: #f5a623;
$purple: #a975d4;
$white: #ffffff;
$ash-gray: #f6f6f6;
$light-gray: #ebebeb;
$gray: #cbcbcb;
$dark-gray: #9c9c9c;
$black: #333333;
$facebook: #3e6ec0;
$gray-d8: #d8d8d8;
$gray-e4: #e4e4e4;
$gray-42: #424242;
$gray-9b: #9b9b9b;
$color-list: (
  'red' $red,
  'light-red' $light-red,
  'blue' $blue,
  'green' $green,
  'orange' $orange,
  'purple' $purple,
  'white' $white,
  'ash-gray' $ash-gray,
  'light-gray' $light-gray,
  'gray' $gray,
  'dark-gray' $dark-gray,
  'black' $black,
  'facebook' $facebook
);
$yellow-light: rgba(255, 255, 172, 0.3);

$text-bg-gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 50%, transparent);
$bg-popup: rgba(0, 0, 0, 0.3);

/** -- RATING -- */
$rating-lv0: #d8d8d8;
$rating-lv1: #dc1212;
$rating-lv2: #ff9829;
$rating-lv3: #fad727;
$rating-lv4: #9dd81f;
$rating-lv5: #14c729;
$rating-list: (1 $rating-lv1, 2 $rating-lv2, 3 $rating-lv3, 4 $rating-lv4, 5 $rating-lv5);
/** COLOR - END */

/** HELPER - START */

%layer-toaa {
  z-index: 10000 !important;
}
%layer-lv4 {
  z-index: 4000 !important;
}
%layer-lv3 {
  z-index: 3000 !important;
}
%layer-lv2 {
  z-index: 2000 !important;
}
%layer-lv1 {
  z-index: 1000 !important;
}

%layer-nav {
  z-index: 100;
}
%layer-popup {
  z-index: 200;
}

$shadow-low: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
$shadow-hi: 0px -2px 4px 0px rgba(0, 0, 0, 0.07);

/** HELPER - END */

$radius-sm: 3px;
$radius-md: 5px;
$radius-lg: 8px;
