@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.mobile {
  .order-page-buy {
    > .order-step-confirm {
      padding-top: 0;
    }
  }
}

.step-unauthorized {
  @extend %module;
  margin: 16px;
  background: $white;
}

.step-info {
  background: $ash-gray !important;
  .detail {
    padding-bottom: 75px;
    .figure {
      width: 100vw;
      height: 100vw;
      max-width: 100vh;
      max-height: 100vh;
      margin: 0 auto;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h3 {
      margin: 16px 8px 32px;
    }
    p {
      margin: 8px;
    }
    .map-container {
      min-height: calc(100vh - 58px - 75px - 30px);
    }
  }
  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    width: 100%;
    background: $white;
    border-top: 1px solid $gray;
    z-index: 1;
    i {
      font-size: 12px;
    }
    .summary {
      padding: 0 8px 12px !important;
    }
  }
}

.number-input-up-down {
  &.fw {
    justify-content: center;
    a {
      width: 25%;
      background: $white;
      border: 1px solid $gray;
      border-radius: 4px;
    }
    input {
      width: 30%;
    }
  }
}
