@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .page-categories {
    > .container {
      width: 100%;
      > h3 {
        text-align: center;
        margin-top: 15px;
      }
      .page-content {
        .col-left {
          display: none;
        }
        .col-right {
          width: 100%;
          .section {
            padding: 0 10px;
            margin-bottom: 10px;
            .list-item {
              grid-template-columns: repeat(3, calc((100% - 20px) / 3));
              grid-column-gap: 10px;
              grid-row-gap: 10px;
              .item {
                .avatar {
                  .avatar-wrapper {
                    img {
                      border-radius: 5px;
                    }
                  }
                  .bg-filter {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -0.35%, rgba(100, 100, 100, 0) 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                  }
                  h3 {
                    width: 80%;
                    color: $white;
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    font-size: 16px;
                    .info {
                      &.name {
                        @extend %text-trimmed;
                        font-weight: bold;
                        font-size: 16px;
                        color: $black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .search-global-address {
      &-content {
        top: 0;
        margin: 10px 0;
      }
    }
  }
}
