@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.page-categories {
  > .container {
    > h3 {
      margin-top: 40px;
      margin-bottom: 15px;
    }
    .page-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .col-left {
        width: 180px;
        .panel {
          background-color: $white;
          border-radius: 8px;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
          padding: 20px;
          .item-menu {
            color: $black;
            display: block;
            padding: 10px 0;
            font-size: 14px;
            &:hover {
              color: $red;
            }
          }
        }
      }
      .col-right {
        width: 985px;
        .section {
          position: relative;
          max-width: calc(1200px - (100% - 45px) / 5);
          .list-item {
            display: grid;
            max-width: 1200px;
            grid-template-columns: repeat(5, calc((100% - 60px) / 5));
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            .item {
              @extend %module;
              padding: 0px;
              border-radius: $radius-md;
              color: $black;
              position: relative;
              display: inline-block;
              width: 100%;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
              transition: box-shadow 0.3s ease-in-out;
              &:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
              }
              .avatar {
                width: 100%;
                position: relative;
                .avatar-wrapper {
                  width: 100%;
                  padding-bottom: 100%;
                  img {
                    border-top-left-radius: $radius-md;
                    border-top-right-radius: $radius-md;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                  }
                }
              }
              .meta-data {
                padding: 10px;
                position: relative;
                h3 {
                  &.info {
                    overflow: hidden;
                    line-height: 20px;
                    height: 40px;
                    &.name {
                      font-weight: bold;
                      font-size: 16px;
                      color: $black;
                      .txt-red {
                        color: $red;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .search-global-address {
    &-content {
      top: 30px;
    }
  }
}
