@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.page-create-merchant {
  width: 1180px;
  margin: 0 auto;
  background: $white;
  input {
    width: 100%;
    &::placeholder {
      font-size: 14px;
    }
    margin-top: 8px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    margin: 25px 0;
  }
  .form-content {
    display: flex;
    .merchant-avatar {
      flex-basis: 25%;
      text-align: center;
      .btn-upload-wrapper {
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 160px;
          height: 160px;
        }
      }
      .dish-image-input {
        position: relative;
        img {
          width: 160px;
          height: 160px;
          border-radius: 10px;
        }
        .btn-clear-dish-image {
          position: absolute;
          top: 5px;
          right: 18%;
        }
      }
    }
    .form {
      flex-basis: 70%;
      .cities-districts {
        position: absolute;
        bottom: 35%;
        width: 826px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .cities-input, .districts-input {
          position: relative;
        }
        .input-search-cities, .input-search-districts {
          cursor: pointer;
        }
        .cities-input {
          flex: 1;
          margin-right: 10px;
        }
        .districts-input {
          flex: 1;
        }
        .list-cities {
          width: 100%;
          max-height: 180px;
          overflow: auto;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1030;
          background: $white;
          margin-top: 3px;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
          .item-city {
            display: flex;
            align-items: center;
            text-align: left;
            color: black;
            padding: 11px 15px;
            background: #ffffff;
            line-height: 24px;
            letter-spacing: 0.4px;
            &:hover {
              cursor: pointer;
              background: #f4f4f4;
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
        .list-districts {
          width: 100%;
          max-height: 180px;
          overflow: auto;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1030;
          background: $white;
          margin-top: 3px;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
          .item-district {
            display: flex;
            align-items: center;
            text-align: left;
            color: black;
            padding: 11px 15px;
            background: #ffffff;
            line-height: 24px;
            letter-spacing: 0.4px;
            &:hover {
              cursor: pointer;
              background: #f4f4f4;
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
  
      .services-categories {
        position: relative;
        bottom: -12%;;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        input {
          flex-basis: 25%;
          margin-right: 30px;
        }
        .services {
          position: relative;
          flex: 1;
          margin-right: 10px;
          .list-services {
            width: 100%;
            max-height: 180px;
            overflow: auto;
            position: absolute;
            top: 75%;
            left: 0;
            z-index: 1030;
            background: $white;
            margin-top: 3px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
            .item-service {
              display: flex;
              align-items: center;
              text-align: left;
              color: black;
              padding: 11px 15px;
              background: #ffffff;
              line-height: 24px;
              letter-spacing: 0.4px;
              &:hover {
                cursor: pointer;
                background: #f4f4f4;
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
          .selected-service {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 5px;
            margin-top: 8px;
            border: 2px solid #cbcbcb;
            border-radius: 10px;
            color: #333333;
            white-space: nowrap;
            cursor: pointer;
          }
        }
        .categories {
          flex: 3;
          .submenu-categories {
            .categories-manage {
              position: relative;
              .input-search-categories {
                position: relative;
                cursor: pointer;
              }
            }
            .icon-input {
              position: absolute;
              top: 17px;
              right: 6px;
              cursor: pointer;
              font-size: 10px;
            }
  
            .list-categories {
              width: 100%;
              max-height: 305px;
              overflow: auto;
              position: absolute;
              top: 100%;
              left: 0;
              z-index: 1030;
              background: $white;
              margin-top: 3px;
              box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
              -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
              .img-lazy {
                margin: 3px 5px 3px 0;
              }
              .item-category {
                display: flex;
                align-items: center;
                text-align: left;
                color: black;
                padding: 2px 11px;
                background: #ffffff;
                line-height: 24px;
                letter-spacing: 0.4px;
                .img-lazy {
                  width: 45px;
                }
                &:hover {
                  cursor: pointer;
                  background: #f4f4f4;
                }
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            .list-selected {
              display: inline-block;
              width: 100%;
              margin-top: 10px;
              font-size: 16px;
              height: 10px;
              .item-selected {
                float: left;
                position: relative;
                margin-left: 5px;
                margin-bottom: 5px;
                padding: 3px 20px 3px 5px;
                border: 1px solid $gray;
                border-radius: 10px;
                color: $black;
                white-space: nowrap;
                cursor: pointer;
                > i {
                  position: absolute;
                  right: 6px;
                  top: 5px;
                  font-size: 14px;
                  line-height: 18px;
                }
                &:hover {
                  opacity: 0.9;
                }
              }
            }
          }
          .input-search-categories {
            width: 100%;
          }
        }
      }
  
      .merchant-info {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .merchant-name, .phone-number {
          flex: 1;
        }
        .merchant-name {
          margin-right: 10px;
        }
      }
  
      .merchant-address {
        margin-bottom: 15px;
        .order-step-address {
          .order-step-address-container {
            display: flex;
            flex-direction: column-reverse;
            .map {
              position: relative;
              bottom: -100px;
              margin-top: 5px;
            }
            .btn-re-center {
              display: none;
            }
            .address-content {
              position: relative;
              .step-title, .address-content-action {
                display: none;
              }
              .address-content-input-wrapper {
                display: flex;
                align-items: center;
                background: #f6f6f6;
                margin-top: 8px;
                i {
                  display: none !important;
                }
                .address-content-input {
                  margin-top: 0;
                }
              }
              .scroll-container {
                position: absolute;
                width: 100%;
                height: fit-content;
                z-index: 1;
                max-height: 215px !important;
                background: rgb(255, 255, 255);
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
              }
            }
  
            .address-content-result {
              display: flex;
              padding: 8px;
              cursor: pointer;
              .content {
                margin-left: 10px;
                h4 {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              }
            }
          }
          .map {
            .gm-style-iw-a {
              display: none;
            }
          }
        }
      }
  
      .operate-time {
        margin-top: 120px;
        margin-bottom: 15px;
        .title {
          margin-bottom: 8px;
        }
        .operating-time-table {
          width: calc(100% - 32px);
          line-height: 40px;
          margin-top: 8px;
          margin-left: 32px;
          table-layout: fixed;
          th {
            width: 120px;
            text-align: left;
            &.with-action {
              line-height: initial;
              a {
                font-weight: normal;
                font-size: 12px;
              }
            }
          }
          td {
            padding: 4px;
            &.operating-time-item {
              position: relative;
              .btn-close {
                position: absolute;
                right: 5px;
                top: -2px;
                padding: 6px;
                background: $white;
                color: $gray-9b;
                font-size: 8px;
                border-radius: 50%;
                line-height: 8px;
                cursor: pointer;
                box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.2);
                min-width: unset;
              }
              .connector {
                margin-left: 6px;
              }
            }
            &.action {
              line-height: 40px;
              padding: 8px 0;
              a {
                display: block;
                line-height: 30px;
                color: $gray-9b;
                border: 1px dashed;
                border-radius: 4px;
                padding: 0 8px;
                text-align: center;
              }
            }
          }
          &.brief-view {
            display: flex;
            .time-range {
              display: flex;
              width: 40%;
            }
          }
          .time-range {
            display: flex;
            position: relative;
            padding-right: 8px;
            select {
              flex: 1;
              height: 40px;
              padding: 5px 10px;
            }
            .connector {
              position: absolute;
              left: calc(50% - 4px);
              top: 50%;
              transform: translate(-50%, -50%);
              height: calc(100% - 12px);
              border-left: 1px solid $gray-d8;
              z-index: 1;
            }
          }
          .custom-checkbox {
            .lz-check {
              top: 50%;
              transform: translateY(-50%);
              &:before {
                position: absolute;
                left: 0;
                top: -50%;
              }
            }
          }
          .custom-radio {
            span {
              font-weight: 700;
              font-size: 16px;
            }
          }
        }
      }
      .form-footer {
        display: flex;
        flex-direction: row-reverse;
        .btn {
          margin-bottom: 25px;
        }
        .form-message {
          margin-right: 10px;
          .success-message {
            color: $blue;
          }
        }
        .fa-spinner {
          display: flex;
          align-items: center;
          margin: 0 5px 25px 0;
        }
        .fa-check {
          color: $green;
          margin: 10px 10px 10px 0;
        }
        a {
          color: $white;
        }
      }
    }
  }
}
