@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.page-discover {
  > .container {
    display: flex;
    margin-top: 30px;
    width: 960px;
    .download-app-panel {
      margin: 0 auto;
      width: 100%;
      max-width: 255px;
      margin-top: 55px;
      .download-app-card {
        background-color: #fafbfb;
        border-radius: 3px;
        .download-app-img {
          width: 100%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        .download-app-content {
          padding: 0px 13px;
          color: $dark-gray;
          .title {
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
          }
          .download {
            font-size: 12px;
          }
          .promo-btns {
            text-align: center;
            img {
              height: 25px;
              vertical-align: bottom;
              margin-right: 3px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
    .detail-panel {
      flex-basis: 100%;
      max-width: 484px;
      margin: 0 0 0 15px;
      h3 {
        margin-bottom: 30px;
        font-size: 20px;
        color: $black;
      }
      .section {
        position: relative;
        background-color: $white;
        border: 2px solid rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        margin-bottom: 15px;
        .block-1 {
          .title {
            font-size: 16px;
            color: $black;
            padding: 15px;
            font-weight: 700;
            margin: 0;
          }
          .date {
            margin-top: 0;
            color: $dark-gray;
            font-size: 14px;
          }
        }
        .detail-img {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $black;
          }
          > a {
            background-repeat: no-repeat;
            width: 100%;
            height: 500px;
            display: block;
            background-size: cover;
            background-position: center center;
            position: relative;
            .dark-bg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.25);
              .btn-active {
                background-image: url('/dist/images/bt-play.png');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100px;
                height: 100px;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        .loship-eatery {
          margin: 15px 0;
          padding: 0 15px 0 60px;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .eatery-avatar {
            position: absolute;
            left: 15px;
            top: 0;
            border-radius: 3px;
            width: 40px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            
          }
          .eatery-info {
            width: 100%;
            padding-right: 15px;
            width: 240px;
            p {
              @extend %text-trimmed;
              color: $black;
              margin: 0;
              line-height: 20px;
              &.name {
                font-size: 16px;
                font-weight: bold;
              }
              &.address {
                font-size: 14px;
              }
            }
          }
          .eatery-action {
            a{
              span{
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
    }
  }
  .trending-panel {
    margin: 0 0 0 15px;
    width: 100%;
    max-width: 191px;
    h3 {
      margin-bottom: 30px;
      font-size: 20px;
      color: $black;
    }
    .trending-card {
      background-color: $white;
      border: 2px solid rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      margin-bottom: 15px;
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        max-height: 150px;
      }
      p {
        font-size: 14px;
        margin: 10px;
        color: $black;
      }
      > a {
        background-repeat: no-repeat;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 187px;
        display: block;
        background-size: cover;
        background-position: center center;
        position: relative;
        .dark-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.25);
          .btn-active {
            background-image: url('/dist/images/play-small.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 40px;
            height: 40px;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
