@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
    .page-discover {
        .container {
            .download-app-panel {
                display: none;
            }
            .detail-panel {
                padding-right: 15px;
                .section {
                    .content-loship {
                        height: auto;
                        .right {
                            float: none;
                            margin-top: 15px;
                            .title {
                                text-align: center;
                                .logoTextLoship {
                                    background-image: url('/dist/images/loship-text.png');
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: cover;
                                    width: 60px;
                                    height: 12px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .detail-img {
                        >a {
                            height: 290px;
                            .dark-bg {
                                .btn-active {
                                    background-image: url('/dist/images/play-small.png');
                                    left: 45%;
                                    top: 45%;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .trending-panel {
        display: none;
    }
}