@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.eatery-ratings-page {
  [class^="expand-container rating-content lines-"] {
    &+.rating-photos-list-wrapper {
      margin-top: 20px;
    }
  }
}

.desktop {
  .eatery-ratings-page {
    > .container {
      margin-top: 16px;
      max-width: 680px;
      h2 {
        text-align: center;
      }
    }
    .search-global-address {
      &-content {
        top: 30px;
      }
    }
  }
}

.mobile {
  .eatery-ratings-page {
    padding-top: 40px;
    .search-global-address {
      &-content {
        top: 0;
        margin: 10px 0;
      }
    }
  }
}
