@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.eatery-chain-page {
  .eatery-chain-heading {
    .metadata.name {
      display: block !important;
      margin-bottom: 10px !important;
      line-height: initial !important;
      > b {
        @extend %TITLE;
      }
    }
  }
}

.desktop {
  .eatery-chain-page {
    > .container {
      margin-top: 16px;
      max-width: 680px;
      h2 {
        text-align: center;
      }
    }
    .section-newsfeed {
      .list-view {
        overflow: hidden;
        &:first-child {
          border-radius: 12px 12px 0 0;
        }
        &:last-child {
          border-radius: 0 0 12px 12px;
        }
        &:only-child {
          border-radius: 12px;
        }
        .list-item {
          margin: 0 !important;
        }
      }
    }
  }
}

.mobile {
  .eatery-chain-page {
    padding-top: 40px;
  }
}
