@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.user-favorite-eateries {
  .section-newsfeed {
    > .content {
      .eatery-item {
        .content {
          .metadata {
            position: relative;
            padding-right: 24px;
            overflow: visible;
            > b {
              @include expander($line: 2);
            }
            &.action {
              .btn-action {
                position: absolute;
                top: -10px;
                right: -15px;
                padding: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
