@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.gateway-err {
  @extend %module;
  margin: 16px;
  background: $white;
  .alone-message {
    margin: 20px 5px;
    text-align: center;
    box-shadow: none;
  }
}
