@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

// TODO: css refactor
.mobile {
  .home-page {
    .top-banner {
      &.partner {
        + .search-global-address {
          .search-global-address-content {
            margin: 10px 0;
            width: 100%;
          }
        }
      }
      &:not(.partner) {
        + .search-global-address {
          .search-global-address-content {
            @extend %module;
            left: 50%;
            top: -20px;
            width: calc(100% - 20px);
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .search-page {
    > h1 {
      @extend %HEADING;
      padding: 0 15px;
      background: $white;
      text-align: left;
    }
    .search-tabs {
      display: flex;
      background: $white;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      .search-tab-item {
        flex: 1;
        padding: 12px 8px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        &.active {
          color: $red;
          border-bottom: 2px solid $red;
        }
      }
    }
    .search-filter {
      &-content {
        margin: 10px 0 0;
        width: 100%;
      }
    }
    .search-global-address {
      &-content {
        margin: 10px 0;
        width: 100%;
      }
    }
  }

  .home-latest-order {
    .status {
      .order-status {
        display: inline-block;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 700;
        color: $dark-gray;
        padding-top: 3px;
        &.pre_order {
          color: $dark-gray;
        }
        &.purchasing,
        &.deliverying {
          color: $orange;
        }
        &.cancelled {
          color: $dark-gray;
        }
        &.done {
          color: $green;
        }
      }
      .btn-re-order {
        float: right;
      }
    }
  }

  .merchant-with-items-section {
    padding: 0 10px;
    .merchant-list {
      margin-bottom: 0;
    }
    .product-list {
      grid-template-columns: repeat(2, calc((100% - 10px) / 2));
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    .dish-item {
      flex-direction: column;
      padding: 0;
      .img-lazy {
        width: 100%;
      }
      > .content {
        padding: 10px;
      }
      .btn-add-to-cart {
        position: relative;
        left: 0;
        margin: 4px auto 0;
        padding: 4px 8px;
        width: calc(100% - 20px);
      }
    }
  }

  .pagination {
    > ul {
      width: calc(100% - 10px);
      transform: unset;
      left: unset;
      position: unset;
      > li {
        &.spread {
          text-align: center;
          padding: 2px;
          margin: 0;
        }
        a {
          font-size: 12px;
          padding: 5px;
          min-width: 25px;
        }
      }
    }
  }

  .section-loship-not-available {
    img {
      width: 290px;
    }
  }
}
