@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

// TODO: css refactor
.home-page,
.search-page {
  min-height: 100vh;
}

.search-page {
  > h1 {
    @extend %TITLE;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
  }
  .search-filter {
    &-content {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px;
      padding: 8px 16px !important;
      background: $white;
      .desktop & {
        @extend %module;
        max-width: calc(100% - 16px);
      }
    }
  }
  .not-found {
    margin: 32px auto;
    max-width: 300px;
    text-align: center;
    color: $dark-gray;
    > h3 {
      margin: 16px 0;
    }
  }
}

.search-global-address {
  position: relative;
  &-content {
    display: inline-flex;
    flex-direction: column;
    padding: 12px 16px !important;
    background: $white;
    color: $dark-gray;
    cursor: pointer;
    .desktop & {
      @extend %module;
      min-width: 300px;
      max-width: calc(100% - 16px);
    }
    .address {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $black;
      margin-top: 5px;
      .lz-marker {
        color: $red;
      }
      .content {
        @extend %text-trimmed;
        flex: 1;
        margin: 0 10px;
      }
    }
  }
  .desktop & {
    &-content {
      left: 50%;
      top: -20px;
      width: 550px;
      transform: translateX(-50%);
    }
  }
}

.district-section {
  .wrapper {
    display: flex;
  }
  .district-list {
    @extend %module;
    flex-basis: 165px;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 40px;
    h4 {
      color: $red;
      padding: 10px;
      border-top-left-radius: $radius-md;
      border-top-right-radius: $radius-md;
    }
    > ul {
      max-height: 515px;
      overflow: auto;
      > li {
        padding: 10px 0;
        padding-left: 10px;
        display: block;
        cursor: pointer;
        &.active,
        &:hover {
          color: $red;
        }
      }
    }
  }
  .section-newsfeed {
    > .content {
      .list-item {
        .desktop & {
          width: calc(100% / 5 - 16px) !important;
        }
      }
    }
  }
}

.merchant-with-items-section {
  margin-bottom: 40px;
  h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0px;
    i {
      font-size: 20px;
      line-height: 24px;
      color: $red;
      margin-right: 5px;
    }
  }
  .merchant-list {
    margin-bottom: 20px;
    > li {
      display: inline-block;
      padding: 7.5px 0;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      color: $black;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 20px;
      &.active,
      &:hover {
        color: $red;
        border-color: $red;
      }
    }
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 45px) / 4));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .dish-item {
    @extend %module;
    padding: 10px;
    .img-lazy {
      width: 60px;
    }
    > .content {
      .name {
        margin-bottom: 4px;
        padding: 0;
        height: 40px;
        font-weight: normal;
        overflow: hidden;
      }
    }
    .btn-add-to-cart {
      top: unset;
      bottom: 10px;
      padding: 0 6px;
      width: unset;
      font-size: 14px;
    }
  }
  .btn-view-all-result {
    line-height: 30px;
    color: #424242;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    > i {
      line-height: 30px;
      font-size: 14px;
    }
  }
}

.pagination {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  margin: 30px 0;
  text-align: center;
  > ul {
    margin: 0 auto;
    > li {
      display: inline-block;
      &.spread {
        text-align: center;
        margin: 2px;
        padding: 10px;
        font-weight: bold;
      }
      a {
        font-weight: bold;
        display: block;
        @extend %module;
        padding: 10px;
        min-width: 40px;
        text-align: center;
        cursor: pointer;
        color: $black;
        margin: 2px;
      }
      &.current {
        a {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}

.section-loship-not-available {
  padding: 50px 15px;
  text-align: center;
  background: $white;
  h3, p {
    margin: 0 auto;
    max-width: 400px;
  }
  h3 {
    margin: 30px auto 10px;
  }
  p {
    color: $dark-gray;
  }
  img {
    width: 400px;
  }
}
