@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.clearfix {
  clear: both;
  width: 100%;
}

.container {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.row {
  margin: 0 -7.5px;
}

.col-8,
.col-4 {
  float: left;
  padding: 0 7.5px;
}

.col-8 {
  width: 75%;
}

.col-4 {
  width: 25%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left;
}

.page {
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-error {
  color: $red;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.cover-loship {
  display: none;
}

.user-avatar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-right: 5px;
  &.middle {
    @extend %position-middle;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    vertical-align: top;
    width: 20px;
  }
}

.text-error {
  color: $red;
}

.text-warning {
  color: $orange;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.expand-container {
  position: relative;
  white-space: pre-wrap;
  transition: height 0.2s;
  background: inherit;
  .desktop & {
    cursor: pointer;
  }
  &.lines-2 {
    @include expander($line: 2);
  }
  &.lines-3 {
    @include expander($line: 3);
  }
  &.lines-4 {
    @include expander($line: 4);
  }
  &.lines-5 {
    @include expander($line: 5);
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    background: inherit;
  }
  .title {
    margin-bottom: 8px;
    font-weight: bold;
  }
  .view-more {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
  }
}

.async-loading-container {
  @extend %layer-toaa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
}

._error {
  padding: 8px 16px 0;
}

.mobile {
  .container {
    width: 100%;
  }
  .m-container {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  ._error {
    text-align: center;
    font-size: 14px;
  }
}

.dropdown-wrapper {
  position: relative;
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    font-size: 16px;
    z-index: 3;
    ul {
      background: $white;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
      > li > a {
        &:hover {
          color: $black;
        }
      }
    }
  }
  &:hover {
    .dropdown-menu {
      display: block;
      > ul {
        &:before,
        &:after {
          left: 50%;
          position: absolute;
          bottom: 100%;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 5px;
          border-color: transparent transparent #fff;
        }
        &:before {
          border-color: transparent transparent rgba(0, 0, 0, 0.3);
        }
      }
    }
    .dropdown-item {
      > a {
        display: flex;
        padding: 8px 32px 8px 8px;
        color: $black;
        &:hover {
          background: $ash-gray;
        }
        > img {
          width: 20px !important;
          height: 16px;
        }
        > span {
          margin-left: 8px;
        }
      }
    }
  }
}

.feature-introducer {
  background-color: $red;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  &:not(.has-text) {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
  }
  &.has-text {
    margin-left: 4px;
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
  }
}

.toast-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 !important;
  font-size: 14px;
  .desktop & {
    width: 480px !important;
    max-width: 100%;
    transform: translateX(-50%) !important;
  }
  .Toastify__toast--default {
    display: inline-flex;
    margin-bottom: 12px;
    padding: 4px 8px;
    max-width: calc(100% - 48px);
    min-height: unset;
    background: transparentize($color: $black, $amount: 0.1);
    color: $white;
    border-radius: 8px;
    .Toastify__toast-body {
      margin: 0px 8px;
    }
  }
  .Toastify__close-button--default {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@import '../components/button';
@import '../components/checkbox';
@import '../components/form';
@import '../components/input';
@import '../vendor/fontawesome-all.min.css';
@import '../vendor/react-datepicker.min.css';
@import '../vendor/megapay.css';
@import '../vendor/react-slick.css';
@import '../vendor/react-toastify.css';
@import '../vendor/spinkit.css';
