@import "../utils/placeholders";
@import "../utils/variables";
@import "../utils/mixins";

.dish-info {
  background-color: #fff;
  padding-bottom: 30px;
  .navigation {
    padding: 25px 0;
    .bread-crumb {
      display: flex;
      list-style: none;
      .item {
        a {
          color: $black;
          font-size: 18px;
        }
        cursor: pointer;
        &:not(:first-child)::before {
          margin: 0 15px;
          content: ">";
        }
        &:last-child {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }
  .dish {
    display: flex;
    .dish-image {
      margin-left: 80px;
      margin-right: 50px;
    }
    .dish-content {
      width: 50%;
      margin-top: 50px;
      font-size: 18px;
      .name {
        margin: 24px 0;
        font-size: 26px;
        line-height: 38px;
        font-weight: bold;
      }
      .description {
        width: 70%;
        font-size: 17px;
        white-space: pre-wrap;
      }
      .price {
        margin: 10px 0;
        color: #f7001e;
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
      }
    }
  }
  .history-stock {
    margin: 0 100px;
    padding-bottom: 30px;
    .table-title {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .detail-history-stock {
      position: relative;
      .paginator {
        position: absolute;
        top: -15%;
        left: 21%;
      }
      .wrapper-table {
        height: 250px;
        overflow: auto;
      }
    }
  }
}
