@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .step-unauthorized {
    @extend %module;
    margin: 16px;
    background: $white;
  }
  .m-page-order-history {
    text-align: center;
  }
}
