@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .m-handle-popup {
    height: 100vh;
    width: 100%;
    border-radius: inherit;
    text-align: center;
    h4 {
      font-size: 16px;
      font-weight: 100;
      text-transform: inherit;
    }
    .review {
      background-color: $white;
      height: 300px;
      &:focus {
        border: none;
      }
      &::-webkit-input-placeholder {
        text-align: center;
      }
    }
    .rating-ratio {
      margin-top: 25px;
    }
    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      &.top {
        margin-top: 35px;
      }
    }
    .form-footer {
      text-align: center;
      .btn-notsubmit {
        color: $dark-gray;
      }
    }
    .msg {
      &.error {
        text-align: center;
      }
    }
  }
}
