@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .page-merchant {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px;
    .col-left,
    .col-right {
      width: 100%;
    }
  }

  .mc-header {
    margin: 0;
    &-photo {
      > .background {
        z-index: 1;
        &:before {
          background: none;
        }
      }
      > img {
        width: 100%;
        object-fit: cover;
      }
    }
    .content {
      .heading {
        padding: 15px 15px 0;
        background: $white;
        +.col {
          padding-top: 0;
          .col-item {
            margin-top: 10px;
          }
        }
      }
      .col {
        margin-bottom: 10px;
        padding: 15px;
        background: $white;
        &.extra-fees {
          .col-item {
            display: flex;
            padding: 12px 0;
            & + .col-item {
              border-top: 1px solid $light-gray;
            }
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
            }
            .label {
              flex: 1;
            }
          }
        }
        &.eatery-chain {
          display: flex;
          align-items: center;
          .metadata {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 5px 0 10px;
            min-width: 0;
            .name {
              @extend %text-trimmed;
            }
          }
        }
      }
    }
  }
  .mc-menu {
    .submenu-heading-list {
      position: relative;
    }

    .submenu-content-list {
      width: 100%;
      margin-left: 0;
      padding: 0;
      .mc-submenu {
        .title {
          > h3 {
            > small {
              display: block;
              font-size: 14px;
              margin-left: 0;
              margin-bottom: 5px;
              font-style: italic;
              text-transform: none;
            }
          }
        }
      }
    }
  }

  .mc-promo {
    margin-bottom: 8px;
  }

  .dish-select {
    .dish-custom {
      flex-grow: 1;
      max-height: initial;
      .custom-item {
        .name {
          font-weight: bold;
          span {
            font-weight: normal;
          }
        }
        .custom-option-item {
          padding: 0px;
          .dish-quantity-select {
            width: 100%;
            display: flex;
            input {
              font-size: 16px;
              height: 30px;
              text-align: center;
              padding: 10px 0px;
              width: 40px;
            }
            button {
              flex-grow: 1;
              font-weight: bold;
              height: 30px;
              margin: 0px 5px;
              background-color: $white;
              border: 1px solid $gray;
              border-radius: $radius-md;
            }
          }
        }
      }
    }
  }
  .fanpage {
    margin: 0px 10px 10px 10px;
    width: calc(100% - 20px);
    @extend %module;
  }
  .user-cart-list {
    padding: 20px;
  }
}
