@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.page-merchant-manager {
  display: block;
  .manager-heading {
  }
  .alone-message {
    @extend %module;
  }
  .mc-header {
    background: $white;
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
    margin-bottom: 15px;
    padding: 20px;
    > a {
      margin-bottom: 10px;
    }
    > div {
      position: relative;
      min-height: 120px;
    }
    .mc-avatar {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      height: 120px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $radius-md;
    }
    .mc-info {
      padding-left: 140px;
    }
    .mc-warning {
      color: $orange;
    }
    .breadcrumbs {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      font-size: 24px;
      > li {
        float: left;
        margin-right: 10px;
      }
    }
    p {
      margin: 0 0 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .categories-wrapper {
    @extend %module;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .categories-content {
      display: flex;
      align-items: center;
      h3 {
        font-size: 16px;
      }
      .categories-warning {
        color: $orange;
        margin-left: 5px;
      }
      .categories {
        display: inline-flex;
        &-wrapper {
          overflow: auto;
        }
        .category {
          margin-left: 5px;
          padding: 3px 5px;
          border: 1px solid $gray;
          border-radius: 10px;
          color: $black;
          white-space: nowrap;
          cursor: pointer;
        }
      }
    }
    .btn-update-categories {
      .fa-pencil-alt {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
  .btn-create-group,
  .btn-create-custom,
  .btn-create-dish {
    color: $black;
    padding: 10px;
    text-transform: uppercase;
    border: 1px dashed $black;
    display: block;
    margin-bottom: 10px;
    > i {
      float: right;
      margin-left: 5px;
    }
    &:hover {
      border-color: $blue;
    }
  }
  .mcm-menu {
    display: flex;
  }
  .mcm-submenu-heading-list {
    width: 280px;
    .btn-create-industry {
      padding: 20px 20px 10px 20px;
      background-color: #ffffff;
      border-radius: 8px;
    }
    .industry-group {
      @extend %module;
      width: 280px;
      margin-top: 10px;
      .btn-create-group {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .pl-40 {
        padding-left: 40px;
        .dish-group-name {
          width: 140px;
          .group-name {
            width: 80%;
            word-break: break-word;
          }
        }
      }
    }
    .wrapper {
      position: relative;
      border-bottom: 1px solid $gray;
      display: flex;
      .dish-group-name {
        color: $black;
        display: block;
        padding: 10px 0;
        font-size: 14px;
        width: 175px;
        .fa-star {
          display: none;
          &.isPinned {
            display: block;
            color: $orange;
          }
        }
        &:last-child {
          border-width: 0;
        }
        &:hover {
          color: $red;
          .fa-star {
            display: block;
            color: $orange;
          }
        }
        .group-name {
          width: 90%;
        }
        > i {
          float: right;
        }
        small {
          color: $dark-gray;
        }
      }
      .fa-pencil-alt {
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
      }
      .availability-toggle {
        padding: 10px;
      }
    }
    .btn-loadmore-group {
      margin-top: 15px;
      .spinner-wrapper {
        padding: 0;
        height: 25px;
      }
    }
    .industry-name {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid #cbcbcb;
      align-items: center;
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: $radius-sm;
        background-color: $light-gray;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(~assets/images/dish-placeholder.png);
        img {
          opacity: 1;
          width: 100%;
          transition: opacity 0.5s linear;
          &[data-src] {
            opacity: 0;
          }
        }
        &:hover {
          .big-avatar {
            visibility: visible;
          }
        }
        .big-avatar {
          position: absolute;
          visibility: hidden;
          left: 120%;
          top: 50%;
          transform: translateY(-50%);
          z-index: 99;
          .big-avatar-wrapper {
            @extend %module;
            width: 320px; // height: 320px;
            padding: 3px;
            img {
              width: 100%;
            }
          }
        }
      }
      .availability-toggle {
        margin-top: 10px;
      }
      .name {
        margin-left: 10px;
        cursor: pointer;
        width: 170px;
      }
      .fa-pencil-alt {
        cursor: pointer;
        margin-left: auto;
      }
    }
  }
  .mcm-submenu-content-list {
    width: 885px;
    padding-left: 20px;
    .load-more {
      text-align: center;
      .btn-loadmore-group {
        width: auto;
        padding: 8px 12px;
        .spinner-wrapper {
          padding: 0;
        }
        &.loading {
          padding: 3px 12px;
        }
      }
    }
    .mc-submenu {
      margin-bottom: 15px;
       h3 {
        margin: 0 0 10px;
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        display: inline-block;
        .availability-toggle {
          margin-right: 10px;
          > i {
            vertical-align: baseline;
          }
        }
        .edit-group {
          margin-left: 10px;
          font-size: 14px;
          text-transform: none;
          > i {
            margin-right: 3px;
            font-size: 12px;
          }
          &.isPinned {
            color: $orange;
          }
        }
        .toggle-extra-dishes {
          color: $dark-gray;
          text-transform: none;
          font-size: 16px;
          > i {
            color: $white;
            border: 1px solid $gray;
            background-color: $white;
            border-radius: 4px;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            width: 16px;
            height: 16px;
            &.active {
              color: $red;
            }
          }
        }
      }
      > div {
        @extend %module;
      }
      .load-more {
        text-align: center;
        margin: 10px 0 -5px 0;
        span.btn {
          width: auto;
          padding: 8px 12px;
          .spinner-wrapper {
            padding: 0;
          }
          &.loading {
            padding: 0 12px;
          }
        }
      }
    }
    .admin-tool {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dashed $gray;
      min-height: 36px;
      a {
        color: $black;
        margin-right: 8px;
      }
      .right {
        display: flex;
        align-items: center;
        float: right;
      }
      input {
        color: $black;
        background: $light-gray;
        line-height: 20px;
        font-size: 14px;
      }
      .hint-icon {
        margin-left: 6px;
      }
      .hint-csv {
        text-align: left;
      }
    }
    .separate-industry-content {
      padding-top: 20px;
      border-top: 1.5px dashed #ccc;
    }
    .industry-content {
      h3 {
        margin: 0 0 10px;
        color: $dark-gray;
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        display: inline-block;
        .availability-toggle {
          margin-right: 10px;
          > i {
            vertical-align: baseline;
          }
        }
        .edit-group {
          margin-left: 10px;
          font-size: 14px;
          text-transform: none;
          > i {
            margin-right: 3px;
            font-size: 12px;
          }
          &.isPinned {
            color: $orange;
          }
        }
        .toggle-extra-dishes {
          color: $dark-gray;
          text-transform: none;
          font-size: 16px;
          > i {
            color: $white;
            border: 1px solid $gray;
            background-color: $white;
            border-radius: 4px;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            width: 16px;
            height: 16px;
            &.active {
              color: $red;
            }
          }
        }
      }
      .industry-name {
        font-size: 24px;
        color: #9c9c9c;
        font-weight: bold;
      }
    }
    .group-title-industry {
      h3 {
        padding-left: 27px;
      }
    }
  }
  .submenu-empty {
    @extend %module;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    > h2 {
      margin: 0 0 20px;
    }
    > p {
      margin: 0 0 10px;
    }
    > p.text-hint {
      color: $dark-gray;
      font-size: 14px;
    }
    .copy-menu-form {
      margin-bottom: 10px;
      padding: 20px;
      border-radius: $radius-md;
      background-color: $ash-gray;
    }
    .text-error {
      margin-top: 10px;
    }
  }

  .submenu-categories {
    .categories-manage {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-around;
    }
    .input-search-categories {
      position: relative;
      width: 100%;
      cursor: pointer;
      &::placeholder {
        font-size: 14px;
      }
    }
    .icon-input {
      position: absolute;
      top: 17px;
      right: 6px;
      cursor: pointer;
      font-size: 10px;
    }

    .list-categories {
      width: 100%;
      max-height: 305px;
      overflow: auto;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1030;
      background: $white;
      margin-top: 3px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
      .img-lazy {
        margin: 3px 5px 3px 0;
      }
      .item-category {
        display: flex;
        align-items: center;
        text-align: left;
        color: black;
        padding: 2px 11px;
        background: #ffffff;
        line-height: 24px;
        letter-spacing: 0.4px;
        .img-lazy {
          width: 45px;
        }
        &:hover {
          cursor: pointer;
          background: #f4f4f4;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }


    .list-selected {
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
      .item-selected {
        float: left;
        position: relative;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 3px 20px 3px 5px;
        border: 1px solid $gray;
        border-radius: 10px;
        color: $black;
        white-space: nowrap;
        cursor: pointer;
        > i {
          position: absolute;
          right: 6px;
          top: 5px;
          font-size: 14px;
          line-height: 18px;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .menu-dish-list,
  .menu-dish-custom-list {
    width: 100%;
    border-spacing: 0;
    th {
      border-bottom: 2px solid $ash-gray;
      padding: 7.5px 5px;
      color: $dark-gray;
      text-align: left;
    }
    td {
      border-bottom: 1px solid $ash-gray;
      padding: 7.5px 5px;
    }
    .item-inventory, .item-sold {
      text-align: center;
    }
  }
  .menu-dish-row {
    &:hover {
      background-color: $ash-gray;
    }
    .dish-item-info {
      position: relative;
      padding-left: 50px;
      height: 60px;
      width: 300px;
      .avatar {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: $radius-sm;
        background-color: $light-gray;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(~assets/images/dish-placeholder.png);
        img {
          opacity: 1;
          width: 100%;
          transition: opacity 0.5s linear;
          &[data-src] {
            opacity: 0;
          }
        }
        &:hover {
          .big-avatar {
            visibility: visible;
          }
        }
        .big-avatar {
          position: absolute;
          visibility: hidden;
          left: 120%;
          top: 50%;
          transform: translateY(-50%);
          z-index: 99;
          .big-avatar-wrapper {
            @extend %module;
            width: 320px; // height: 320px;
            padding: 3px;
            img {
              width: 100%;
            }
          }
        }
      }
      .name {
        font-weight: 700;
        @extend %text-trimmed;
        a {
          color: black;
        }
      }
      .price {
        color: $blue;
      }
      .idMenu {
        padding-left: 25px;
        color: $gray;
        font-style: italic;
        &.mobile {
          padding-left: 0;
        }
        .printBarcode {
          padding-left: 0;
          font-style: normal;
        }
      }
    }
    .dish-item-inventory, .dish-item-sold {
      width: 60px;
      text-align: center;;
    }
    .dish-item-actions {
      text-align: right;
      > * {
        margin-left: 7.5px;
        padding-left: 7.5px;
        border-left: 1px solid $ash-gray;
        &:first-child {
          margin-left: 0;
          border-left: 0;
        }
      }
      > .btn-dish-action {
        vertical-align: top; // color: $blue;
        font-size: 14px;
        line-height: 20px;
        &.print {
          color: $gray;
        }
        > i {
          line-height: 20px;
          font-size: 12px;
          margin-right: 3px;
        }
      }
    }
  }
  .availability {
    width: 30px;
    text-align: center;
  }
  i.availability-status {
    cursor: pointer;
    border: 2px solid $white;
    width: 16px;
    height: 16px;
    border-radius: $radius-sm;
    background-color: $light-gray;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: top;
    display: inline-block;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    &:active {
      box-shadow: none;
      margin-top: 2px;
    }
    &.active {
      background-color: $green;
    }
  }
  i.extra-dishes {
    cursor: pointer;
    border: 2px solid $light-gray;
    border-radius: 4px;
    color: $white;
    &.active {
      color: $red;
    }
  }
  .menu-dish-custom-list {
    tr {
      user-select: none;
    }
    tr.custom-item {
      &:hover {
        background-color: $ash-gray;
      }
    }
    tr.custom-option-item {
      &:hover {
        background-color: $ash-gray;
      }
    }
  }
  .mc-menu-inactive-warning {
    @extend %module;
    margin-bottom: 40px;
    position: relative;
    .btn-active {
      color: $white;
      background-color: $blue;
    }
  }
  .menu-notice {
    @extend %module;
    display: flex;
    justify-content: space-between;
    height: 65px;
    overflow: hidden;
    margin-bottom: 16px;
    padding: 23px 20px;
    font-size: 16px;
    color: $black;
    .notice-content {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .load-more {
    height: auto;
    overflow: unset;
  }
  .wrapper-unit-menu {
    position: relative;
    .unitName {
      border: 1px solid $gray;
      height: 32px;
      border-radius: 5px;
      cursor: pointer;
      padding-left: 10px !important;
    }
    .unitMenus {
      > input {
        width: 100%;
        margin-top: 5px;
        background-color: $light-gray;
      }
      .dashed {
        padding-left: 10px;
      }
      overflow-y: auto;
      border: 1px solid $gray;
      border-radius: 5px;
      max-height: 170px;
      padding: 0 !important;
      position: absolute;
      width: 100%;
      background-color: $white;
      z-index: 9999;
      .item-unit-menu {
        padding: 5px;
        border-bottom: 1px dashed $light-gray;
        cursor: pointer;
        &:hover {
          background-color: $light-gray;
        }
      }
    }
  }
  .order-industry {
    width: 50%;
  }
}

// POPUP
.popup.menu-dish-group,
.popup.menu-dish-customs,
.popup.menu-dish-custom-update,
.popup.menu-dish-update,
.popup.menu-warehouse-popup,
.popup.menu-stock-history-popup,
.popup.menu-categories-popup,
.popup.menu-update-surge-price {
  background-color: $white;
  border-radius: $radius-md;
  .heading {
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
    background-color: $blue;
    color: $white;
    padding: 10px;
    > h3 {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .content {
    padding: 20px;
  }
  .section {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray;
    padding-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
      border-color: transparent;
    }
    > h3 {
      margin: 0;
      padding-bottom: 5px;
      text-transform: uppercase;
      color: $dark-gray;
      font-size: 20px;
      border-bottom: 2px solid $dark-gray;
      small {
        color: $dark-gray;
        text-transform: none;
        font-weight: 400;
      }
    }
  }
}

.popup.menu-stock-history-popup {
  width: 60%;
  height: 80vh;
}

.popup.menu-categories-popup {
  width: 540px;
  height: 80vh;
  max-height: 527px;
  .popup-footer {
    margin-right: 5px;
    .status {
      margin-right: 5px;
    }
  }
}

.popup.menu-warehouse-popup, .popup.menu-stock-history-popup {
  .content {
    .dish-id, .dish-name, .dish-stock {
      padding: 5px 5px 5px 0;
    }
    .stock-dish-name {
      font-size: 16px;
      font-weight: bold;
    }
    .list-stock-history {
      border: 0;
      margin-top: 5px;
    }
  }
  .form-action {
    text-align: right;
    margin-top: 10px;
    border-top: 1px solid $gray;
    padding: 10px 20px;
    .error {
      color: $red;
    }
    > .btn {
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.popup.menu-warehouse-popup {
  .content {
    .wrapper-supplier-menu {
      position: relative;
      .suppliers-menu {
        > input {
          width: 100%;
          margin-top: 5px;
          background-color: $light-gray;
        }
        .dashed {
          padding-left: 10px;
        }
        overflow-y: auto;
        border: 1px solid $gray;
        border-radius: 5px;
        max-height: 123px;
        padding: 0 !important;
        position: absolute;
        width: 100%;
        background-color: $white;
        z-index: 9999;
        .item-supplier-menu {
          padding: 5px;
          border-bottom: 1px dashed $light-gray;
          cursor: pointer;
          &:hover {
            background-color: $light-gray;
          }
        }
      }
    }
  }
}
.popup.menu-dish-group {
  background-color: $white;
  border-radius: $radius-md;
  width: 540px;
  .heading {
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
    background-color: $blue;
    color: $white;
    padding: 10px;
    > h3 {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  .content {
    padding: 20px;
  }
}

.popup.menu-dish-customs {
  width: 610px;
  .dish-custom {
    height: 458px;
    max-height: 458px;
    overflow: auto;
    padding: 0;
    .form {
      padding: 10px;
      border: 1px dashed $gray;
      margin-bottom: 10px;
      .form-title {
        color: $dark-gray;
        padding: 0;
        text-transform: uppercase;
      }
    }
    .custom-item {
      > .name {
        font-weight: 700;
        > .note {
          font-weight: 400;
          color: $dark-gray;
        }
      }
      .actions {
        text-align: right;
        > * {
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .custom-option-item {
      .create-custom-option-item {
        margin-left: 30px;
      }
      > .name {
        padding-left: 30px;
        > .price {
          color: $dark-gray;
        }
      }
      .actions {
        text-align: right;
        > * {
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.popup.menu-dish-custom-update {
  width: 540px;
}

.popup.menu-dish-update,
.popup.menu-dish-group {
  width: 610px;
  .dish-image-input {
    width: 60px;
    height: 60px;
    position: relative;
    > .btn-clear-dish-image {
      position: absolute;
      top: -5px;
      right: -5px;
    }
    > div {
      position: relative;
      padding-bottom: 100%;
      > img {
        border-radius: 5px;
        height: auto;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  .content {
    .wrapper-industry-menu {
      position: relative;
      .industry-menu {
        > input {
          width: 100%;
          margin-top: 5px;
          background-color: $light-gray;
        }
        .dashed {
          padding-left: 10px;
        }
        overflow-y: auto;
        border: 1px solid $gray;
        border-radius: 5px;
        max-height: 123px;
        padding: 0 !important;
        position: absolute;
        width: 100%;
        background-color: $white;
        z-index: 9999;
        .item-industry-menu {
          padding: 5px;
          border-bottom: 1px dashed $light-gray;
          cursor: pointer;
          &:hover {
            background-color: $light-gray;
          }
        }
      }
    }
  }
}

.popup.menu-dish-image-search {
  background-color: $white;
  border-radius: $radius-md;
  width: 800px;
  .heading {
    border-top-left-radius: $radius-md;
    border-top-right-radius: $radius-md;
    background-color: $blue;
    color: $white;
    padding: 10px;
    position: relative;
    > h3 {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase;
    }
    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $white;
      font-size: 20px;
    }
  }
  .content {
    padding: 20px;
  }
  .tab-bar {
    margin-top: 10px;
    > ul {
      > li {
        font-size: 18px;
        text-transform: uppercase;
        width: 50%;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: $blue;
        text-align: center;
        font-weight: 700;
        padding: 5px 0;
        display: inline-block;
        border-top-left-radius: $radius-md;
        border-top-right-radius: $radius-md;
        cursor: pointer;
        &.active {
          border-width: 1px 1px 0 1px;
          color: $blue;
        }
      }
    }
  }
  .search-results {
    border: 1px solid $blue;
    border-top: 0;
    display: flex;
    flex-direction: column;
    height: 488px;
    padding: 5px;
    overflow: hidden;
    margin-top: -1px;
    .result-list {
      overflow-y: scroll;
      height: 488px;
      > ul {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4, auto);
        margin-bottom: 5px;
        > li {
          width: 99%;
          margin: 0.5% auto;
          cursor: pointer;
          > div {
            padding: 0;
            padding-bottom: 100%;
            position: relative;
            overflow: hidden;
            > img {
              position: absolute;
              width: 150%;
              height: 150%;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
            }
          }
          &.loadmore {
            grid-column: 1 / -1;
            text-align: center;
            button {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.popup.menu-update-surge-price {
  width: 700px;
  .group-list {
    height: 60vh;
    max-height: 60vh;
    overflow: auto;
    .group-item {
      display: block;
      user-select: none;
      &-header {
        font-weight: bold;
        margin-top: 12px;
        padding-bottom: 8px;
        border-bottom: 1px dashed $gray;
        .checkbox {
          display: inline-flex;
          color: $blue;
        }
      }
      &-dish {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 4px;
      }
      &-dish-custom {
        flex-basis: 100%;
        padding-left: 16px;
        font-size: 14px;
      }
      &-dish-custom-option {
        padding-left: 16px;
      }
      &-header,
      &-dish,
      &-dish-custom,
      &-dish-custom-option {
        .name {
          @extend %text-trimmed;
          flex: 1;
          margin-right: 8px;
          font-size: 14px;
          line-height: 22px;
          color: $black;
          &:hover {
            > .action a.edit {
              display: inline;
            }
          }
          &.execute {
            .checkbox {
              span {
                color: $green;
              }
            }
          }
          &.conflict {
            color: $dark-gray;
            text-decoration: line-through;
          }
          .status-indicator {
            display: inline-block;
            margin-right: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $gray;
            &.active {
              background: $green;
            }
          }
          .checkbox {
            display: inline-flex;
            &.gray {
              .lz-check {
                color: $dark-gray;
              }
            }
            span {
              color: $black;
            }
          }
          .action {
            a {
              margin: 0 8px;
              &.edit {
                display: none;
              }
            }
          }
          .price {
            flex-basis: 200px;
            padding-right: 30px;
            position: relative;
            white-space: nowrap;
            text-align: right;
            & {
              text-decoration: line-through;
              color: $black;
              &.unselected {
                text-decoration: none;
              }
            }
            i {
              padding: 4px;
              margin: 0 6px;
              width: 18px;
              height: 18px;
              font-size: 10px;
              border-radius: 50%;
              color: white;
              &.status {
                position: absolute;
                right: 0;
                width: 12px;
                height: 12px;
                line-height: 12px;
                font-size: 8px;
                padding: 0;
                text-align: center;
                top: 5px;
              }
              &.fa-long-arrow-alt-right {
                padding: 0;
                width: unset;
                font-size: 14px;
                color: inherit;
                border-radius: unset;
              }

              &.fa-check {
                background: $green;
              }
              &.fa-times {
                background: $red;
              }
              &.fa-spin {
                color: $orange;
              }
            }
            &-new {
              display: inline-block;
              min-width: 60px;
              color: $green;
              text-align: right;
            }
            &-new-error {
              color: $red;
            }
          }
          .not-allow-select {
            display: inline-block;
            padding-left: 32px;
          }
          .hint-icon {
            margin: 0 6px;
          }
        }
      }
    }
  }
}

.copy-code {
  small {
    display: block;
    .green {
      color: $green;
    }
  }
  #copyCodeText {
    position: fixed;
    bottom: -100vh;
  }
}

.update-franchised {
  text-align: center;
  .input {
    display: flex;
    justify-content: center;
  }
}

