@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.page-merchant {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > .col-left {
    max-width: 784px;
    flex-grow: 1;
  }
  > .col-right {
    width: 350px;
    display: flex;
    flex-direction: column;
    .order-scroll-wrapper {
      flex-grow: 1;
    }
    .floating-panel {
      width: 350px;
    }
  }
}

.mc-header {
  margin-bottom: 20px;
  .desktop & {
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;
  }
  &-nav {
    @extend %headline;
    @extend %layer-nav;
    position: fixed;
    top: 0;
    width: 100%;
    background: $white;
    color: $black;
    padding: 12px 8px;
    box-shadow: $shadow-low;
    transition: all 0.2s;
    &.invert {
      padding: 16px 8px;
      background: transparent;
      color: $white;
      box-shadow: none;
      > a {
        color: $white;
      }
      .lz {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    > .name {
      @extend %text-trimmed;
      flex: 1;
      padding: 0 8px;
      text-align: center;
    }
    > a {
      color: $black;
    }
    .lz {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      font-size: 14px;
      text-align: center;
      &-heart {
        color: $red;
      }
    }
    > .action {
      padding: 0;
      > i + i {
        margin-left: 5px;
      }
    }
  }
  &-photo {
    position: relative;
    height: 30vh;
    overflow: hidden;
    > .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      .desktop & {
        filter: blur(24px);
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.2);
      }
    }
    .img-lazy {
      display: inline-block;
      position: relative;
      width: 25%;
    }
  }
  > .content {
    position: relative;
    .desktop & {
      padding: 15px 0px 25px;
      background-color: $white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      .col {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        & + .col {
          padding-left: 20px;
        }
      }
      .d-heading {
        padding-left: 35px;
        max-width: 75%;
        .loship-partner-icon {
          padding: 3px 6px;
          line-height: 14px;
          background-color: $red;
          color: $white;
          border-radius: 10px;
          font-weight: 700;
        }
        .thoughtful {
          margin: 5px;
          background-color: $blue;
          .hint-content {
            display: none;
          }
        }
      }
      .d-container {
        padding: 0px 35px;
        .merchant-thoughtful {
          display: flex;
          cursor: pointer;
          p {
            margin-bottom: 0;
            margin-left: 5px;
          }
        }
      }
    }
    .title {
      margin-top: 5px;
      h1 {
        @extend %TITLE;
        .honored-icon {
          margin-left: 5px;
        }
        .lz {
          display: inline-block;
          position: absolute;
          top: 4px;
          right: 15px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          color: $black;
          text-align: center;
          border-radius: 50%;
          cursor: pointer;
          &-heart {
            color: $red;
          }
          &:hover {
            color: $red;
          }
        }
      }
      .qr-code {
        position: absolute;
        top: 0;
        left: 87.5%;
        transform: translate(-50%, -50%);
        padding: 5px;
        background: $white;
        border-radius: 4px;
      }
      .lz-info-circle {
        position: absolute;
        top: 0;
        left: 87.5%;
        transform: translate(-50%, -50%);
        padding: 5px;
        background: $white;
        border-radius: 50%;
        font-size: 28px;
        z-index: 1;
      }
    }
    .categories {
      display: inline-flex;
      margin: 5px 0;
      &-wrapper {
        overflow: auto;
      }
      .category {
        padding: 3px 5px;
        border: 1px solid $gray;
        border-radius: 10px;
        color: $black;
        white-space: nowrap;
        cursor: pointer;
        + .category {
          margin-left: 5px;
        }
      }
    }
    .col {
      .col-item {
        min-height: 24px;
        margin-top: 5px;
        > i {
          line-height: 22px;
          margin-right: 5px;
          display: inline-block;
        }
      }

      .link-manager {
        display: block;
        > i {
          margin-right: 5px;
        }
      }
      .metadata {
        .desktop & {
          display: inline-block;
        }
        li {
          font-size: 16px;
          margin-top: 5px;
          > .label {
            color: $dark-gray;
            white-space: nowrap;
          }
        }
        .website .phone {
          a {
            color: $blue;
          }
        }
        .time-status {
          margin-right: 5px;
          color: $dark-gray;
          font-weight: bold;
          &.opening {
            color: $green;
          }
        }
        .phone {
          display: flex;
          flex-direction: row;
          .phone-number {
            display: inline-block;
            vertical-align: top;
            > * {
              float: left;
              margin-right: 5px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      .short-link {
        position: relative;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 55px;
        background-color: $white;
        > i {
          margin-right: 5px;
        }
        .link {
          font-weight: 400;
          font-size: 16px;
          margin: 0;
          vertical-align: top;
        }
        .wrap-btn-copy-link {
          position: absolute;
          right: 0;
          top: calc(50% - 1px);
          height: 20px;
          transform: translateY(-50%);
          background-color: $white;
          padding-left: 5px;
          > a {
            display: inline-block;
            background-color: $ash-gray;
            color: $dark-gray;
            cursor: pointer;
            font-size: 12px;
            line-height: 20px;
            border-radius: $radius-sm;
            padding: 0px 5px;
            i {
              display: inline-block;
              padding-right: 5px;
              font-size: 8px;
            }
          }
          a + a {
            margin-left: 5px;
          }
          &:before {
            position: absolute;
            right: 99%;
            top: 2px;
            width: 20px;
            height: 20px;
            content: "";
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0.1) 0%,
              rgba(255, 255, 255, 1) 100%
            );
          }
        }
      }
    }
    .row {
      margin: 0;
      + .row {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid $light-gray;
      }
    }
    .partner {
      margin: 0 -5px;
      .loship-partner-icon {
        margin: 5px;
        padding: 3px 6px;
        line-height: 14px;
        background-color: $red;
        color: $white;
        border-radius: 10px;
        font-weight: 700;
      }
      .thoughtful {
        margin: 5px;
        background-color: $blue;
      }
    }
  }
}

.mc-search {
  padding-top: 56px;
  &-nav {
    @extend %headline;
    @extend %layer-nav;
    position: fixed;
    top: 0;
    padding: 8px 16px;
    width: 100%;
    height: 56px;
    background: $white;
    color: $black;
    box-shadow: $shadow-low;
    transition: all 0.2s;
    > span {
      @extend %text-trimmed;
      padding: 0 16px;
    }
    > a {
      color: $black;
    }
    > i {
      &.action {
        color: $dark-gray;
      }
      &.lz-close {
        padding: 4px;
        background: $gray;
        color: $white;
        font-size: 8px;
        border-radius: 50%;
      }
    }
    > input {
      position: absolute;
      left: 48px;
      right: 8px;
      width: calc(100% - 56px);
      height: 32px;
      font-size: 14px;
      background: transparent;
      border: 1px solid $gray;
      border-radius: 6px;
      z-index: -1;
    }
  }
  &-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
    color: $dark-gray;
    > img {
      width: 96px;
      margin: 32px;
    }
  }
  .mc-submenu {
    .title {
      padding: 16px 16px 0;
    }
    h3 {
      .extra {
        font-weight: normal;
        color: $dark-gray;
        font-size: 80%;
        > i {
          margin-left: 8px;
          line-height: 20px;
        }
      }
    }
  }
}

.mc-menu {
  position: relative;
  display: flex;
  &.empty {
    display: block;
  }
  .empty-menu-content {
    @extend %module;
    > h3 {
      text-align: center;
      line-height: 26px;
      font-size: 22px;
      margin-bottom: 20px;
    }
    > p {
      line-height: 22px;
      text-align: center;
    }
  }
  .submenu-content-list {
    .mc-submenu {
      margin-bottom: 10px;
      background: $white;
      border-radius: 8px;

      .desktop & {
        .food-list {
          padding: 8px 0;
          > li + li {
            border-top: 1px solid $light-gray;
          }
        }
      }
    }
  }
}

.menu-manager-warning {
  h2 {
    text-align: center;
  }
  > p {
    margin: 0 0 10px;
  }
  img {
    height: 200px;
  }
}

.submenu-heading-list {
  min-width: 160px;
  flex-grow: 1;
  .panel {
    width: 160px;
  }
  .panel {
    @extend %module;
  }
  .menu-heading {
    color: $black;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid $gray;
    &:last-child {
      border-width: 0;
    }
    &:hover {
      color: $red;
    }
  }
}

.submenu-content-list {
  flex-grow: 1;
  vertical-align: top;
  padding-left: 15px;
  width: 624px;
  .mc-submenu {
    .title {
      background: transparent;
      box-shadow: initial;
      padding: 16px 16px 0;
      > h3 {
        @extend %HEADING;
        text-transform: uppercase;
        > small {
          font-size: 14px;
          margin-left: 5px;
          font-style: italic;
          font-weight: normal;
          color: $dark-gray;
          .dish-group-hint {
            margin-left: 3px;
            text-transform: none;
            font-style: normal;
          }
        }
      }
      .featured {
        display: inline-block;
        margin-top: 2px;
        font-size: 14px;
        background: $orange;
        color: $white;
        padding: 1px 5px;
        border-radius: 5px;
        font-weight: 700;
        line-height: 20px;
        vertical-align: top;
        text-transform: uppercase;
      }
    }

    > div {
      @extend %module;
      padding: 10px;
    }
    .dish-group-hint {
      float: right;
      text-transform: none;
      font-style: normal;
    }
  }

  .animate-add-to-cart {
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    transition: all 0.7s ease-in-out;
    z-index: 1000;
    background: $blue;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
  }
}

.mc-promo {
  margin-bottom: 10px;
  #promo-code {
    position: fixed;
    bottom: -100%;
    opacity: 0;
  }
  .card-heading {
    @extend %HEADING;
    padding: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .view-all {
      @extend %TEXT;
      font-weight: bold;
      text-transform: none;
      float: right;
    }
  }
  .mc-promo-action {
    @extend %content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }
  .mc-promo-item {
    cursor: pointer;
  }
}
