@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .page-merchant-manager {
    padding-top: 60px;
    .container {
      iframe {
        height: 100vh;
      }
    }
    .menu-dish-list {
      padding: 0 5px;
      td {
        padding: 0;
      }
    }
    .btn-create-group {
      border: 1px solid $gray;
      border-radius: 5px;
      color: $red;
      text-transform: inherit;
      font-weight: bold;
      i {
        float: initial;
        margin-right: 5px;
      }
    }
    .btn-create-dish,
    .btn-edit-group {
      color: $red;
      > i {
        float: none;
        margin-right: 5px;
      }
    }
    .mc-header {
      margin-top: 40px;
      > div {
        font-size: 20px;
        font-weight: bold;
        min-height: inherit;
      }
      .mc-avatar {
        position: relative;
      }
      .breadcrumbs {
        font-size: 17px;
      }
      .mc-info {
        padding-left: 0;
        font-weight: bold;
        font-size: 22px;
        .breadcrumbs {
          margin-top: 10px;
          margin-bottom: 5px;
        }
      }
    }

    .mcm-menu {
      display: block;
      .mcm-submenu-heading-list {
        position: relative;
        left: 10px;
        width: calc(100% - 10px);
        > div {
          width: inherit;
          box-shadow: inherit;
          padding: 0 20px;
          background-color: transparent;
        }
      }
      .mcm-submenu-content-list {
        margin-top: 15px;
        position: relative;
        width: 100%;
        padding-left: 0;
        .clear {
          background-color: $light-gray;
          height: 15px;
        }
        .mc-submenu {
          margin: 0 10px;
          > div {
            padding: 0;
            box-shadow: none;
          }
          > h3 {
            .toggle-extra-dishes {
              float: left !important;
            }
          }
          .btn-create-dish {
            width: 48%;
            float: right;
            border: 1px solid rgba(66, 66, 66, 0.2);
            border-radius: 7px;
            text-transform: inherit;
            font-weight: bold;
          }
          .btn-edit-group {
            color: $red;
            padding: 10px;
            border: 1px solid rgba(66, 66, 66, 0.2);
            border-radius: 7px;
            display: block;
            margin-bottom: 10px;
            width: 48%;
            float: left;
            text-align: center;
            font-weight: bold;
          }
          .note-edit-food {
            font-size: 14px;
            text-align: center;
            display: inline-block;
            width: 100%;
            border-top: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
            padding: 15px 0;
          }
          .head-group-dish {
            box-shadow: transparent;
            padding-bottom: 0;
            font-size: 16px;
            padding: 20px 0 15px;
            > h3 {
              display: inline-block;
              span {
                &.second-food {
                  font-size: 16px;
                  font-weight: 100;
                  color: rgba(66, 66, 66, 0.43);
                }
              }
            }
            .button-switch {
              display: inline-block;
              float: right;
            }
          }
          .menu-dish-list {
            .menu-dish-row {
              height: 80px;
              .dish-item-info {
                width: inherit;
                height: 40px;
                font-size: 14px;
                .name {
                  max-width: 180px;
                }
                .price {
                  color: $black;
                }
              }
              .dish-item-actions {
                height: 40px;
                > .btn-dish-action {
                  display: inline-flex;
                }
                .availability {
                  width: initial;
                  text-align: right;
                }
              }
            }
          }
        }
        .back-merchant {
          padding-bottom: 15px;
          display: block;
        }
      }
    }

    .popup-wrapper {
      .popup {
        background-color: $ash-gray;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        .heading {
          position: absolute;
          width: 100%;
          z-index: 9999;
          top: 0;
          left: 0;
          background-color: $red;
          font-weight: bold;
          i {
            &.lz-arrow-head-left {
              position: absolute;
              left: 10px;
              top: 12px;
            }
          }
        }
        .content {
          padding-top: 50px;
          padding-bottom: 135px;
          height: 100vh;
          overflow-y: scroll;
        }
        &.popup.menu-dish-group {
          width: 100%;
          > h3 {
            text-align: center;
            padding-top: 20px;
            font-size: 16px;
          }
          input {
            width: 100%;
            margin: 10px 0;
            border: 1px solid $light-gray;
          }
          .fa-check {
            &:before {
              background-color: $white;
            }
          }
          .extra-dishes-food {
            margin: 10px 0;
            i {
              &.extra-dishes {
                margin-right: 10px;
              }
            }
            label {
              color: $black;
            }
          }
          label {
            display: inline-block;
          }
        }
        &.menu-dish-customs {
          width: 100%;
          background-color: $white;
          .wrapper {
            padding-top: 50px;
          }
          h4 {
            background: $ash-gray;
            padding: 15px 10px;
            margin-top: 11px;
            padding: 25px 10px 10px;
            font-size: 20px;
          }
          .note-group-custom {
            text-align: center;
            padding: 18px 5px;
            background: $light-gray;
            margin-top: 15px;
          }

          .dish-item-info {
            width: auto;
            height: 100%;
          }
          .menu-dish-list {
            .availability {
              width: auto;
              text-align: right;
            }
            td {
              border-bottom: none;
              &:last-child {
                display: block;
              }
            }
            .menu-dish-row {
              .dish-item-info {
                .price {
                  color: $black;
                }
                .shorted {
                  max-width: 200px;
                  overflow: hidden;
                  &.desc {
                    font-size: 12px;
                    color: $dark-gray;
                    height: 30px;
                  }
                }
              }
            }
          }
          .section-option {
            padding: 0 5px;
            height: 45px;
            display: flex;
            justify-content: space-between;
            > a {
              flex-basis: calc(50% - 4px);
              padding: 10px;
            }
          }
          .note {
            display: block;
            font-size: 14px;
            text-align: center;
            border-top: 1px solid $light-gray;
            padding: 15px 0;
            margin: 10px 7px 0px 7px;
          }
          .content {
            padding: 0;
            .dish-custom {
              width: 100%;
              max-height: unset;
              height: unset;
              .menu-dish-custom-list {
                .custom-item {
                  position: relative;
                  margin: 0;
                  .name {
                    padding: 10px;
                    .recycle {
                      position: absolute;
                      right: 10px;
                    }
                    .note-select-type {
                      .note-1 {
                        font-size: 12px;
                        color: $dark-gray;
                        span {
                          font-weight: 100;
                        }
                      }
                      .note-2 {
                        font-size: 12px;
                        color: $dark-gray;
                        font-weight: 100;
                      }
                      .option-select {
                        height: 45px;
                        margin-top: 10px;
                      }
                    }
                  }
                }
                .section-custom {
                  position: relative;
                  .custom-option-item {
                    padding-right: 0;
                    margin: 0;
                    .name {
                      padding-left: 10px;
                      border-top: 1px solid rgba(228, 228, 228, 0.65);
                      padding: 15px 10px;
                      .title {
                        color: $black;
                        font-weight: bold;
                      }
                    }
                    .actions {
                      float: right;
                    }
                  }
                  .clearfix {
                    height: 15px;
                    background-color: $light-gray;
                    &:last-child {
                      height: 10px;
                      background-color: $light-gray;
                    }
                  }
                }
              }
            }
            .form {
              .form-action {
                width: 100%;
                bottom: 0;
                padding: 5px;
                background-color: #fff;
                z-index: 1;
                left: 0;
              }
            }
          }
        }
        &.menu-dish-update {
          width: 100%;
          input {
            width: 100%;
            margin: 5px 0;
          }
          textarea {
            width: 100%;
            background-color: $white;
          }
          .upload-wrapper {
            background: #fff;
            text-align: center;
            border: 1px solid rgba(66, 66, 66, 0.3);
            border-radius: 5px;
            img {
              padding-top: 55px;
            }
            .title {
              margin-top: 75px;
              margin-bottom: 30px;
              border: 1px solid $red;
              border-radius: 5px;
              padding: 10px;
              border-radius: 5px;
              font-size: 14px;
              font-weight: bold;
              color: $red;
            }
          }
          .btn-create-group {
            color: $black;
            font-weight: 100;
          }
        }
      }
    }
    .btn-update-group {
      border: 1px solid rgba(66, 66, 66, 0.2);
      border-radius: 7px;
      background-color: $white;
      position: relative;
      color: $gray;
      padding: 10px;
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $gray;
        position: absolute;
        right: 10px;
        top: 12px;
      }
    }
    .popup {
      &.popup-menu-group-dish {
        z-index: 1050;
        .btn {
          &.btn-create {
            background-color: $red;
            color: $white;
            margin: 10px 8px 5px 8px;
            width: auto;
          }
        }
        &.menu-dish-customs {
          .content {
            padding: 50px 15px 135px;
          }
        }
        .wrapper-group-dish {
          .custom-option-item {
            padding: 10px 0;
            border-bottom: 1px solid $gray;
            &:last-child {
              border-bottom: none;
            }
            .checkbox {
              padding-left: 0;
              i {
                background-color: transparent;
                border: none;
                &.lz-check {
                  position: relative;
                  float: right;
                  top: 10px;
                }
              }
            }
            .food-extra {
              margin-left: 10px;
              color: $gray;
            }
          }
        }
        .create-group-dish {
          padding: 10px 0;
          border-bottom: 1px solid $gray;
          i {
            margin-right: 5px;
          }
        }
      }
      &.popup-menu-quickly-group-dish {
        height: auto;
        &.menu-dish-customs {
          width: 95%;
          .content {
            height: auto;
            padding: 50px 20px 135px;
          }
          input {
            width: 100%;
            border: 1px solid rgba(66, 66, 66, 0.2);
          }
          i {
            margin-right: 5px;
          }
          label {
            display: inline-block;
            color: $black;
          }
          .btn {
            font-weight: bold;
            text-transform: inherit;
            font-size: 16px;
            &.btn-create {
              width: auto !important;
              margin: 0 7px 5px;
              background-color: $red;
              color: $white;
            }
          }
        }
      }
      .menu-dish-custom-update {
        font-size: 14px;
        width: 100%;
        textarea {
          background: $white;
          width: 100%;
        }
        .input {
          width: 100%;
          margin-top: 5px;
        }
        .form-action {
          border-top: none;
          .btn {
            display: block;
          }
        }
        .extra-select-type {
          margin-top: 10px;
          > a {
            color: $black;
            i {
              margin-right: 5px;
              background-color: $white;
              &.edit {
                background-color: $light-gray;
                color: $dark-gray;
              }
            }
          }
        }
        input {
          border: 1px solid #d8d8d8;
          width: 100%;
          line-height: 30px;
        }
        .btn-switch {
          float: left;
          margin-right: 5px;
        }
        .name-custom-options {
          border: 1px solid $gray;
          padding: 10px;
          display: block;
          color: $black;
          border-radius: 5px;
          position: relative;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $gray;
            position: absolute;
            right: 10px;
            top: 17px;
          }
        }
        .txt-note {
          margin: 5px 0;
        }
        .allow-default {
          margin: 5px 0;
          color: $dark-gray;
        }
      }
    }
    .popup {
      &.menu-dish-update {
        background-color: $light-gray;
        .dish-image-input {
          width: 100%;
          height: 100%;
          > div {
            padding-bottom: inherit;
            > img {
              position: inherit;
            }
          }
        }
        .btn-create-group {
          border: 1px solid rgba(66, 66, 66, 0.2);
          border-radius: 7px;
          background-color: $white;
          position: relative;
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid $black;
            position: absolute;
            right: 10px;
            top: 12px;
          }
        }
      }
      label {
        margin: 5px 0;
        display: block;
        color: $dark-gray;
      }
      input {
        background-color: $white;
      }
      .form-action {
        background-color: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        left: 0;
        .btn-create,
        .btn-update {
          margin: 10px;
          background-color: $red;
          display: block;
          color: $white;
        }
      }
      .txt-note {
        font-size: 14px;
        color: $dark-gray;
        display: block;
      }
    }

    .required {
      color: $red;
    }

    .fa-trash {
      color: $gray;
    }

    .txt-custom {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
