@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.mobile {
  .page-not-found {
    .section-not-found {
      img {
        width: 50%;
      }
      h2 {
        font-size: 42px;
      }
    }
  }
}
