@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.page-not-found {
  text-align: center;
  margin-bottom: 60px;
  .section-not-found {
    margin-top: 64px;
    h2 {
      font-size: 72px;
      margin-top: 10px;
    }
    .content {
      p {
        color: $black;
        margin: 0 auto;
        &.group-1 {
          margin-top: 20px;
        }
      }
      .group-2 {
        list-style: inherit;
        text-align: justify;
        margin: 0 auto;
        width: 50%;
        margin-top: 15px;
      }
      a {
        line-height: 30px;
        color: $black;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        i {
          line-height: 30px;
          font-size: 14px;
        }
      }
    }
  }
}
