@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.order-page {
  > .order-step-detail {
    // width: unset;
    .desktop & {
      background: $white;
      border-radius: 8px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      > :first-child {
        border-radius: 8px 8px 0 0;
      }
    }
    &.full {
      padding: 0 !important;
    }
    &.done {
      padding-bottom: 100px !important;
    }
    &.cancel {
      padding-bottom: 74px !important;
    }
    &.detail {
      padding-bottom: 52px !important;
    }
    &.loading {
      @extend %module;
      margin: 8px;
      text-align: center;
      .spinner-wrapper {
        position: relative;
        z-index: 1;
      }
    }
    &.error {
      @extend %module;
      margin: 8px;
    }
    .section {
      margin-top: 8px;
      padding: 16px;
      .desktop & {
        border-bottom: 1px solid $light-gray;
      }
    }
    .shipping-info {
      position: relative;
      &-item {
        position: relative;
        padding-left: 24px;
        padding-top: 8px;
        > .connector {
          position: absolute;
          top: 10px;
          left: -4px;
          height: 100%;
          &.dot {
            &:after {
              content: '';
              position: absolute;
              top: 20px;
              left: 8px;
              height: calc(100% - 24px);
              border: 1px dashed $gray;
            }
          }
          > .fa-dot-circle {
            color: $blue;
          }
          > .fa-map-marker-alt {
            color: $red;
          }
          > .fa-list-alt {
            margin-left: 2px;
          }
        }
        a {
          color: $black;
        }
      }
      &-eatery {
        display: inline-flex;
        align-items: flex-start;
        > span {
          margin-left: 8px;
          padding: 1px 4px;
          border: 1px solid $blue;
          border-radius: 4px;
          color: $blue;
          font-size: 12px;
          font-weight: normal;
          white-space: nowrap;
          > i {
            line-height: 16px;
            margin-left: 2px;
          }
        }
      }
      .btn-rating-merchant {
        margin-top: 16px;
        .desktop & {
          position: absolute;
          top: 4px;
          right: 16px;
        }
      }
    }
    .shipping-process {
      text-align: center;
      &.order-first {
        order: -1;
      }
      .visualize {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 16px;
        max-width: 350px;
        &.done {
          justify-content: center;
          padding-bottom: 4px;
        }
        .dot {
          position: relative;
          background: $light-gray;
          width: 16px;
          height: 16px;
          font-size: 10px;
          text-align: center;
          border-radius: 50%;
          &:not(:first-child):after {
            content: '';
            position: absolute;
            right: calc(100% + 8px);
            top: 7px;
            width: 135px;
            border: 1px dashed $light-gray;
          }
          @include pulse(16);
          &.doing {
            margin: 4px;
            width: 8px;
            height: 8px;
            background: $red;
            box-shadow: 0 0 0 0 transparentize($color: $red, $amount: 0.5);
            animation: pulse-16 2s infinite;
            &:after {
              top: 3px !important;
              right: calc(100% + 12px);
              border-color: $red;
            }
          }
          &.done {
            background: $red;
            &:after {
              border-color: $red;
            }
          }
          > i {
            line-height: 16px;
            color: $white;
          }
        }
        .icon {
          width: 36px;
          height: 36px;
          border: 3px solid;
          border-radius: 50%;
          color: $green;
          > i {
            line-height: 32px;
            font-size: 20px;
          }
        }
      }
      .title {
        @extend %title;
        text-transform: uppercase;
      }
      .description {
        margin-top: 8px;
        padding: 0 16px;
        .step-2 {
          max-width: 220px;
          margin: 0 auto;
          color: $dark-gray;
          text-align: left;
          i {
            display: inline-block;
            width: 24px;
          }
          .content {
            margin-bottom: 4px;
            &.done {
              color: $black;
              > i {
                color: $green;
              }
            }
          }
        }
      }
    }
    .shipper-info {
      &.section-cta {
        z-index: 10000;
      }
      &-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 8px;
        > .img-lazy {
          flex-basis: 40px;
          width: 40px;
          height: 40px;
        }
        > .main {
          flex: 1;
          padding: 0 8px;
          .good-rate {
            display: flex;
            align-items: center;
            >img {
              margin-right: 5px;
            }
          }
        }
      }
      .rating-invite {
        margin: 8px -16px -16px;
        padding: 16px;
        background: #fbf8d8;
        font-style: italic;
      }
    }
    .order-info {
      > div {
        padding-bottom: 16px;
      }
      .order-line {
        display: flex;
        &.order-line-user {
          align-items: center;
          position: relative;
          &:not(:first-child) {
            margin-left: -16px;
            margin-right: -16px;
            padding: 16px;
            border-top: 1px solid $light-gray;
          }
          .img-lazy {
            width: 32px;
          }
        }
        > :first-child:not(.img-lazy) {
          flex-basis: 40px;
        }
        .quantity {
          width: 40px;
          > span {
            display: inline-block;
            width: 32px;
            background: $red;
            color: $white;
            text-align: center;
            font-size: 12px;
            border-radius: 12px;
          }
        }
        .price {
          margin-left: 4px;
          .old {
            margin-left: 4px;
            color: $dark-gray;
            font-size: 14px;
            text-decoration: line-through;
            text-align: right;
          }
        }
        &-content {
          flex: 1;
          .custom {
            color: $dark-gray;
            white-space: pre-wrap;
          }
        }
      }
      .shipping-fee {
        float: right;
        > .lz-discount {
          margin-right: 3px;
          color: $green;
          font-size: 20px;
        }
        .old {
          margin-left: 4px;
          color: $red;
          font-size: 14px;
          text-decoration: line-through;
          text-align: right;
        }
      }
      .btn-order-price-detail {
        width: 100%;
        text-align: center;
      }
    }
    .payment-method {
      border-bottom: none;
      .payment {
        margin-top: 4px;
        .desktop & {
          float: right;
          margin-top: -28px;
        }
        &.payment-paid {
          color: $dark-gray;
        }
        &.payment-unpaid,
        &.payment-refunding {
          color: $dark-gray;
        }
        &.payment-refunded,
        &.payment-refundfail {
          color: $red;
        }
      }
      .payment-message {
        margin-top: 16px;
        > p {
          margin-top: 0;
          margin-bottom: 8px;
        }
      }
    }
    .rating {
      margin-top: 16px;
      > i {
        font-size: 20px;
        line-height: 30px;
        padding-right: 5px;
      }
      > b {
        text-transform: capitalize;
      }
      &.recommended,
      &.neutral,
      &.not_recommended {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .title {
          flex-basis: 100%;
        }
        > img {
          margin-right: 5px;
        }
        > b {
          flex: 1;
        }
      }
      .review-content {
        font-size: 14px;
        font-style: italic;
        line-height: 14px;
      }
    }
    .promotion {
      color: $green;
      > i {
        display: inline-block;
        margin-right: 8px;
        width: 18px;
        height: 18px;
        line-height: 16px;
        text-align: center;
        border: 2px solid;
        border-radius: 50%;
        font-size: 10px;
      }
    }
    .cancel-note {
      padding: 0 16px;
      background-color: #ffecec;
      .title {
        color: $red;
        .desktop & {
          text-align: center;
        }
      }
    }
    .report-shipper {
      background: $white;
      text-align: center;
      padding: 10px 15px;
    }
    .order-actions {
      text-align: right;
      margin-top: 10px;
      padding: 0 15px;
      display: flex;
      justify-content: flex-end;
      .btn-order-price-detail {
        padding: 5px 10px;
      }
      .btn-sm {
        margin-left: 10px;
      }
      a + a {
        margin-left: 5px;
      }
    }
    .sharing {
      display: flex;
      align-items: center;
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid $light-gray;
      &.section {
        margin-top: 8px;
        padding: 16px;
        background: $white;
        border: none;
      }
      &-content {
        flex: 1;
        padding: 0 8px;
        text-align: left;
      }
    }
    .contact-info {
      a {
        color: inherit;
      }
    }

    .section {
      &.losend {
        .content {
          padding-left: 32px;
        }
      }
      &.cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &.shipper,
      &.merchant {
        .content {
          border-radius: 6px;
          overflow: hidden;
          .rating {
            padding: 8px 16px 0;
            font-size: 14px;
            border-radius: 6px;
            border: 1px dashed #d8d8d8;
            > .title {
              color: $dark-gray;
              line-height: 18px;
            }
          }
          .review-description {
            padding: 16px;
            background: #fbf8d8;
            font-style: italic;
          }
          &.p16_16 {
            padding: 16px;
            background: $ash-gray;
          }
        }
      }
      &.rating-notice {
        text-align: center;
        font-size: 0.8em;
        .content {
          padding: 16px;
          p {
            margin-top: 4px;
          }
        }
      }
      .content {
        p {
          margin: 0 auto 8px;
          color: $dark-gray;
          span {
            color: $black;
          }
        }
      }
      .shipping-info {
        position: relative;
        > i {
          position: absolute;
          left: -20px;
          &.fa-circle {
            left: -22px;
          }
        }
        > .connector {
          position: absolute;
          left: -15px;
          top: 24px;
          height: 100%;
          border-left: 2px dashed $dark-gray;
        }
      }
      .shipper-item {
        align-items: center;
        border-radius: $radius-md;
        background-color: $ash-gray;
        color: $black;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: relative;
        z-index: 0;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 32px;
          background-color: $red;
          z-index: -1;
        }
        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          border: 1px solid $red;
          background-color: $red;
          img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .info {
          flex: 1;
          padding: 0 8px;
        }
        .btn-call-shipper {
          background: $white;
          color: $red;
          font-weight: bold;
          &.btn-disabled {
            background: $ash-gray;
            color: $dark-gray;
          }
        }
      }

      .notice {
        color: #9b9b9b;
        font-style: italic;
      }
    }

    .hotline-notice {
      margin-top: 10px;
      font-style: italic;
      color: $dark-gray;
      a {
        color: $blue;
        font-weight: 700;
      }
    }
    &.merchant {
      margin: 0 auto;
      padding-bottom: 0 !important;
      max-width: 600px;
      .order-info-header {
        display: flex;
        color: $dark-gray;
        &-item {
          flex: 1;
          p {
            margin: 8px;
          }
          .order-block {
            padding: 6px;
            background: $black;
            color: $white;
            font-weight: bold;
            text-align: center;
            &.spacing {
              letter-spacing: 0.2em;
            }
            &.cancel {
              background: #ffe0e0;
              color: $red;
            }
            &.done {
              background: $green;
            }
            &.wait-shipper {
              background: $light-gray;
              color: $black;
            }
            &.pre-order {
              background: $orange;
            }
          }
        }
      }
      .order-detail {
        margin-bottom: 0;
        &-item {
          display: flex;
          padding: 12px 16px;
          border-bottom: 1px solid $light-gray;
          .main {
            flex: 3;
          }
          .sub {
            flex: 1;
          }
        }
      }
      .total-fee {
        border-top: 1px solid $dark-gray;
        padding-top: 8px;
      }
      .merchant-content {
        padding: 4px 16px;
        &.bg-info {
          background: #fff6c3;
        }
      }
    }
    .refund-note {
      background-color: $white;
      padding: 16px;
      margin: 10px 0;
      > h4 {
        margin: 0 0 5px;
      }
      > p {
        margin: 0 0 5px;
      }
    }
  }
}
