@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.order-page {
  margin: 16px 0;
  > .order-step-confirm {
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
    > .page-content {
      @extend %module;
      padding: 40px 30px 35px;
      background: $white;
    }
    .section {
      margin: 15px 0;
      > .title {
        padding: 8px 0;
        font-weight: bold;
        .light {
          font-weight: normal;
          color: $dark-gray;
        }
        .blue {
          color: $blue;
        }
      }
      > .content {
        background: $white;
      }
      &.shipping {
        &.separator {
          padding-bottom: 8px;
          border-bottom: 1px solid $gray;
        }
        .content {
          .shipping-address-info {
            display: flex;
            align-items: center;
            padding-top: 8px;
            color: $black;
            > i {
              margin-right: 12px;
              &.lz-location-marker {
                color: $red;
              }
            }
            > input {
              flex: 1;
              max-width: 360px;
              &.bigger {
                padding: 8px 0;
              }
            }
            > input {
              padding: 2px;
              line-height: 20px;
              background: transparent;
              border: none;
              border-bottom: 1px solid $gray;
              border-radius: 0;
              &:focus {
                border-bottom: 1px solid $blue;
              }
            }
            .btn-edit {
              color: $blue;
              cursor: pointer;
              white-space: nowrap;
              > .lz-pencil {
                font-size: 12px;
                margin: 0;
                line-height: 20px;
                padding: 8px 0 8px 8px;
              }
            }
          }
          .shipping-address-info-empty {
            margin-top: 15px;
            color: $dark-gray;
          }
          .checkbox > span {
            color: $dark-gray;
          }
        }
      }
      &.extra-option {
        .content {
          .content-description {
            margin-top: 15px;
            margin-bottom: 0;
            color: $dark-gray;
          }
          .checkbox {
            display: inline-flex;
            .hint-icon {
              margin-left: 4px;
            }
          }
        }
      }
      &.note {
        .content {
          p {
            margin: 8px 0;
            color: $dark-gray;
            > span {
              color: $black;
            }
          }
          label {
            display: block;
            margin-bottom: 10px;
          }
          textarea {
            width: 100%;
            font-size: 14px;
            resize: none;
          }
          .btn-close {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            color: $dark-gray;
            border: 1px solid $dark-gray;
            border-radius: 50%;
            font-size: 10px;
            cursor: pointer;
          }
        }
      }
      &.order-detail {
        .img-lazy {
          display: inline-block;
          position: relative;
          margin-right: 8px;
          margin-top: 8px;
          width: 24px;
          height: 24px;
        }
      }
      .summary {
        padding: 24px 0 8px;
        .est {
          color: $dark-gray;
          margin-left: 5px;
        }
      }
      .merchant-item {
        display: flex;
        flex-wrap: wrap;
        > p {
          flex-basis: 100%;
          margin: 0;
          color: $dark-gray;
          margin-bottom: 5px;
        }
        .avatar {
          display: inline-block;
          width: 50px;
          height: 50px;
          border-radius: $radius-sm;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .detail {
          flex: 1;
          padding: 0 8px;
          max-width: calc(100% - 50px);
          p {
            margin: 0;
            color: $dark-gray;
            font-size: 14px;
            &.title {
              color: $black;
            }
          }
        }
      }
      .order-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        padding: 8px 0;
        &.center {
          align-items: center;
        }
        &.border {
          border-bottom: 1px solid $light-gray;
        }
        &.separate {
          &:not(:first-child) {
            margin-top: 16px;
            &:before {
              content: '';
              position: absolute;
              top: -16px;
              left: 0;
              right: 0;
              height: 10px;
            }
          }
        }
        .deleted {
          text-decoration: line-through;
          color: $gray;
        }
        .main {
          flex: 1;
          .full {
            padding: 8px 16px;
          }
          .lz-crown {
            margin-left: 4px;
          }
        }
        .price {
          margin-left: 4px;
          &.highlight {
            font-weight: bold;
          }
          &.payment-paid {
            color: $green;
          }
          &.payment-unpaid,
          &.payment-refunded,
          &.payment-refunding {
            color: $dark-gray;
          }
          &.payment-refundfail {
            color: $red;
          }
          &.sold-out {
            color: $dark-gray;
          }
          .old {
            margin-left: 4px;
            color: $dark-gray;
            font-size: 14px;
            text-decoration: line-through;
            text-align: right;
          }
        }
        .status {
          flex: 1;
          text-align: right;
          font-weight: bold;
          color: $dark-gray;
          &.locked {
            color: $green;
          }
        }
        .details {
          flex-basis: 100%;
          color: $dark-gray;
          .detail {
            padding: 0;
            font-size: 14px;
          }
        }
        .quantity {
          width: 40px;
          > span {
            padding: 0 8px;
            background: $red;
            color: $white;
            font-size: 12px;
            border-radius: 12px;
          }
        }
        .icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 8px;
          background-color: $gray;
          background-size: cover;
        }
        .extra {
          &.full {
            flex-basis: 100%;
          }
        }
      }
      .shipping-fee {
        > .lz-discount {
          margin-right: 3px;
          color: $green;
          font-size: 20px;
        }
        .old {
          margin-left: 4px;
          color: $red;
          font-size: 14px;
          text-decoration: line-through;
          text-align: right;
        }
      }
    }
    .form-footer {
      display: flex;
      justify-content: space-between;
    }
    .pre-order-confirm-note {
      margin: 0 0 20px;
      padding: 10px;
      border: 1px dashed $gray;
      b {
        color: $orange;
      }
    }
    .code-box {
      &-content {
        input + i {
          position: relative;
          transform: translate(-100%, -50%);
        }
      }
    }
    ._error {
      padding: 8px;
      font-size: 16px;
      text-align: right;
    }
  }
  > .order-step-address {
    margin: 0 auto;
    max-width: 680px;
    .order-step-address-container {
      display: flex;
      flex-direction: column;
      height: 80vh;
      min-height: 640px;
      border-radius: 10px;
      overflow: hidden;
      .map {
        flex: 1;
        position: relative;
        &.unset { // #hackforsafari
          flex: 2;
        }
      }
    }
    h2 {
      @extend %TITLE;
      padding: 30px 15px 10px;
      text-transform: uppercase;
      background: $white;
    }
    .address-content {
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 0 0 10px 10px;
      background: $white;
      overflow: auto;
      &-input-wrapper {
        display: flex;
        position: relative;
        padding: 15px;
        background: $white;
        min-height: 67px; // #hackforsafari
        .lz-marker {
          margin-top: 8px;
        }
        .lz-close {
          display: inline-block;
          position: absolute;
          top: 20px;
          right: 10px;
          padding: 10px;
          color: $gray;
          font-size: 0.8em;
        }
      }
      &-input {
        @extend %HEADING;
        margin-left: 10px;
        padding: 5px 25px 5px 0;
        width: 100%;
        line-height: 25px;
        min-height: 37px; // #hackforsafari
        background: transparent;
        color: $dark-gray;
        border: none;
        border-bottom: 2px solid $light-gray;
        border-radius: 0;
        &:focus {
          border-color: $blue;
        }
      }
      &-result {
        display: flex;
        padding: 15px;
        background: $white;
        cursor: pointer;
        &.separated {
          margin-bottom: 10px;
        }
        .icon {
          width: 20px;
          text-align: center;
          > .icon-radio {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid $blue;
            border-radius: 50%;
            &:after {
              position: absolute;
              top: 4px;
              left: 4px;
              content: '';
              width: 10px;
              height: 10px;
              background: $blue;
              border-radius: 50%;
            }
          }
        }
        .lz {
          display: inline-block;
          margin-top: 2px;
        }
        .content {
          flex: 1;
          margin-left: 10px;
          color: $black;
          h4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > span {
              @extend %text-trimmed;
            }
            > a {
              white-space: nowrap;
            }
          }
          .address {
           @include expander($line: 2);
            color: $dark-gray;
          }
        }
        &.trimmed .content {
          @extend %text-trimmed;
        }
      }
      &-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-top: 1px dashed $light-gray;
        background: $white;
      }
      .resizer-top {
        position: relative;
        padding: 16px 16px 64px;
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 15px;
          left: 50%;
          transform: translateX(-50%);
          width: 40px;
          height: 4px;
          background: $light-gray;
          border-radius: 4px;
        }
        &:after {
          top: 21px;
        }
      }
      .btn-cta {
        left: 0;
        margin: 15px;
        width: calc(100% - 30px) !important;
      }
    }
  }
}

.step-process {
  display: flex;
  margin: 0 auto 10px;
  padding: 8px 0;
  width: 100%;
  max-width: 558px;
  .step {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    color: $dark-gray;
    &.current,
    &.done {
      .label,
      .lz-light-arrow-right {
        color: $red;
      }
      .step-number,
      .lz-check {
        color: #fff;
        background-color: $red;
      }
    }
    &.pre-order {
      .lz-hourglass {
        width: 36px;
        line-height: 36px;
        text-align: center;
        color: $white;
        background-color: $orange;
        font-size: 10px;
        border-radius: 50%;
      }
      .label {
        color: $black;
      }
    }
    .step-number {
      padding: 5px 10px;
      line-height: 20px;
      background-color: $light-gray;
      font-size: 20px;
      font-weight: bold;
      border-radius: 50%;
    }
    .lz-check {
      padding: 5px 8px;
      line-height: 20px;
      background-color: $light-gray;
      font-size: 11px;
      border-radius: 50%;
    }
    .label {
      padding: 0 4px;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
    }
    .lz-light-arrow-right {
      position: absolute;
      left: 0;
      transform: translate(-50%, 50%);
    }
  }
}
