@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.page-order-list {
  @extend %module;
  text-align: center;
  .order-list {
    text-align: left;
    > li + li {
      border-top: 1px solid $gray;
      border-top: 1px solid $gray;
    }
  }
  .order-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: $black;
    background-color: $white;
    .avatar {
      min-width: 50px;
      max-width: 50px;
      flex-grow: 1;
      > img {
        width: 100%;
        object-fit: contain;
        border-radius: $radius-md;
      }
    }
    .content {
      display: flex;
      flex-grow: 1;
    }
    .col {
      flex-grow: 2;
      padding-left: 10px;
      &.created-at {
        flex-grow: 1;
        min-width: 100px;
        max-width: 100px;
      }
      &.actions {
        flex-grow: 1;
        text-align: right;
        min-width: 130px;
        max-width: 130px;
        .btn {
          display: block;
          padding: 8px 12px;
          + .btn {
            margin-top: 8px;
          }
        }
      }
    }
    p {
      margin: 0 0 5px;
      line-height: 20px;
      > label {
        color: $dark-gray;
        margin-right: 5px;
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
    .link-merchant {
      color: $black;
    }
    .order-status {
      text-transform: uppercase;
      font-weight: 700;
      color: $dark-gray;

      &.pre_order {
        color: $dark-gray;
      }
      &.purchasing,
      &.deliverying {
        color: $orange;
      }
      &.cancelled {
        color: $dark-gray;
      }
      &.done {
        color: $green;
      }
    }
  }
}

.mobile {
  .page-order-list {
    padding: 12px;
    .order-item {
      padding: 10px 0;
      .content {
        flex-direction: column;
        .col {
          padding: 2px 0 2px 15px;
          &.created-at {
            display: flex;
          }
          &.created-at,
          &.actions {
            min-width: unset;
            max-width: unset;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: unset;
            a {
              width: auto;
              padding: 8px 12px;
            }
            a + a {
              margin-top: 0;
            }
          }
          &.actions {
            flex-direction: row-reverse;
          }
        }
      }
      .order-status {
        margin-left: 8px;
      }
    }
  }
}
