@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .order-page {
    > .order-step-detail {
      @extend %content;
      padding-top: 36px;
      padding-bottom: 8px;
      overflow: auto;
      &.error {
        text-align: center;
      }
      .map {
        margin-top: -34px;
        overflow: hidden;
        .map-container {
          margin-bottom: -8px;
          min-height: calc(100vh - 62px);
        }
      }
      .section {
        background: $white;
      }
      .shipping-process {
        .visualize {
          max-width: 248px;
          .dot {
            &:not(:first-child):after {
              width: 84px;
            }
          }
        }
      }
      .order-info {
        .order-line {
          &.order-line-user {
            &:not(:first-child) {
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 8px;
                background-color: white;
                background-image: linear-gradient(45deg, $gray 25%, transparent 25%, transparent 75%, $gray 75%, $gray),
                  linear-gradient(45deg, $gray 25%, transparent 25%, transparent 75%, $gray 75%, $gray);
                background-size: 2px 2px;
                background-position: 0 0, 50px 50px;
                border: none !important;
              }
            }
          }
          > :first-child:not(.img-lazy) {
            flex-basis: 38px;
          }
          .price {
            .old {
              display: block;
              font-size: 12px;
            }
          }
        }
      }
      .shipping-fee {
        .old {
          display: flex;
          font-size: 12px;
        }
      }
      .payment-method {
        > .payment-method {
          margin: 0 -16px;
        }
      }
      .cancel-note {
        margin-top: 8px;
      }

      /////////////////////////////
      .section {
        &.shipper,
        &.merchant {
          .content .rating {
            border: none;
          }
        }
        .shipper-item {
          background-color: $red;
          color: $white;
          border-radius: 0;
          &:before {
            background-color: $dark-gray;
          }
        }
      }
      .hotline-notice {
        margin: 10px;
      }
    }
  }
}
