@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .order-page {
    flex: 1;
    margin: 0;
    > .order-step-confirm {
      padding-top: 36px;
      padding-bottom: 95px;
      .section {
        margin: 10px 0;
        > .title {
          padding: 8px 16px;
        }
        &.shipping {
          .content {
            padding: 16px;
            .shipping-address-info {
              > span {
                flex: 1;
              }
              .btn-edit {
                color: $black;
                > .lz-pencil {
                  font-size: 14px;
                }
              }
            }
          }
        }
        &.extra-option {
          .content {
            padding: 15px;
          }
        }
        &.note {
          .content {
            padding: 16px;
          }
        }
        &.cta {
          @extend %layer-nav;
          position: fixed;
          bottom: 0;
          margin: 0;
          padding: 8px;
          width: 100%;
          border-top: 2px solid $light-gray;
          background: $white;
          > .summary {
            margin-bottom: 12px;
            &.text-light {
              font-weight: normal;
            }
            .price {
              &.bold {
                font-weight: bold;
              }
              &.payment-paid {
                color: $green;
              }
              &.payment-unpaid,
              &.payment-refunded,
              &.payment-refunding {
                color: $dark-gray;
              }
              &.payment-refundfail {
                color: $red;
              }
              &.sold-out {
                color: $dark-gray;
              }
            }
          }
        }
        .merchant-item {
          padding: 8px 16px;
          .avatar {
            width: 44px;
            height: 44px;
          }
          .detail {
            max-width: calc(100% - 44px);
          }
        }
        .order-item {
          padding: 12px 16px;
          &.separate {
            &:before {
              background-color: white;
              background-image: linear-gradient(45deg, $gray 25%, transparent 25%, transparent 75%, $gray 75%, $gray),
                linear-gradient(45deg, $gray 25%, transparent 25%, transparent 75%, $gray 75%, $gray);
              background-size: 2px 2px;
              background-position: 0 0, 50px 50px;
              border: none !important;
            }
          }
          .quantity {
            display: inline-block;
            visibility: visible;
            opacity: 1;
          }
          .price {
            order: unset;
            .old {
              display: block;
              font-size: 12px;
            }
          }
          .action {
            flex-basis: 100%;
            justify-content: flex-end;
            margin: 0;
          }
        }
        .shipping-fee {
          .old {
            display: block;
            font-size: 12px;
          }
        }
        .summary {
          padding: 0;
        }
      }
      .pre-order-confirm-note {
        margin: 0 10px 10px;
      }
      .buyInSameBranch {
        padding: 8px 15px;
        background: #fff;
        border-top: 1px solid $gray;
        float: none;
      }
      ._error {
        font-size: 14px;
        text-align: left;
      }
    }
    > .order-step-address {
      height: 100vh;
      .address-content {
        background: $ash-gray;
        border-radius: 10px 10px 0 0;
        &.manual,
        &.confirm {
          background: $white;
          h2 {
            padding-top: 10px;
          }
        }
      }
    }
  }
}
