@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.page.partner-trial {
  .footer-help {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
  }
}

.trial-process {
  margin: 0 auto;
  .step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: $gray;
    &.active {
      background-color: $blue;
    }
  }
  .step + .step {
    margin-left: 100px;
  }
}
.partner-trial-content {
  @extend %module;
  width: 960px;
  margin: 30px auto 15px;
  h1 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 26px;
  }
  h2 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 22px;
  }
  h3 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 18px;
  }
  ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-bottom: 20px;
    > li {
      margin: 0 0 5px;
    }
  }
  ._row {
    display: flex;
    flex-direction: row;
  }
  ._col-40 {
    width: 40%;
    flex-grow: 4;
  }
  ._col-50 {
    width: 50%;
    flex-grow: 5;
  }
  ._col-60 {
    width: 60%;
    flex-grow: 6;
  }
  ._col_100 {
    width: 100%;
    flex-grow: 10;
  }
  .demo-image {
    height: 600px;
  }
  .create-menu {
    h3 {
      margin-bottom: 10px;
    }
    p {
      margin: 0 0 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .form {
      border: 1px dashed $blue;
      border-radius: $radius-md;
      padding: 20px;
    }
    .form + .form {
      margin-top: 10px;
    }
    .form-action {
      text-align: center;
      margin-top: 10px;
    }
    .form-message {
      margin-top: 10px;
      color: $red;
    }
    .thumbnail {
      width: 80px;
      height: 80px;
      position: relative;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      > .btn-clear-dish-image {
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
  }
  .section-help {
    margin-top: 20px;
    > ul {
      margin-top: 20px;
    }
  }

  .finish {
    text-align: center;
  }
}
