@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.payment-page {
  padding: 16px;
  .logo {
    margin: -16px 0 16px;
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  }
  > .container {
    @extend %module;
    font-size: 24px;
    padding: 32px 16px;
    .process-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &.info {
        margin-top: 32px;
        font-size: 18px;
        text-align: left;
      }
      > img {
        max-height: 96px;
        margin-bottom: 32px;
      }
      > span {
        width: 100%;
      }
    }
  }
  &-process {
    @extend %module;
    font-size: 24px;
    padding: 32px 16px;
    margin: 16px;
  }
}

.process-payment {
  margin: 15px 0;
  .panel {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    background-color: $white;
    font-size: 24px;
  }
  .mobile & {
    margin: 15px;
  }
}

.mobile {
  .payment-page {
    .process-item {
      .btn {
        font-size: 18px;
      }
    }
    .logo {
      width: 80px;
    }
  }
}
