@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';

.user-profile-page {
  > .container {
    display: flex;
    margin-top: 32px;
    .profile-navigation-panel {
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      .module {
        @extend %module;
        padding: 0;
        overflow: hidden;
      }
      .profile-card {
        display: flex;
        margin-bottom: 10px;
        padding: 16px;
        background: $white;
        .img-lazy {
          margin: 0;
          width: 70%;
          max-width: 80px;
        }
        > .content {
          padding: 0 16px;
        }
      }
      .profile-navigation {
        display: flex;
        align-items: center;
        position: relative;
        padding: 16px;
        background: $white;
        color: $black;
        .desktop & +.profile-navigation {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 16px;
            right: 16px;
            height: 0;
            border-top: 1px solid $light-gray;
          }
        }
        &.separate {
          margin: 10px 0;
        }
        &.feature-introducer-wrapper {
          >.content {
            flex: unset;
            margin: 0;
          }
          .fa-chevron-right {
            position: absolute;
            right: 16px;
          }
        }
        > :first-child {
          margin-right: 5px;
        }
        > .content {
          flex: 1;
          margin-right: 5px;
          > i {
            margin-left: 5px;
            line-height: 20px;
          }
        }
      }
    }
    .profile-content-panel {
      flex: 1;
      flex-basis: 100%;
      overflow: hidden;
      .desktop & {
        padding-left: 15px;
      }
    }
    .tab-navigation {
      padding: 0;
      font-size: 18px;
      margin-bottom: 15px;
      cursor: pointer;
      white-space: nowrap;
      overflow-x: auto;
      > li {
        display: inline-block;
        > a {
          font-weight: 700;
          border-radius: 5px;
          background-color: transparent;
          display: block;
          color: $black;
          line-height: 20px;
          padding: 10px 15px;
          &.active {
            background-color: $light-gray;
          }
        }
      }
    }
  }
}

.user-profile-update {
  .desktop & {
    @extend %module;
    padding: 0;
    overflow: hidden;
  }
  .section {
    padding: 8px 0 !important;
    background: $white;
    &-avatar {
      position: relative;
      text-align: center;
      .img-lazy {
        width: 80px;
        > img {
          position: relative;
        }
      }
    }
    .profile-item {
      @extend %text-trimmed;
      padding: 8px 16px;
      > i {
        display: inline-block;
        width: 28px;
        text-align: center;
        &.lz-email {
          font-size: 12px;
        }
      }
      .action-item {
        cursor: pointer;
        > i {
          display: inline-block;
          width: 28px;
          text-align: center;
          &.lz-email {
            font-size: 12px;
          }
        }
      }
      .social-item {
        padding: 10px;
        color: $facebook;
        border: 1px solid $light-gray;
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        white-space: normal;
        cursor: pointer;
        > .fa-facebook {
          font-size: 1.4em;
        }
      }
      .fb-info-item {
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1px solid $light-gray;
        border-radius: 8px;
        white-space: normal;
        > .img-lazy {
          width: 32px;
          margin-right: 8px;
          margin-bottom: -4px;
        }
        > .name {
          flex: 1;
          font-weight: bold;
        }
      }
      .desktop & {
        .social-item,
        .fb-info-item {
          margin: 0 -8px;
        }
      }
    }
  }
}

.user-payment-card {
  padding-top: 40px;
  .desktop & {
    @extend %module;
  }
  .popup & {
    padding: 0;
    text-align: initial;
    .list-payment-card {
      margin: -16px;
      .list-item .content {
        padding: 0 0 0 8px;
      }
    }
  }
  .payment-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: $dark-gray;
    text-align: center;
    > p {
      margin: 16px 0;
    }
  }
  .list-payment-card {
    margin-top: 8px;
    & + .list-payment-card {
      border-top: 1px solid $light-gray;
    }
    .title {
      padding: 16px 16px 0;
    }
    .list-item {
      align-items: center;
      padding: 16px;
      cursor: pointer;
      &.add-card {
        cursor: pointer;
      }
      .figure {
        flex-basis: 32px;
        > img {
          width: 32px;
        }
      }
      .action {
        margin-right: -16px;
        padding: 8px 16px;
        cursor: pointer;
      }
    }
  }
}

.user-favorite-eateries {
  padding-top: 40px;
  .desktop & {
    @extend %module;
    .section-newsfeed {
      .content {
        .eatery-item {
          width: calc(100% / 4 - 16px);
        }
      }
    }
  }
  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: $dark-gray;
    text-align: center;
    >img {
      width: 150px;
    }
    > p {
      margin: 10px 0;
      max-width: 400px;
    }
  }
}
