@import '../utils/placeholders';
@import '../utils/variables';
@import '../utils/mixins';
.mobile {
  .user-profile-page {
    > .container {
      flex-wrap: wrap;
      margin-top: 16px;
      .profile-navigation-panel {
        max-width: unset;
      }
      .tab-navigation {
        margin: 10px;
        text-align: center;
      }

      .detail-panel {
        flex-basis: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
        width: 100%;
        .tab-navigation {
          padding: 0;
          font-size: 18px;
          cursor: pointer;
          margin: 10px;
          > li {
            display: inline-block;
            > a {
              font-weight: 700;
              border-radius: 5px;
              background-color: transparent;
              display: block;
              color: $black;
              line-height: 20px;
              padding: 10px 15px;
              &.active {
                border-bottom: 3px solid #424242;
                border-radius: 0;
              }
            }
          }
        }
      }
    }
  }
  .user-profile-update {
    padding-top: 36px;
    .section {
      margin-top: 8px;
    }
  }
  .user-payment-card {
    .payment-empty {
      min-height: 80vh;
    }
  }
}
